@import "variables";
@import "sidebar";
//@import "buttons";


body, a, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 0.5px;
}

h1 {
  font-weight: 300;
  //font-size: 96px;
  letter-spacing: -0.5px;
}
h2 {
  font-weight: 300;
  //font-size: 60px;
  letter-spacing: -0.5px;
}
h3 {
  font-style: normal;
  font-weight: normal;
  //font-size: 48px;
}
h4 {
  font-style: normal;
  font-weight: normal;
  //font-size: 34px;
  letter-spacing: 0.25px;
}
h5 {
  font-style: normal;
  font-weight: normal;
  //font-size: 24px;
}
