@import "variables";
@import "sidebar";
@import "header";
//@import "buttons";

:root {
    --sidebar-background: #333;
    --sidebar-text: #eee;
    --sidebar-link: #fff;
    --campaign-switcher-background: #1F1F1F;

    /** New profile / notification / campaign switcher options **/
    --notification-accent: var(--conversation-comment-background);
    --header-mode-inactive: #ececec;
    --campaign-switcher-text: #1b1b1b;
}

body, a, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
html {
  font-size: 16px;
}
body {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 0.5px;
}

h1 {
  font-weight: 300;
  //font-size: 96px;
  letter-spacing: -0.5px;
}
h2 {
  font-weight: 300;
  //font-size: 60px;
  letter-spacing: -0.5px;
}
h3 {
  font-style: normal;
  font-weight: normal;
  //font-size: 48px;
}
h4 {
  font-style: normal;
  font-weight: normal;
  //font-size: 34px;
  letter-spacing: 0.25px;
}
h5 {
  font-style: normal;
  font-weight: normal;
  //font-size: 24px;
}
a:hover, a:active, a:focus {
  outline: none;
  text-decoration: none;
}
