.bg-navbar {
    background-color: var(--main-navbar-background);
    z-index: 50;
}

.navigation-drawer {
    width: 82%;
    background-color: var(--main-navbar-background);
    z-index: 2;

    .header {
        .inactive {
            background-color: var(--header-mode-inactive, #ececec);
            min-width: 72px;

            &:hover {
                color: var(--header-block-hover-text, #2b2e2e);
            }
            .profile-box:hover {
                background-color: var(--header-profile-hover, #2b2e2e);
            }
        }


        .profile-box {
            background-color: var(--header-profile-background, #333);
            color: var(--header-profile-text, white);
        }
    }

    .campaigns {
        .campaign {
            background-image: url(https://images.kanka.io/app/L5nSYCLgwtxR3wlUGk16fMZ0zAU=/280x210/src/images%2Fbackgrounds%2Fmountain-background-medium.jpg);

            .name {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--main-navbar-background) 100%);
                color: var(--campaign-switcher-text, #1b1b1b);
            }

            &:hover {
                box-shadow: var(--input-border-color) 0 1px 5px;
            }
        }

        .campaign.boosted {
            &:before {
                content: "\f135";
                font-family: "Font Awesome 6 Pro";
                font-weight: 900;
                font-style: normal;
                font-variant: normal;
                line-height: 1;
                text-rendering: auto;
                font-size: 14px;
                position: absolute;
                z-index: 10;
                display: block;
                border-radius: 9999px;
                --tw-bg-opacity: 1;
                color: var(--boosted);
                top: 15px;
                right: 15px;
            }
        }
    }
    .profile {
        .background-accent {
            background-color: var(--notification-accent);
        }
        .marketplace {
            .icon {
                color: var(--link-text);
                background-color: var(--input-border-color);
            }
        }
    }
    .bordered {
        border-width: 1px;
        border-color: var(--input-border-color);
    }
    .bordered {
        color: var(--header-link-colours);
    }

    .link {
        color: var(--link-text);
    }

    .hover\:drop-shadow {
        background-color: var(--main-navbar-background);
    }
}
.nav-switcher {
    .profile .profile-box {
        background-color: var(--header-profile-background, #333);
        color: var(--header-profile-text, white);

        &:hover {
            background-color: var(--header-profile-hover, #2b2e2e);
        }
    }
    .campaigns:hover {
        color: var(--header-block-hover-text, #2b2e2e);
    }
}


@media (min-width: 768px) {
    .sidebar-collapse .main-header .navbar {
        margin-left: 0;
    }
    .navigation-drawer {
        width: 380px;
    }
}

.indicator {
    position: relative;
    display: inline-flex;
    width: max-content;

    .notification-badge {
        right: -0.2rem;
        left: auto;
        top: auto;
        bottom: -0.2rem;
        --tw-translate-x: 50%;
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));

        --s: var(--notification-badge);
        border: 1px solid var(--main-navbar-background);
        --tw-bg-opacity: 1;
        background-color: var(--s);
        --tw-text-opacity: 1;
        color: var(--s);
        z-index: 1;
        position: absolute;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 0.5rem;
        width: -moz-fit-content;
        width: fit-content;
        padding: 0.3rem;
        border-radius: var(--rounded-badge,1.9rem);
    }
}


/**
 * Lookup
 */
.hover\:lookup-entity:hover {
    background-color: var(--lookup-entity-hover, rgba(0, 0, 0, 0.1));
}
