body .main-header {
    box-shadow: unset;

    .sidebar-toggle {
        display: block;
        text-align: center;
        transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    }

    .navbar {
        margin-left: $sidebarWidth;

        .dropdown-toggle {
            height: 50px;

            img {
                width: 25px;
                height: 25px;
            }
        }

        .dropdown {
            .avatar {
                width: 150px;
                height: 150px;
            }

            .profile-avatar-link {
                padding: 0;
            }
        }
    }

    .navbar .navbar-custom-menu .navbar-nav > li > a, .navbar .navbar-right > li > a {
        border: unset;
        font-size: 18px;
    }

    .navbar .sidebar-toggle {
        border: unset;
    }
}
body .main-header.main-header-start {
    background-color: #fff;
}

.navigation-drawer {
    width: 82%;
    background-color: var(--main-navbar-background);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0 6px 6px rgba(50, 50, 93, 0.31), 0 1px 3px rgba(0, 0, 0, 0.08);

    .header {
        .inactive {
            background-color: var(--header-mode-inactive, #ececec);
            min-width: 72px;
        }

        .profile-box {
            background-color: #333;
            color: white;
        }
    }

    .campaigns {
        .campaign {
            background-image: url(https://images.kanka.io/app/L5nSYCLgwtxR3wlUGk16fMZ0zAU=/280x210/src/images%2Fbackgrounds%2Fmountain-background-medium.jpg);

            .name {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--main-navbar-background) 100%);
                color: var(--campaign-switcher-text, #1b1b1b);
            }
        }

        .campaign.boosted {
            &:before {
                content: "";
                position: absolute;
                z-index: 10;
                display: block;
                border-radius: 9999px;
                --tw-bg-opacity: 1;
                background-color: var(--boosted);
                width: 15px;
                height: 15px;
                top: 15px;
                right: 15px;
            }
        }
    }
    .profile {
        .background-accent {
            background-color: var(--notification-accent);
        }
        .marketplace {
            .icon {
                color: var(--link-text);
                background-color: var(--input-border-color);
                aspect-ratio: 1;
            }
        }
    }
    .bordered {
        border: 1px solid var(--input-border-color);
    }
    a.bordered:hover {
        border-color: var(--link-hover);
    }
}
.nav-switcher {
    .profile .profile-box {
        background-color: var(--nav-drawer-profile-background, #333);
        color: var(--nav-drawer-profile-text, white);
    }
}

/** Mobile **/
@media (max-width: 767px) {
  body .main-header .navbar {
    margin-left: 0;
  }
  .main-header {
    background-color: #fff;

    .navbar {
      margin-left: 0;
    }
  }
}

@media (min-width: 768px) {
    .sidebar-collapse .main-header .navbar {
        margin-left: 0;
    }
    .navigation-drawer {
        width: 380px;
    }
}
