:root {
  --quick-creator-background: var(--link-text);
  --quick-creator-text: var(--label-default-text);
}

.content-wrapper {
  margin-left: $sidebarWidth;
}

.main-sidebar {
  width: 280px;
  background-color: var(--sidebar-background);
  color: var(--sidebar-text);

  background-size: 280px 210px;
  background-repeat: no-repeat;

  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  min-height: 100%;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;

  a {
    color: var(--sidebar-link);
  }

  .sidebar-menu {
    background-color: unset;
    margin-bottom: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: no-wrap;

    .sidebar-icon-link {
      color: #474747;
      font-size: 16px;

      .fas, .fa, .far, .fab, .ra, .fa-solid, .fa-regular, .fa-brands, .fa-light, .fa-thin, .fa-duotone {
        width: 20px;
      }
      &:hover {
        color: #C2C2C2;
        background: unset;
      }
    }

    li.sidebar-section {
      .sidebar-text {
        padding: 6px 5px 6px 15px;
      }
    }
    li {
      .fa, .ra, .fas, .far, .fab, .fa-solid, .fa-regular, .fa-brands, .fa-light, .fa-thin, .fa-duotone {
        font-size: 14px;
        width: 22px;
      }
      padding: 0 12px;
      min-height: 38px;

      &:hover {
        a {
          background: unset;
        }
      }
      a, span {
        display: block;
        font-size: 11px;
        line-height: 22px;
        color: var(--sidebar-link);
        letter-spacing: 1.5px;
        text-transform: uppercase;
      }
      a {
        border-left: unset;
        overflow: hidden;
        &:hover {
          background: rgba(0, 0, 0, 0.16);
          border-radius: 8px;
        }
      }

      ul.sidebar-submenu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          padding-left: 12px;
          margin: 1px 0;
        }
      }
    }
    li.active > a, li.active.sidebar-section {
        border: none;
        background: rgba(0, 0, 0, 0.24);
        box-shadow: inset 1px 2px 6px rgba(0, 0, 0, 0.16);
        border-radius: 8px;
    }


    .quick-creator-element {
      text-align: center;
      margin-bottom: 0.25rem;
      .quick-creator-button {
        display: flex;
        align-items: baseline;
        justify-content: center;
        font-size: 0.9rem;
        padding: 0.5rem 0;
        width: 70%;
        cursor: pointer;
        text-align: center;
        color: var(--quick-creator-button-text);
        mix-blend-mode: normal;
        background-color: var(--quick-creator-button-background);
        text-transform: uppercase;
        border-radius: 5px;
        i {
          font-size: 1rem;
        }

        &:hover {
          transition: all 0.5s ease-in-out;
          background-color: var(--quick-creator-button-hover-background);
        }
      }
    }
  }
}
.main-sidebar-placeholder {
background-image: url(https://images.kanka.io/app/L5nSYCLgwtxR3wlUGk16fMZ0zAU=/280x210/src/images%2Fbackgrounds%2Fmountain-background-medium.jpg);
  z-index: 820;
}
.sidebar-menu {
  .fa, .fas, .fab, .far, .ra, .fa-solid, .fa-regular, .fa-brands, .fa-light, .fa-thin, .fa-duotone {
    display: inline-block;
    width: 20px;
  }
  li > .treeview-menu {
    background-color: unset;
  }
  li > a, li > span {
      padding: 8px 5px 8px 15px;
  }
}

section.sidebar-campaign {
height: 160px;
background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, var(--sidebar-background) 100%);
overflow: hidden;

.campaign-block {
text-align: left;
height: 120px;
left: 60px;
padding: 0 24px;
padding-top: 96px;

.campaign-head {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  height: 24px;
  word-break: break-all;

  .campaign-name {
    overflow: hidden;
    display: block;
    max-height: 24px;
    cursor: pointer;

    .fa-caret-down {
      transition: transform 0.5s ease;
    }
    .fa-caret-down.flipped {
      transform: rotate(-180deg);
    }
  }

  .campaign-updated {
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

        letter-spacing: 0.4px;

        /* Soft grey */

        color: #C2C2C2;
        mix-blend-mode: normal;
      }
    }
  }
}

.campaign-switcher-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1079;
  outline: 0;
}
.campaign-switcher {
  background-color: var(--campaign-switcher-background);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33), 2px 2px 16px rgba(0, 0, 0, 0.33);
  border-radius: 8px;
  z-index: 1080;

  width: 256px;
  position: absolute;
  left: 78px;
  top: 180px;

  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;

  text-transform: uppercase;

  .section {
    color: #757575;
    padding: 12px 16px 4px 16px;
    font-weight: 500;

    display: flex;
    justify-content: space-between;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: block;
      height: 48px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right center;

      a {
        padding: 12px 16px;
        width: 100%;
        letter-spacing: 1.5px;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.12);
        line-height: 32px;
        height: 48px;
        display: block;
        overflow: hidden;
        position: absolute;
        font-size: 11px;
        word-break: break-all;
        transition: all 0.3s ease;

        &:hover {
          letter-spacing: 1.8px;
        }
      }

      .background-image, .background-gradient {
        position: absolute;
        width: 208px;
        height: 48px;
        right: 0;
      }
      .background-gradient {
        background: linear-gradient(270deg, rgba(31, 31, 31, 0) 0%, var(--campaign-switcher-background) 100%);
      }
    }

    li.bordered {
      padding: 0;
      margin: 4px 8px 0 8px;
      a {
        color: #757575;
        border: 1px dashed #474747;
        box-sizing: border-box;
        border-radius: 8px;
        height: 40px;
        padding: 4px 10px;
        display: block;
        margin: 0;
        width: 240px;
        transition: all 0.3s ease;

        &:hover {
          border: 1px dashed #757575;
          color: #999;
        }
      }
    }
  }
}


.sidebar-creator {
  position: fixed;
  width: $sidebarWidth;
  height: 48px;
  bottom: 0;
  left: 0;
  background-color: $neutralColour;
  transform: translate(0, 0);
  z-index: 825;

  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;

  a {
    text-align: center;
    color: #fff;
    mix-blend-mode: normal;

    // Whole button clickable
    width: 100%;
    //padding: 14px 0;

    flex: none;
    order: 1;
    align-self: center;
    //margin: 8px 0px;

    line-height: 16px;
    font-size: 14px;
    letter-spacing: 0.75px;
    text-transform: uppercase;

    span {
      transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    }
  }
}

body .main-sidebar, body .left-side {
  background-color: var(--sidebar-background);
}
.main-sidebar .sidebar li {
  .fa, .fas, .fab, .far, .ra, .fa-solid, .fa-regular, .fa-brands, .fa-light, .fa-thin, .fa-duotone {
    font-size: 14px;
    vertical-align: text-bottom;
  }
}

.main-footer, .navbar {
  margin-left: 280px;
}



/** Mobile **/
@media (max-width: 767px) {
  .main-sidebar {
    transform: translate(-280px, 0);
  }
  .sidebar-creator {
    transform: translate(-280px, 0);
  }
  .content-wrapper, .main-footer {
    margin-left: 0;
  }


  .sidebar-open .content-wrapper, .sidebar-open .main-footer {
    transform: translate($sidebarWidth, 0);
  }
  .sidebar-open .sidebar-creator {
    transform: translate(0, 0);
  }

  .campaign-switcher {
    left: 10px;
  }
}
@media (min-width: 768px) {
  .sidebar-collapse .main-sidebar {
    transform: translate(0, 0);
    width: 0 !important;
    z-index: 850;
  }
  .sidebar-collapse .sidebar-creator {
    width: 50px !important;
    span {
      display: none;
    }
  }
  .sidebar-collapse .content-wrapper, .sidebar-collapse .right-side, .sidebar-collapse .main-footer {
    margin-left: 0 !important;
    z-index: 840;
  }

  .sidebar-collapse .sidebar-menu > li > .sidebar-text > span, .sidebar-collapse .campaign-updated, .sidebar-collapse .campaign-name {
    display: none !important;
  }
}
