# =================================================================
# Kanka — Configuration selfhost
# cp .env.example .env puis remplir les valeurs vides
# Ne jamais commiter le .env
# =================================================================

KANKA_VERSION=3.9

APP_NAME="Kanka"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://TON_IP
APP_PORT=8080
APP_EMAIL=ton@email.com

APP_REGISTRATION_ENABLED=true
APP_INVITATION_REQUIRED=false
APP_INVITATION_PASSWORD=

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=kanka
DB_USERNAME=kanka
DB_PASSWORD=
DB_ROOT_PASSWORD=

CACHE_DRIVER=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120
QUEUE_CONNECTION=sync
REDIS_HOST=redis
REDIS_PORT=6379

FILESYSTEM_DRIVER=public

SCOUT_DRIVER=meilisearch
SCOUT_QUEUE=true
MEILISEARCH_HOST=http://meilisearch:7700
MEILISEARCH_KEY=

THUMBOR_URL=http://thumbor-proxy
THUMBOR_SECURITY_KEY=

MAIL_MAILER=log
MAIL_FROM_ADDRESS=kanka@local
MAIL_FROM_NAME="${APP_NAME}
FORCE_HTTPS=false"

FONTAWESOME_KIT=