/node_modules
/public/hot
/public/storage
/public/.htaccess
/public/exports
/public/info.php
/public/robots.txt
#/public/images/defaults/patreon
/storage/*.key
/storage
/vendor
/.scannerwork
/.idea
/.vagrant
/.vscode
/.sail
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.local
.DS_Store
.phpunit.result.cache
*.sql
package-lock.json

meilisearch
data.ms/instance-uid
data.ms/VERSION
.gitignore
data.ms/auth/data.mdb
.gitignore
data.ms/auth/lock.mdb
data.ms/tasks/data.mdb
data.ms/tasks/lock.mdb
meili_data/data.ms/instance-uid
.gitignore
meili_data/data.ms/VERSION
meili_data/data.ms/auth/data.mdb
.gitignore
meili_data/data.ms/tasks/data.mdb
meili_data/data.ms/auth/lock.mdb
.gitignore
meili_data/data.ms/tasks/lock.mdb
