/node_modules
/public/hot
/public/storage
/public/.htaccess
/public/exports
/public/info.php
/public/robots.txt
#/public/images/defaults/patreon
/storage/*.key
/storage
/vendor
/.scannerwork
/.idea
/.vagrant
/.vscode
/.sail
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.local
.DS_Store
.phpunit.result.cache
*.sql
package-lock.json
.phpstorm.meta.php
_ide_helper.php
test.json
