/node_modules
/public/hot
/public/storage
/public/.htaccess
/public/exports
/public/info.php
/public/robots.txt
#/public/images/defaults/patreon
/storage/*.key
/storage
/vendor
/.scannerwork
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
