includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # The level 9 is the highest level
    level: 5

    excludePaths:
        - ./*/*/FileToBeExcluded.php
        - ./app/Models/Concerns/*.php
        - ./app/Console/Commands/*.php
        - ./app/Models/EntityMention.php
        - ./app/Models/ImageMention.php

    treatPhpDocTypesAsCertain: false
