includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    ignoreErrors:
        - identifier: unset.possiblyHookedProperty
        - identifier: function.alreadyNarrowedType
        - identifier: trait.unused


    paths:
        - app/

    # The level 9 is the highest level
    level: 5

    excludePaths:
        - ./*/*/FileToBeExcluded.php
        - ./app/Models/Concerns/*.php
        - ./app/Console/Commands/*.php
        - ./app/Models/Scopes/AclScope.php

    treatPhpDocTypesAsCertain: false
