.bg-entity-focus {
    --tw-bg-opacity: 1;
    background-color: var(--lookup-entity-background, hsl(var(--b3)/var(--tw-bg-opacity)));
}

.navigation-drawer {
    width: 82%;
    z-index: 20;

    .header {
        .inactive {
            min-width: 72px;

            &:hover {
                color: var(--header-block-hover-text, #2b2e2e);
            }
            .profile-box:hover {
                background-color: var(--header-profile-hover, #2b2e2e);
            }
        }


        .profile-box {
            background-color: var(--header-profile-background, #333);
            color: var(--header-profile-text, white);
        }
    }

    .campaigns {
        .campaign {
            background-image: url(https://th.kanka.io/c26cVXHRNnJXThmKZry4xpUuBS8=/100x96/smart/src/app/backgrounds/mountain-background-medium.jpg);

            .name {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, hsl(var(--b2)/1) 100%);
                color: var(--campaign-switcher-text, hsl(var(--bc)/1));
            }
        }

        .campaign.boosted {
            &:before {
                content: "\f135";
                font-family: "Font Awesome 6 Pro";
                font-weight: 900;
                font-style: normal;
                font-variant: normal;
                line-height: 1;
                text-rendering: auto;
                font-size: 14px;
                position: absolute;
                z-index: 10;
                display: block;
                border-radius: 9999px;
                --tw-bg-opacity: 1;
                color: hsl(var(--boosted)/var(--tw-text-opacity));
                top: 15px;
                right: 15px;
            }
        }
    }
    .profile {
        .marketplace {
            .icon {
                color: var(--link-text);
            }
        }
    }

    .link {
        color: var(--link-text);
    }

    .hover\:drop-shadow {
        background-color: var(--main-navbar-background);
    }
}
.nav-switcher {
    .profile .profile-box {
        background-color: var(--header-profile-background, #333);
        color: var(--header-profile-text, white);

        &:hover {
            background-color: var(--header-profile-hover, #2b2e2e);
        }
    }
}


@media (min-width: 768px) {
    .sidebar-collapse .main-header .navbar {
        margin-left: 0;
    }
    .navigation-drawer {
        width: 380px;
    }

    .toggle-and-search .w-sidebar {
        width: 300px;
    }
}

.indicator {
    .notification-badge {
        right: -0.2rem;
        bottom: -0.2rem;
        --tw-translate-x: 50%;
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));

        --tw-bg-opacity: 1;
        background-color: hsl(var(--boosted)/var(--tw-bg-opacity));
        --tw-text-opacity: 1;
        color: hsl(var(--boosted)/var(--tw-text-opacity));
        line-height: 0.5rem;
        padding: 0.3rem;
        border-radius: var(--rounded-badge,1.9rem);
    }
}


/**
 * Lookup
 */
.search-recent, .search-preview {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
    color: var(--lookup-text, hsl(var(--bc)/1));
}
.hover\:lookup-entity:hover {
    background-color: var(--lookup-entity-hover, rgba(0, 0, 0, 0.1));
}
