:root {
    --sidebar-width: 280px;
}

.content-wrapper {
    margin-left: var(--sidebar-width);
}

.w-sidebar {
    width: var(--sidebar-width);
}
.h-sidebar {
    height: calc(100vh - 3rem);
}

.main-sidebar {
    width: var(--sidebar-width);
    background-color: var(--sidebar-background);
    color: var(--sidebar-text, #eee);

    background-size: var(--sidebar-width) 210px;
    background-repeat: no-repeat;
    padding-top: 50px;
    min-height: 100%;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;

    a {
        color: var(--sidebar-link, #fff);
    }

    .sidebar-menu {
        li {
            a, span {
                font-size: 0.8rem;
                color: var(--sidebar-link, #fff);
                letter-spacing: 1.5px;
                text-transform: uppercase;
            }

            a {
                &:hover {
                    background: rgba(0, 0, 0, 0.16);
                }
            }
        }

        li.active > a, li.active.sidebar-section {
            background: rgba(0, 0, 0, 0.24);
        }
    }
}
.main-sidebar-placeholder {
    background-image: var(--sidebar-placeholder, url(https://images.kanka.io/app/L5nSYCLgwtxR3wlUGk16fMZ0zAU=/280x210/src/images%2Fbackgrounds%2Fmountain-background-medium.jpg));
}

section.sidebar-campaign {
    background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, var(--sidebar-background) 100%);
}

.main-footer {
    margin-left: var(--sidebar-width);
}


.sidebar-toggle {
    color: var(--theme-main-text);
}
.sidebar-toggle [data-sidebar="collapse"] {
    display: none;
}
.sidebar-toggle [data-sidebar="expand"] {
    display: unset;
}

body.sidebar-open .sidebar-toggle [data-sidebar="collapse"] {
    display: unset;
}
body.sidebar-open .sidebar-toggle [data-sidebar="expand"] {
    display: none;
}


/** Mobile **/
@media (max-width: 767px) {
    .main-sidebar {
        transform: translateX(calc(0px - var(--sidebar-width)));
    }
    .content-wrapper, .main-footer {
        margin-left: 0;
    }


    .sidebar-open .main-sidebar {
        transform: translate(0);
    }
    .sidebar-open .content-wrapper, .sidebar-open .main-footer {
        transform: translate(var(--sidebar-width), 0);
    }
}
@media (min-width: 768px) {
    .sidebar-collapse .main-sidebar {
        transform: translate(0, 0);
        width: 0 !important;
        z-index: 850;
    }
    .sidebar-collapse .content-wrapper, .sidebar-collapse .right-side, .sidebar-collapse .main-footer {
        margin-left: 0 !important;
        z-index: 840;
    }

    .sidebar-toggle [data-sidebar="collapse"] {
        display: unset;
    }
    .sidebar-toggle [data-sidebar="expand"] {
        display: none;
    }

    body.sidebar-collapse .sidebar-toggle [data-sidebar="collapse"] {
        display: none;
    }
    body.sidebar-collapse .sidebar-toggle [data-sidebar="expand"] {
        display: unset;
    }
}
