.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
.inline {
    display: inline;
}
.table {
    display: table;
}
.hidden {
    display: none;
}
.grid {
    display: grid;
}
.flex {
    display: flex;
}
.\!flex {
    display: flex !important;
}


@media (min-width: 768px) {
    .md\:flex {
        display: flex;
    }
    .md\:grid {
        display: grid;
    }
}
