@import "spacing";
@import "sizes";
@import "flex";
@import "grid";
@import "display";
@import "floating-forms";
@import "layout";
@import "borders";
@import "effects";
@import "drop-shadow";
@import "background-color";
@import "user-select";
@import "position";
@import "interactivity";
@import "typography";


.list-none {
  list-style-type: none;
}


.line-through {
    text-decoration-line: line-through;
}
.no-underline {
    text-decoration-line: none;
}


.hover\:link:hover {
    color: var(--link-hover);
}
