.ability-parent {
    .ability-name {
        .name {
            color: white;
            text-shadow: rgba(0, 0, 0, 0.8) 0 1px 4px;
        }
    }
}
.ability-parent.without {
    .ability-name {
        background-image: none;

        &:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }
    }
}
.ability-parent.active {
    .ability-name {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
.ability-parent.active.without {
    .ability-name {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.ability {
    .ability-image {
        transition: filter 0.5s ease-in-out;
        &:hover {
            -webkit-filter: saturate(3);
            filter: saturate(3);
        }
    }
    a:hover {
        background-color: unset !important;
    }
}

.charges{
    .charge {
        border: 1px solid #666;

    }
    .used {
        &:before {
            content: "";
            display: block;
            height: 10px;
            width: 10px;
            margin-top: 4px;
            margin-left: 4px;
            background-color: #515251;
        }
    }
}
