

.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black {
    color:#fff !important
}
.bg-gray {
    color:#000;
    background-color:#d2d6de !important
}
.bg-black {
    background-color:#111 !important
}
.bg-red {
    background-color:#dd4b39 !important
}
.bg-yellow, .label-warning {
    background-color:#f39c12 !important
}
.bg-aqua {
    background-color: #00c0ef !important;
}
.bg-blue {
    background-color:#0073b7 !important
}
.bg-light-blue {
    background-color:#3c8dbc !important
}
.bg-green {
    background-color:#00a65a !important
}
.bg-navy {
    background-color:#001F3F !important
}
.bg-teal {
    background-color:#39CCCC !important
}
.bg-olive {
    background-color:#3D9970 !important
}
.bg-lime {
    background-color:#01FF70 !important
}
.bg-orange {
    background-color:#FF851B !important
}
.bg-fuchsia {
    background-color:#F012BE !important
}
.bg-purple {
    background-color:#605ca8 !important
}
.bg-maroon {
    background-color:#D81B60 !important
}



/*.nav-stacked > li > a, .nav-pills > li > a {
    border-left: 3px solid transparent;
    border-radius: 0;
}
.nav-stacked > li.active > a, .nav-stacked > li.active > a:hover {
    background: transparent;
    border-left-color: #3c8bdc;
    border-top: 0;
}*/

.no-padding {
    padding: 0 !important;
}

.btn-warning {
    background-color: #f39c12;
    border-color: #e08e0b;
}

.tab-content {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px;
}

/** Achievements **/
.info-box {
    background: #fff;
}
.info-box .progress {
    background: rgba(0, 0, 0, 0.2);
    height: 2px;
}
.info-box .progress .progress-bar {
    background: #fff;
}
.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    background: rgba(0, 0, 0, 0.2);
}

