

.bg-red,
.bg-yellow,
.bg-brown,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-orange,
.bg-purple,
.bg-maroon,
.bg-gray,
.bg-pink,
.bg-black {
    color:#fff !important
}
.bg-gray {
    background-color: #797676 !important
}
.bg-black {
    background-color:#111 !important
}
.bg-red {
    background-color: #D93D33 !important
}
.bg-yellow {
    background-color:#f39c12 !important
}
.bg-aqua {
    background-color: #00829B !important;
}
.bg-blue {
    background-color:#0073b7 !important
}
.bg-light-blue {
    background-color: #3A7CAD !important
}
.bg-green {
    background-color: #058943 !important
}
.bg-navy {
    background-color:#001F3F !important
}
.bg-teal {
    background-color: #2D8289 !important
}
.bg-orange {
    background-color: #C85208 !important
}
.bg-purple {
    background-color:#605ca8 !important
}
.bg-maroon {
    background-color:#D81B60 !important
}
.bg-pink {
    background-color: #C822D7 !important;
}
.bg-brown {
    background-color: #a35831 !important;
}
