
@tailwind base;
@tailwind components;
@tailwind utilities;


// Login / Register
.login-page, .register-page {
    background-color: #eef1f4;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /*.login-logo {
        img {
            display: inline-block;
            width: 96px;
            margin-top: -8px;
        }
    }*/

    .login-box, .register-box {
        /*margin-left: auto;
        margin-right: auto;
        margin-top: 100px;*/

        /*.login-box-body, .register-box-body {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
            border-radius: 10px;
            background: white;
            padding: 20px;
        }*/

        /*h1 {
            font-size: 1.8rem;
            line-height: 1.25rem;
        }*/
    }

    .btn-app {
        .fab {
            font-size: 20px;
            display: block;
        }
    }

    .btn-link {
        white-space: unset;
    }

    .btn-app {
        border-radius: 3px;
        position: relative;
        padding: 15px 5px;
        margin: 0 0 10px 10px;
        min-width: 80px;
        height: 60px;
        text-align: center;
        color: #666;
        border: 1px solid #ddd;
        background-color: #f4f4f4;
        font-size: 12px;
    }

    .btn-facebook {
        color: #fff;
        background-color: #3b5998;
        border-color: rgba(0, 0, 0, .2);
    }

    .btn-google {
        color: #fff;
        background-color: #dd4b39;
        border-color: rgba(0, 0, 0, .2);
    }

    .btn-twitter {
        color: #fff;
        background-color: #55acee;
        border-color: rgba(0, 0, 0, .2);
    }
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .login-box, .register-box {
    width: 420px;
  }

  .login-page, .register-page, header.masthead-img {
    background-image: url(https://images.kanka.io/app/fRvHCH-8nraqMOxYiqN7rOJtq7I=/src/images%2Fbackgrounds%2Fmountain-background-desktop.jpg);
  }
  .login-page.webpfallback, .register-page.webpfallback, header.masthead-img.webpfallback {
    background-image: url(https://images.kanka.io/app/fRvHCH-8nraqMOxYiqN7rOJtq7I=/src/images%2Fbackgrounds%2Fmountain-background-desktop.jpg?webpfallback);
  }
}

@media (max-width:991px) {
    .login-page, .register-page, header.masthead-img {
    background-image: url(https://images.kanka.io/app/WgTgGlDmiswpJ1cBISY3xEcwL7U=/src/images%2Fbackgrounds%2Fmountain-background-mobile.jpg) !important;
  }
  .login-page.webpfallback, .register-page.webpfallback, header.masthead-img.webpfallback {
    background-image: url(https://images.kanka.io/app/WgTgGlDmiswpJ1cBISY3xEcwL7U=/src/images%2Fbackgrounds%2Fmountain-background-mobile.jpg?webpfallback) !important;
  }
}
