
@tailwind base;
@tailwind components;
@tailwind utilities;


// Login / Register
.login-page, .register-page {
    background-color: #eef1f4;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .login-box, .register-box {
    width: 420px;
  }

  .login-page, .register-page, header.masthead-img {
    background-image: url(https://th.kanka.io/_RG4GzF0SgmgeXlnddua2xul95M=/smart/app/backgrounds/mountain-background-desktop.jpg);
  }
}

@media (max-width:991px) {
    .login-page, .register-page, header.masthead-img {
    background-image: url(https://th.kanka.io/Lq3IzpLo-EKeRmDPBJJCRJqyc2g=/smart/app/backgrounds/mountain-background-mobile.jpg) !important;
  }
}
