/**
 * Entity
 * Contains all the stuff for the entity's overview and subpages.
 */

// Dynamically control which privacy status icon is shown based on the page's class
.entity-privacy-icon {
    .fa-lock-open {
        display: inline-block;
    }

    .fa-lock {
        display: none;
    }
}
.kanka-entity-private {
    .entity-privacy-icon {
        .fa-lock-open {
            display: none;
        }

        .fa-lock {
            display: inline-block;
        }
    }
}

.sidebar-section-box {
    background: var(--sidebar-section-background, none);
    padding: var(--sidebar-section-padding, 0);
}

.entity-header {
    .entity-header-text {
        .entity-header-line {
            &:nth-last-child(2) {
                display: inline-block;
            }
        }
    }

    .entity-image {
        width: 100%;
        padding-top: 100%;
        //background-size: contain;
        z-index: 10;
    }

    .tooltip {
        .entity-image {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            cursor: unset;
            padding-top: 0;
        }
    }

    /*.entity-header-text {
        align-self: flex-end;
        display: flex;

        .entity-texts {
        }

        .entity-header-sub {
            display: inline-block;
            padding-top: 12px;

            .entity-header-sub-element {
                display: inline-block;
            }
        }
    }*/

    .entity-breadcrumb {

        li + li:before {
            content: ">\A0";
            padding: 0 5px;
            --tw-text-opacity: .6;
            color: hsl(var(--bc)/var(--tw-text-opacity));
        }
    }

    .entity-name-header {

        .btn-group.open .dropdown-toggle {
            box-shadow: unset;
        }
    }

    .entity-type {
        display: none;
    }
}
.entity-grid > .entity-header.with-entity-banner {

    .entity-name, .entity-title {
        text-shadow: rgba(0, 0, 0, 0.5) 0 1px 4px;
        color: white;
    }

    .entity-icons {
        color: white;
    }

    .entity-header-sub {
        color: white;

        a {
            color: white;
            text-decoration: underline;
        }

        .entity-header-sub-element {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }

    .entity-breadcrumb {
        color: white;

        a {
            color: white;
        }
        li:before {
            color: white;
        }
    }
}

/**
 * Everything is a grid now
 */
body.entity-with-banner .content-wrapper > .content {
    padding-top: 0;

    .alert {
        margin: 0 !important;
    }
}
body[class*="kanka-entity"] .content-wrapper > .content {
    padding-left: 0;
    padding-right: 0;

    .alert-header {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
