.join {
    display: inline-flex;
    align-items: stretch;
    border-radius: var(--rounded-btn,.5rem);

    .join-item:first-child:not(:last-child), :first-child:not(:last-child) .join-item {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .join-item:not(:first-child):not(:last-child), :not(:first-child):not(:last-child) .join-item {
        border-radius: 0;
    }
    .join-item:last-child:not(:first-child), :last-child:not(:first-child) .join-item {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}
