.join {
    display: inline-flex;
    align-items: stretch;
    border-radius: var(--rounded-btn,.5rem);

    .join-item:first-child:not(:last-child), :first-child:not(:last-child) .join-item {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .join-item:not(:first-child):not(:last-child), :not(:first-child):not(:last-child) .join-item {
        border-radius: 0;
    }
    .join-item:last-child:not(:first-child), :last-child:not(:first-child) .join-item {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}


.btn2 {
    display: inline-flex;
    flex-shrink: 0;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    border-color: hsl(var(--b2)/var(--tw-border-opacity));
    text-align: center;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    border-radius: var(--rounded-btn,.5rem);
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .875rem;
    line-height: 1.25rem;
    line-height: 1em;
    min-height: 3rem;
    gap: .5rem;
    font-weight: 600;
    text-decoration-line: none;
    border-width: var(--border-btn,1px);
    animation: button-pop var(--animation-btn,.25s) ease-out;
    text-transform: var(--btn-text-case,uppercase);
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b2)/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--bc)/var(--tw-text-opacity));
}
.btn2.btn-primary {
    --tw-border-opacity: 1;
    border-color: hsl(var(--p)/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--p)/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--pc)/var(--tw-text-opacity));
}
.btn2.btn-secondary {
    --tw-border-opacity: 1;
    border-color: hsl(var(--s)/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--s)/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--sc)/var(--tw-text-opacity));
}
.btn2.btn-accent {
    --tw-border-opacity: 1;
    border-color: hsl(var(--a)/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--a)/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--ac)/var(--tw-text-opacity));
}
.btn2.btn-ghost {
    border-width: 1px;
    border-color: transparent;
    background-color: transparent;
    color: currentColor;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}
.btn2.btn-lg {
    height: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    min-height: 4rem;
    font-size: 1.125rem;
}
.btn2.btn-sm {
    height: 2rem;
    padding-left: .75rem;
    padding-right: .75rem;
    min-height: 2rem;
    font-size: .875rem;
}
.btn2.btn-xs {
    height: 1.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    min-height: 1.5rem;
    font-size: .75rem;
}

.btn2.btn-error {
    --tw-border-opacity: 1;
    border-color: hsl(var(--er)/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--er)/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--erc)/var(--tw-text-opacity));
}

.btn2.btn-outline {
    border-color: currentColor;
    background-color: transparent;
    --tw-text-opacity: 1;
    color: hsl(var(--bc)/var(--tw-text-opacity));
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

@media (hover: hover) {
    .btn2.btn-ghost:hover {
        --tw-border-opacity: 0;
        background-color: hsl(var(--bc)/var(--tw-bg-opacity));
        --tw-bg-opacity: .2;
    }
    .btn2.btn-accent:hover {
        --tw-border-opacity: 1;
        border-color: hsl(var(--af)/var(--tw-border-opacity));
        --tw-bg-opacity: 1;
        background-color: hsl(var(--af)/var(--tw-bg-opacity));
    }
    .btn2.btn-secondary:hover {
        --tw-border-opacity: 1;
        border-color: hsl(var(--sf)/var(--tw-border-opacity));
        --tw-bg-opacity: 1;
        background-color: hsl(var(--sf)/var(--tw-bg-opacity));
    }
    .btn2.btn-primary:hover {
        --tw-border-opacity: 1;
        border-color: hsl(var(--pf)/var(--tw-border-opacity));
        --tw-bg-opacity: 1;
        background-color: hsl(var(--pf)/var(--tw-bg-opacity));
    }
    .btn2:hover {
        --tw-border-opacity: 1;
        border-color: hsl(var(--b3)/var(--tw-border-opacity));
        --tw-bg-opacity: 1;
        background-color: hsl(var(--b3)/var(--tw-bg-opacity));
    }
    .btn2.btn-error:hover {
        --tw-border-opacity: 1;
        border-color: hsl(var(--er)/var(--tw-border-opacity));
        --tw-bg-opacity: 1;
        background-color: hsl(var(--er)/var(--tw-bg-opacity));
    }
}
.btn2:active:hover, .btn2:active:focus {
    animation: button-pop 0s ease-out;
    transform: scale(var(--btn-focus-scale,.97));
}
