:root {
    --calendar-season-text: #444;
    --calendar-event-text: white;

    --calendar-julian: none;
    --calendar-monthday: inline;
}

.bg-weather {
    background-color: var(--calendar-weather, #ddd);
}
.bg-season {
    background-color: var(--calendar-season, #ddd);
}
.bg-today {
    background-color: var(--calendar-today, #FFFDE2);
}
.bg-week {
    background-color: var(--calendar-week, #FFFDE2);
}

.calendar {
    table-layout: fixed;

    tbody {
        td {
            vertical-align: top !important;
            word-wrap: break-word;

            h5 {
                .julian-number {
                    display: var(--calendar-julian);
                }

                .day-number {
                    display: var(--calendar-monthday);
                }
            }

            p {
                clear: both;
            }

            .calendar-season {
                color: var(--calendar-season-text);
                //background-color: var(--calendar-season);
            }

            .calendar-event-block {
                .entity-image {
                    height: 30px;
                    width: 30px;
                }
            }

            .colour-pallet {
                color: var(--calendar-event-text);
            }

            .bg-gray {
                color: #333 !important;

                .calendar-event-comment {
                    color: #333 !important;
                }
            }
        }

        td.today {
            //background-color: var(--calendar-today);
        }
    }
}

