
.text-red {
    color:#dd4b39 !important
}
.text-yellow {
    color:#f39c12 !important
}
.text-black {
    color:#111 !important
}
.text-white {
    color:#fff !important
}

.text-error {
    --tw-text-opacity: 1;
    color:hsl(var(--er)/var(--tw-text-opacity))
}
