/**
 * Dashboard
 */
.campaign-dashboard {
    .content-header {
        min-height: 28px;
    }
}

.widget {
    table {
        max-width: 100% !important;
        word-break: break-all;
    }
    iframe, img {
        max-width: 100% !important;
    }
    .entity-attributes {
        min-height: 24rem;
    }
}


/** mobile **/

@media (max-width: 767px) {
    .campaign-header {
        padding: 10px;
        margin-bottom: 0;
    }
    .campaign-header .campaign-content > .campaign-head {
    }

    .campaign-header .campaign-content > .campaign-head a.campaign-link {
        margin-right: 0;
    }

    .campaign-header.campaign-imaged-header {
        padding: 20px 10px;
    }

    .campaign-header.campaign-imaged-header .campaign-header-content {
        padding: 10px;
    }

    .dashboard-actions {
        float: unset;
        display: block;
    }
}
