.dialog {

    display: grid;
    max-inline-size: min(90vw, 450px);
    max-block-size: min(70vh, 100%);
    max-block-size: min(70dvb, 100%);
    overflow: hidden;
    margin: auto;
    margin-top: 100px;
    padding: 0;
    position: fixed;
    inset: 0;
    z-index: 9999;
    border: 0;
    //box-shadow: $box-shadow;
    transition: opacity .5s ease-in-out;

    > header {
        display: flex;
        gap: 0.75rem;
        justify-content: space-between;
        align-items: flex-start;
        padding-block: 0.5rem;
        padding-inline: 1.0rem;

        h4 {
            text-align: center;
            padding: 6px 0;
            flex-shrink: 0;
            place-items: center;
            margin: 0;
        }

        > button {
            width: 32px;
            text-align: center;
            aspect-ratio: 1;
            flex-shrink: 0;
            place-items: center;
            border: 0;
        }
    }

    > article {
        overflow-y: auto;
        overscroll-behavior-y: contain;
        display: grid;
        grid-template-rows: auto 1fr auto;
        max-block-size: 65vh;
        max-block-size: 65dvb;
        justify-items: flex-start;
        gap: 0.75rem;
        padding-inline: 1rem;
        padding-block: 0.5rem;
    }
}
.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog::backdrop {
  backdrop-filter: blur(1px);
  transition: backdrop-filter .5s ease;
}

html:has(dialog[open]) {
  overflow: hidden;
}
