.btn, .btn-group {
   display: none !important;
}

.nav {
  display: none !important
}
.nav-tabs {
    display: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

.tab-pane {
   display: block !important;
   visibility: visible !important;
}

.page-break {
    page-break-after: always;
}

.export-hidden {
    display: none !important;
}

.pull-right {
    display: inline-block;
    text-align: right;
}

table, .table {
    width: 100%;
    table-layout: fixed;
}
tr {
    display: table-row;
    border-collapse: collapse;
}
td {
    padding: 8px;
}
.avatar {
    width: 60px;
    max-width: 60px;
}
.entity-image {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 40px;
    height: 40px;
    display: block;
}
.export-visible {
    font-size: 18pt;
}
