.quick-creator-header {
    border-bottom: 1px solid var(--input-border-color);
    .qq-toggles {
        .qq-mode-toggle {
            background-color: var(--btn-default-background);
            margin-left: 0.3rem;
            width: 38px;
            padding: 6px;
            border: 1px solid #eee;
            align-self: flex-end;

            i {
                font-size: 1.0rem;
                color: var(--btn-default-text);
            }

            &:hover {
                border-color: var(--link-text);
                i {
                    color: var(--link-text);
                }
            }
        }

        .qq-mode-toggle.active {
            border-color: var(--link-text);
            i {
                color: var(--link-text);
            }
        }
    }
}

.quick-creator-body {
    .qq-action-more {
        color: #aaa;
        &:focus, &:hover {
            border-bottom: 1px dotted #aaa;
        }
    }

    .selection {
        .option {
            align-items: center;

            a {
                span {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-height: 2rem;
                }
            }
        }
    }
}

.quick-creator-loading {
    font-size: 3rem;
}

@media (min-width: 768px) {
    .quick-creator-body {
        .options {
            display: flex;
            gap: 1rem;

            .popular {
                flex-basis: 33.333333%;
                border-right: 1px solid var(--body-text);
            }
            .all {
                flex-basis: 66.666666%;
            }
        }
        .selection .option {
            .full-form {
                display: none;
            }

            &:hover {
                .full-form {
                    display: inline;
                }
            }
        }
        .quick-creator-selection {
            flex-grow: 1;
        }
    }
}
