.quick-creator-header {
    --tw-border-opacity: .2;
    border-bottom: 1px solid hsl(var(--bc)/var(--tw-border-opacity));
    .qq-toggles {

        .qq-mode-toggle.active {
            border-color: var(--link-text);
            i {
                color: var(--link-text);
            }
        }
    }
}

.quick-creator-body {
    .qq-action-more {
        --tw-text-opacity: 1;
        color: hsl(var(--bc)/var(--tw-text-opacity));
        &:focus, &:hover {
            --tw-border-opacity: .8;
            border-bottom: 1px dotted hsl(var(--bc)/var(--tw-border-opacity));
        }
    }

    .selection {
        .option {
            align-items: center;

            a {
                span {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-height: 2rem;
                }
            }
        }
    }
}

.quick-creator-loading {
    font-size: 3rem;
}

@media (min-width: 768px) {
    .quick-creator-body {
        .options {
            display: flex;
            gap: 1rem;

            .popular {
                flex-basis: 33.333333%;
                --tw-border-opacity: 0.2;
                border-right: 1px solid hsl(var(--bc)/var(--tw-border-opacity));
            }
            .all {
                flex-basis: 66.666666%;
            }
        }
        .selection .option {
            .full-form {
                display: none;
            }

            &:hover {
                .full-form {
                    display: inline;
                }
            }
        }
        .quick-creator-selection {
            flex-grow: 1;
        }
    }
}
