
.tiers {
    table-layout: fixed;

    .tier {
        display: flex;
        align-items: center;
        position: relative;

        .text {
            font-size: 1.2em;

            .price {
                --tw-text-opacity: .5;
                color: hsl(var(--bc)/var(--tw-text-opacity));
                font-size: 0.8em;
                display: block;

                sup {
                    top: .5em;
                }
            }
        }
    }

    .btn-block {
        white-space: normal !important;
        word-wrap: break-word;
    }

    .align-middle {
        vertical-align: middle !important;
    }

    .fa-check {
        color: green;
    }
}

.card {
    //margin: 30px 0;
    //background-color: rgba(0, 0, 0, 0.1);

    .card-element {
        --tw-border-opacity: .2;
        border: 1px solid hsl(var(--bc)/var(--tw-border-opacity));
        background-color: white;
    }
}

.StripeElement {
    --tw-border-opacity: .2;
    border: 1px solid hsl(var(--bc)/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1)/var(--tw-bg-opacity));
    padding: 9px 12px;
    line-height: 1.5;
    box-shadow: none;
    color: inherit;
    border-radius: var(--rounded-btn, .5rem);
}

body {
    #pricing-overview.period-year {
        .price-monthly {
            display: none;
        }

        .price-yearly {
            display: inline-flex;
        }
    }

    #pricing-overview.period-month {
        .price-monthly {
            display: inline-flex;
        }

        .price-yearly {
            display: none;
        }
    }

    .btn-block.price-yearly {
        margin-top: 0;
    }

    .ribbon {
        display: block;
    }
}

@media (max-width: 991px) {
  table.tiers {
    .tier {
      text-align: center;
      display: block;
      .img {
        text-align: center;
        justify-content: unset;
      }
    }
  }
}


/* common */
.ribbon {
  width: 70px;
  height: 70px;
  overflow: hidden;
  position: absolute;
  display: none;
}
.ribbon span {
    position: absolute;
    display: block;
    width: 105px;
    padding: 3px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);

    font: 700 8px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    text-align: center;
}

/* top left*/
.ribbon-top-left {
    top: -10px;
    left: -10px;
}
.ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
    top: 0;
    right: 0;
}
.ribbon-top-right span {
    left: -10px;
    bottom: 35px;
    transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
    bottom: 0;
    left: 0;
}
.ribbon-bottom-left span {
    right: -25px;
    bottom: 30px;
    transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right span {
    left: -25px;
    bottom: 25px;
    transform: rotate(-225deg);
}

/** Promo code **/
.alert-coupon {
    display: none;
}
.valid-coupon .alert-coupon {
    display: block;
}
