:root {

    --content-wrapper-background: #f3f3f3;
    --boosted: 338 78% 48%;

    // Primary colour, used for buttons and links
    --p: 202 52% 49%;
    // Primary colour when focused
    --pf: 202 52% 34%;
    // Foreground content colour to use on primary colour
    --pc: 243 100% 96%;

    // Secondary colour, currently unused
    --s: 215 26% 59%;
    // Secondary colour when focused
    --sf: 215 26% 52%;
    // Foreground content colour to use on secondary colour
    --sc: 216 13% 13%;

    // Accent colour, used for some important buttons like "new post"
    --a: 41 74% 53%;
    // Accent colour when focused
    --af: 41 74% 46%;
    // Text colour for accent
    --ac: 151 21% 13%;

    // Neutral colour, for example for the page's background, code and pre elements, tooltip borders
    --n: 233 27% 13%;
    // Neutral colour when focused
    --nf: 233 27% 6%;
    // Text colour for elements with the neutral colour background
    --nc: 210 38% 95%;

    // Base background colours, used for boxes, panels, modals
    --b1: 0 0% 100%;
    --b2: 0 0% 93%;
    --b3: 0 0% 86%;
    // Text colour for elements on a base background
    --bc: 233 27% 13%;

    // Info messages background and foreground
    --in: 198 93% 80%;
    --inc: 198 100% 12%;
    // Warning messages
    --wa: 43 96% 76%;
    --wac: 43 100% 11%;

    // Error messages
    --er: 0 91% 71%;
    --erc: 0 100% 14%;

    // Success messages
    --su: 158 64% 52%;
    --suc: 158 100% 10%;

    // Border radius for buttons
    --rounded-btn: .25rem;
    // Border radius for badges (tags)
    --rounded-badge: .25rem;
    // Animation durection when a button is focused
    --animation-btn: 0;
    // Scale effect on buttons when focuses
    --btn-focus-scale: 1;

    // Button border width
    --border-btn: 1px;
    // Button text transform
    --btn-text-case: uppercase;

    // Border radius for tabs
    --tab-radius: .25rem;

    // Border thickness for tabs
    --tab-border: 0px;
}

body {
    --tw-background-opacity: 1;
    background-color: var(--body-background, hsl(var(--b1)/var(--tw-background-opacity)));
    --tw-text-opacity: 1;
    color: var(--body-text, hsl(var(--n)/var(--tw-text-opacity)));
}

a, .text-link {
    --tw-text-opacity: 1;
    color: hsl(var(--link-text, var(--p))/var(--tw-text-opacity));

    &:hover {
        --tw-text-opacity: 1;
        color: hsl(var(--link-text, var(--pf))/var(--tw-text-opacity));
    }

    &:focus {
        --tw-text-opacity: 1;
        color: hsl(var(--link-focus, var(--pf))/var(--tw-text-opacity));
    }
}

h1, h2, h3, h4, h5, h6, h1 > small, .panel-title {
    --tw-text-opacity: 1;
    color: var(--header-text, hsl(var(--bc)/var(--tw-text-opacity)));
}

.content-wrapper {
    background-color: var(--content-wrapper-background, hsl(var(--b1)/var(--tw-background-opacity)));
    --tw-background-opacity: 1;
}


input, textarea, .select2, select, .input-group .input-group-addon, .form-control {
    border-width: 1px;
    border-color: hsl(var(--bc)/var(--tw-border-opacity));
    --tw-border-opacity: 0.2;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1)/var(--tw-bg-opacity));
    border-radius: var(--rounded-btn,.5rem);
    line-height: 1.5rem;
    box-shadow: none;
    color: inherit;
}
input[type="text"], input[type="date"], input[type="number"], input[type="file"], select {
    min-height: 2.2rem;
}
input:focus, .textarea:focus, .form-control:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
    outline-color: hsl(var(--bc)/.2);
    box-shadow: none;
    border-color: transparent;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    --tw-border-opacity: 1;
    border-color: hsl(var(--b2)/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b2)/var(--tw-bg-opacity));
    --tw-text-opacity: .2;
}

*, ::before, ::after {
    --tw-bg-opacity: 0.2;
    border-color: hsl(var(--bc)/var(--tw-bg-opacity));
}
.select2 {
    border: none;
}
/*.select2-container {
    min-height: 3rem;
}
.select2-search__field {
    min-height: inherit;
}
*/
.select2-container--default .select2-selection--single, .select2-dropdown {
    border-width: 1px;
    border-color: hsl(var(--bc)/var(--tw-border-opacity));
    --tw-border-opacity: 0.2;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1)/var(--tw-bg-opacity));
    border-radius: var(--rounded-btn,.5rem);
    box-shadow: none;
}


hr {
    border-color: hsl(var(--bc)/var(--tw-bg-opacity));
    --tw-bg-opacity: .2;
}

.select2 {
  .select2-selection {
    .select2-selection__rendered {
        color: inherit;
    }
  }
  // Tags
  .select2-container--default .select2-selection--single {
      --tw-bg-opacity: 1;
      background-color: hsl(var(--b1)/var(--tw-bg-opacity));
  }
}
.select2-dropdown {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1)/var(--tw-bg-opacity));
}
.select2-container--default .select2-selection--multiple {

    --tw-border-opacity: .2;
    border-color: hsl(var(--bc)/var(--tw-border-opacity))  !important;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1)/var(--tw-bg-opacity));
}
.select2-container--default .select2-results__option[aria-selected="true"] {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--p)/var(--tw-bg-opacity));
    color: hsl(var(--pc))
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--p)/var(--tw-bg-opacity));
    color: hsl(var(--pc))
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: hsl(var(--n));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--pc)/var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: hsl(var(--pc)/var(--tw-border-opacity));
}


/** Dropdown menus **/

.dropdown-menu {
    background: hsl(var(--b1)/var(--tw-bg-opacity, 1));
    --tw-bg-opacity: 1;
    border: 0;

    li.divider {
        background-color: hsl(var(--bc)/var(--tw-background-opacity, 1));
        --tw-background-opacity: 0.1;
    }

    li > a:hover, li > a:focus {
        --dropdown-hover-text: inherit;
        background-color: hsl(var(--bc)/0.1);
        color: var(--dropdown-hover-text);
    }

    li > a {
        --dropdown-link: #777;
        color: var(--dropdown-link);
    }
}

.modal-content {
    .modal-body {
        background-color: hsl(var(--b1)/1);
    }
    .modal-header, .modal-footer {
        background-color: hsl(var(--b1)/1);
        border-color: hsl(var(--bc)/var(--tw-border-opacity, 1));
        --tw-border-opacity: .1;
    }
}


code, pre {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--n)/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--nc)/var(--tw-text-opacity));
    border: none;
    margin-bottom: .5rem;
}

/** Buttons **/
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus, .pagination > li > a {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b2)/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--bc)/var(--tw-text-opacity));
    border-color: hsl(var(--b2)/var(--tw-border-opacity));
    border-width: 0;
    &:hover {
        --tw-border-opacity: 1;
        border-color: hsl(var(--b3)/var(--tw-border-opacity));
        --tw-bg-opacity: 1;
        background-color: hsl(var(--b3)/var(--tw-bg-opacity));
        border-width: 0;
        --tw-text-opacity: 1;
        color: hsl(var(--bc)/var(--tw-text-opacity));
    }
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--p)/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--pc)/var(--tw-text-opacity));
    border-width: 0;

}

/** Boxes, Panels, Timelines **/
:root {

  --box-header-background: transparent;

  --popover-border: rgba(0, 0, 0, 0.2);
  --popover-header-background: #f7f7f7;
}


/**
 * All of the boxes follow a similar design in our themes
 */
.box, .panel, .timeline-item, .popover {
    border: var(--box-border, none);
    --tw-background-opacity: 1;
    background-color: var(--box-background, hsl(var(--b1)/1));

    .box-header, .panel-heading, .timeline-header {
        background-color: var(--box-header-background);
        color: var(--box-header-text);
    }

    .with-border {
        --tw-border-opacity: 0.2;
        border-bottom-color: hsl(var(--bc)/var(--tw-border-opacity));
    }

    .box-footer {
        background: var(--box-footer-background);
        --tw-border-opacity: 0.2;
        border-top-color: hsl(var(--bc)/var(--tw-border-opacity));
    }
}

.panel-default > .panel-heading {
    --tw-border-opacity: 0.2;
    border-color: hsl(var(--bc)/var(--tw-border-opacity));
}
.popover {
    border: 1px solid var(--popover-border);

    .popover-title {
        --tw-border-opacity: 0.2;
        border-color: hsl(var(--bc)/var(--tw-border-opacity));
        background-color: var(--popover-header-background);
    }
}


/** Tables */
.table-striped > tbody > tr:nth-of-type(odd) {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b3)/var(--tw-bg-opacity));
}
.table-hover {
    tbody {
        tr {
            &:hover {
                --tw-bg-opacity: 1;
                background-color: hsl(var(--b3)/var(--tw-bg-opacity));
            }
        }
    }
}
.table-bordered {
    --tw-border-opacity: 1;
    border-top: 1px solid hsl(var(--b2)/var(--tw-border-opacity));
}
.table :is(thead, tbody, tfoot) tr :is(td, th) {
    --tw-border-opacity: 1;
    border-color: hsl(var(--b2)/var(--tw-border-opacity));
}
.table :is(thead, tbody, tfoot) tr.warning :is(td, th) {
    background-color: hsl(var(--a)/1);
    color: hsl(var(--ac)/1);
}
.table :is(thead, tbody, tfoot) tr.warning:hover :is(td, th) {
    background-color: hsl(var(--af)/1);
    color: hsl(var(--ac)/1);
}


.tooltip-inner, .tooltip-content {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--n)/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--nc)/var(--tw-text-opacity));
}
.tooltip.top .tooltip-arrow {
    --tw-bg-opacity: 1;
    border-top-color: hsl(var(--n)/var(--tw-bg-opacity));
}
.tooltip.bottom .tooltip-arrow {
    --tw-bg-opacity: 1;
    border-bottom-color: hsl(var(--n)/var(--tw-bg-opacity));
}

/** background colours **/
.bg-secondary-content {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--sc)/var(--tw-bg-opacity));
}
.bg-neutral-content {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--nc)/var(--tw-bg-opacity));
}
.bg-base-100 {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1)/var(--tw-bg-opacity));
}
.bg-base-200 {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b2)/var(--tw-bg-opacity));
}
.bg-base-300 {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b3)/var(--tw-bg-opacity));
}
.bg-accent {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--a)/var(--tw-bg-opacity));
}
.text-accent {
    --tw-text-opacity: 1;
    color:hsl(var(--a)/var(--tw-text-opacity))
}
.text-accent-content {
    --tw-text-opacity: 1;
    color:hsl(var(--ac)/var(--tw-text-opacity))
}
.text-base-content {
    --tw-text-opacity: 1;
    color:hsl(var(--bc)/var(--tw-text-opacity))
}
.text-neutral {
    --tw-text-opacity: 1;
    color:hsl(var(--n)/var(--tw-text-opacity))
}
.text-neutral-content, .help-block {
    --tw-text-opacity: .6;
    color:hsl(var(--bc)/var(--tw-text-opacity))
}

/** borders **/
.border-base-100 {
    --tw-border-opacity: 1;
    border-color:hsl(var(--b1)/var(--tw-border-opacity))
}

/** hovers **/
.hover\:bg-base-100:hover {
    --tw-bg-opacity: 1;
    background-color:hsl(var(--b1)/var(--tw-bg-opacity))
}
.hover\:bg-base-200:hover {
    --tw-bg-opacity: 1;
    background-color:hsl(var(--b2)/var(--tw-bg-opacity))
}
.hover\:bg-base-300:hover {
    --tw-bg-opacity: 1;
    background-color:hsl(var(--b3)/var(--tw-bg-opacity))
}
