:root {
    --body-background: #f5f8fa;
    --body-text: #636b6f;
    --header-text: inherit;

    --breadcrumb-text: #444;

    --input-border-color: #d2d6de;
    --input-background-color: #fff;
    --input-background-disabled-color: #eeeeee;
    --input-text-color: inherit;
    --input-file-filter: none;

    --modal-background: #fff;
    --modal-inner-border: #f4f4f4;
    --modal-close-opacity: 0.2;
    --modal-body-text: #444;
    --modal-close-color: #000;

    --submenu-hover-background: #f7f7f7;
    --submenu-link: inherit;

    --list-group-item-border: #d3e0e9;
    --list-group-item-background: #fff;

    --label-default-background: #d2d6de;
    --label-default-text: #fff;

    --text-help: #8c8c8c;
    --code-background: #f9f2f4;
    --code-text: #c7254e;
    --pre-background: #f9f9f9;
    --pre-text: #333;
    --boosted: #D81B60;

    --color-accent: var(--link-text);
    --pf: 202 52% 34%;
    --sf: 215 26% 52%;
    --af: 41 74% 46%;
    --nf: 233 27% 6%;
    --b2: 0 0% 93%;
    --b3: 0 0% 86%;
    --in: 198 93% 80%;
    --wa: 43 96% 76%;
    --er: 0 91% 71%;
    --pc: 243 100% 96%;
    --sc: 216 13% 13%;
    --ac: 151 21% 13%;
    --inc: 198 100% 12%;
    --su: 158 64% 52%;
    --suc: 158 100% 10%;
    --wac: 43 100% 11%;
    --erc: 0 100% 14%;
    --btn-text-case: uppercase;
    --border-btn: 1px;
    --tab-border: 0px;
    --tab-radius: .25rem;
    --p: 202 52% 49%;


    --s: 215 26% 59%;
    --a: 41 74% 53%;;
    --n: 233 27% 13%;
    --nc: 210 38% 95%;
    --b1: 0 0% 100%;
    --bc: 233 27% 13%;
    --rounded-box: .25rem;
    --rounded-btn: .25rem;
    --rounded-badge: .25rem;
    --animation-btn: 0;
    --animation-input: 0;
    --btn-focus-scale: 1;
}

body {
  background-color: var(--body-background);
  color: var(--body-text);
}

a, .text-link {
    --tw-text-opacity: 1;
    color: hsl(var(--link-text, var(--p))/var(--tw-text-opacity));

    &:hover {
        --tw-text-opacity: 1;
        color: hsl(var(--link-text, var(--pf))/var(--tw-text-opacity));
    }

    &:focus {
        --tw-text-opacity: 1;
        color: hsl(var(--link-focus, var(--pf))/var(--tw-text-opacity));
    }
}

.content-header > .breadcrumb > li > a {
    --tw-text-opacity: 1;
    color: hsl(var(--bc)/var(--tw-text-opacity));
}

h1, h2, h3, h4, h5, h6, h1 > small, .panel-title {
    color: var(--header-text);
}

.content-wrapper {
    background-color: var(--content-wrapper-background, #f1f3f6);
}


input, textarea, .select2, select, .input-group .input-group-addon, .form-control {
    border-width: 1px;
    border-color: hsl(var(--bc)/var(--tw-border-opacity));
    --tw-border-opacity: 0.2;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1)/var(--tw-bg-opacity));
    border-radius: var(--rounded-btn,.5rem);
    line-height: 1.5rem;
    box-shadow: none;
    color: inherit;
}
input[type="text"], input[type="date"], input[type="number"], input[type="file"], select {
    min-height: 2.2rem;
}
input:focus, .textarea:focus, .form-control:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
    outline-color: hsl(var(--bc)/.2);
    box-shadow: none;
    border-color: transparent;
}
/*.form-control {
    border-color: var(--input-border-color);
    background-color: var(--input-background-color);
    color: var(--input-text-color);
}*/
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: var(--input-background-disabled-color, #eee);
}

* {
    border-color: var(--input-border-color);
}
input[type=checkbox], input[type=file] {
  filter: var(--input-file-filter);
}
.select2 {
    border: none;
}
/*.select2-container {
    min-height: 3rem;
}
.select2-search__field {
    min-height: inherit;
}
*/
.select2-container--default .select2-selection--single, .select2-dropdown {
    border-width: 1px;
    border-color: hsl(var(--bc)/var(--tw-border-opacity));
    --tw-border-opacity: 0.2;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1)/var(--tw-bg-opacity));
    border-radius: var(--rounded-btn,.5rem);
    box-shadow: none;
}

label {
  color: var(--input-text-color);
}
.label-default {
  background-color: var(--label-default-background);
  color: var(--label-default-text);
}

hr {
    border-color: hsl(var(--bc)/var(--tw-bg-opacity));
    --tw-bg-opacity: .2;
}

.select2 {
  .select2-selection {
    .select2-selection__rendered {
        color: inherit;
    }
  }
  // Tags
  .select2-container--default .select2-selection--single {
      --tw-bg-opacity: 1;
      background-color: hsl(var(--b1)/var(--tw-bg-opacity));
  }
}
.select2-dropdown {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1)/var(--tw-bg-opacity));
}
.select2-container--default .select2-selection--multiple {
    border-color: var(--input-border-color) !important;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1)/var(--tw-bg-opacity));
}
.select2-container--default .select2-results__option[aria-selected="true"] {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--p)/var(--tw-bg-opacity));
    color: hsl(var(--pc))
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--p)/var(--tw-bg-opacity));
    color: hsl(var(--pc))
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: hsl(var(--n));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--pc)/var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: hsl(var(--pc)/var(--tw-border-opacity));
}


/** Dropdown menus **/
:root {
  --dropdown-border: #eee;
  --dropdown-background: var(--modal-background);
  --dropdown-hover-background: #e1e3e9;
  --dropdown-hover-text: inherit;
  --dropdown-link: #777;
}
.dropdown-menu {
    background-color: var(--dropdown-background);
    border: 1px solid var(--dropdown-border);

    li.divider {
        background-color: var(--dropdown-border);
    }

    li > a:hover, li > a:focus {
        background-color: var(--dropdown-hover-background);
        color: var(--dropdown-hover-text);
    }

    li > a {
        color: var(--dropdown-link);
    }
}

.modal-content {
  background: var(--modal-background);
  .modal-header, .modal-footer {
    border-color: var(--modal-inner-border);
  }
}
.modal .panel-body {
  color: var(--modal-body-text);
}
.close {
    color: var(--modal-close-color);
    opacity: var(--modal-close-opacity);

    &:hover, &:focus {
        color: var(--modal-close-color);
    }
}

/*.nav-tabs-custom, .nav-tabs, {
  background: none;
  .tab-content {
    background: hsl(var(--b1)/var(--tw-background-opacity, 1));
  }
}

.nav-tabs {
    border-bottom-color: var(--btn-default-border);
}*/

// All the tab stuff
/*.nav-tabs > li:hover > a, .nav-tabs > li.active:hover > a {
  color: var(--tab-hover-color) !important;
  background-color: var(--tab-hover-background) !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
  color: var(--tab-active-color) !important;
  background-color: var(--tab-active-background) !important;
}

.nav-tabs-custom > .nav-tabs > li.active > a {
  border-color: var(--tab-active-border);
}*/


.help-block {
  color: var(--text-help);
}
code {
  color: var(--code-text);
  background-color: var(--code-background);
}
pre {
  color: var(--pre-text);
  background-color: var(--pre-background);
}

/** NAVBAR HELL **/
:root {

  /*--navbar-tab-text: #fff;
  --navbar-tab-background: #fff;

  --navbar-tab-active-background: #fff;
  --navbar-tab-active-text: #fff;

  --navbar-tab-hover-background: #fff;
  --navbar-tab-hover-text: #fff;*/

  --main-navbar-background: #fff;
  --main-navbar-text: #333;
  --main-navbar-hover-background: #fff;
}
body .main-header .navbar {
  background-color: var(--main-navbar-background);
}

/** Hover & active on all the navbar buttons **/
body .main-header .navbar .nav > li > a, body .main-header .navbar .nav > .active > a, body .main-header .navbar .sidebar-toggle, body .main-header .navbar .nav .open > a {
  color: var(--main-navbar-text);
  &:hover, &:active, &:focus, {
    background-color: var(--main-navbar-hover-background);
  }
}
body .main-header .navbar .nav .open > a, body .main-header .navbar .nav > .active > a,
body .main-header .navbar .nav .open > a.active {
  background-color: var(--main-navbar-hover-background);
}

/** Buttons **/
:root {
  --btn-default-background: #f4f4f4;
  --btn-default-text: #444;
  --btn-default-border: #ddd;
  --btn-default-hover-text: #636b6f;
  --btn-default-hover-background: #e7e7e7;
  --btn-default-hover-border: #adadad;
  --btn-box-header-background: inherit;
  --btn-box-header-text: inherit;

  --label-default-background: #d2d6de;
  --label-default-text: #fff;

}
.btn-danger {
    background-color: var(--bg-danger, #bf5329);
}
.btn-success {
    background-color: var(--bg-success, #2ab27b);
}
.btn-primary {
    background-color: var(--bg-primary, #3097d1);
}
.btn-default, .btn-app {
  background-color: var(--btn-default-background);
  color: var(--btn-default-text);
  border-color: var(--btn-default-border);

  &:hover, &:focus, &:active {
    background-color: var(--btn-default-hover-background);
    border-color: var(--btn-default-hover-border);
    color: var(--btn-default-hover-text);
  }
}
.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  background-color: var(--btn-default-hover-background);
  border-color: var(--btn-default-hover-border);
  color: var(--btn-default-hover-text);
}
.label-default {
  background-color: var(--label-default-background);
  color: var(--btn-default-text);
}

:root {
  --pagination-text: #777;
  --pagination-background: #fff;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus, .pagination > li > a {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b2)/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--bc)/var(--tw-text-opacity));
    border-color: hsl(var(--b2)/var(--tw-border-opacity));
    border-width: 0;
    &:hover {
        --tw-border-opacity: 1;
        border-color: hsl(var(--b3)/var(--tw-border-opacity));
        --tw-bg-opacity: 1;
        background-color: hsl(var(--b3)/var(--tw-bg-opacity));
        border-width: 0;
        --tw-text-opacity: 1;
        color: hsl(var(--bc)/var(--tw-text-opacity));
    }
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--p)/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--pc)/var(--tw-text-opacity));
    border-width: 0;

}

/** Boxes, Panels, Timelines **/
:root {
  --box-border: none;
  --box-background: #ffffff;

  --box-header-background: transparent;
  --box-header-text: var(--header-text);

  --box-with-border-background: none;
  --box-with-border-bottom-border: #f4f4f4;

  --box-footer-background: #fff;
  --box-footer-border-top: #f4f4f4;

  --popover-border: rgba(0, 0, 0, 0.2);
  --popover-header-background: #f7f7f7;
}


/**
 * All of the boxes follow a similar design in our themes
 */
.box, .panel, .timeline-item, .popover {
    border: var(--box-border);
    background-color: var(--box-background);

    .box-header, .panel-heading, .timeline-header {
        background-color: var(--box-header-background);
        color: var(--box-header-text);
    }

    .with-border {
        background: var(--box-with-border-background);
        border-bottom-color: var(--box-with-border-bottom-border);
    }

    .box-footer, .panel-footer {
        background: var(--box-footer-background);
        border-top-color: var(--box-footer-border-top);
    }
}

.panel-default > .panel-heading {
  border-color: var(--box-with-border-bottom-border);
}
.popover {
  border: 1px solid var(--popover-border);
  .popover-title {
    background-color: var(--popover-header-background);
    border-color: var(--box-with-border-bottom-border);
  }
}
.box-default > .box-header > .box-title {
  color: #444;
}


/** Tables */
:root {
  --table-highlight: #f9f9f9;
  --table-border: #f4f4f4;
  --table-warning: #fcf8e3;
  --table-warning-hover: #faf2cc;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: var(--table-highlight);
}
.table-hover {
  tbody {
    tr {
      &:hover {
        background-color: var(--table-highlight);
      }
    }
  }
}
.table-bordered {
  border-top: 1px solid var(--table-border);
}
.table :is(thead, tbody, tfoot) tr :is(td, th) {
  border-color: var(--table-border);
}
.table :is(thead, tbody, tfoot) tr.warning :is(td, th) {
  background-color: var(--table-warning);
}
.table :is(thead, tbody, tfoot) tr.warning:hover :is(td, th) {
  background-color: var(--table-warning-hover);
}

.box-header > .box-tools .dropdown-menu > li > a {
  color: var(--breadcrumb-text) !important;
}


.tooltip-inner, .tooltip-content {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--n)/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--nc)/var(--tw-text-opacity));
}
.tooltip.top .tooltip-arrow {
    --tw-bg-opacity: 1;
    border-top-color: hsl(var(--n)/var(--tw-bg-opacity));
}
.tooltip.bottom .tooltip-arrow {
    --tw-bg-opacity: 1;
    border-bottom-color: hsl(var(--n)/var(--tw-bg-opacity));
}

.bg-secondary-content {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--sc)/var(--tw-bg-opacity));
}

.bg-neutral-content {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--nc)/var(--tw-bg-opacity));
}

.bg-base-100 {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1)/var(--tw-bg-opacity));
}
.bg-base-200 {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b2)/var(--tw-bg-opacity));
}

.bg-base-300 {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b3)/var(--tw-bg-opacity));
}
