/**
 * Layout tweaks for timelines
 */
:root {
    --timeline-item-background: #fff;
    --timeline-element-border: #ddd;
    --timeline-item-header-border: #f4f4f4;
}

.timeline > li > .ra, .timeline > li > .fab, .timeline > li > .far, .timeline > li > .fas, .timeline > li > .fa-solid, .timeline > li > .fa-brands, .timeline > li > .fa-light, .timeline > li > .fa-thin, .timeline > li > .fa-duotone {
    line-height: 30px;
    color: #666;
    background: var(--timeline-element-border);
    left: 18px;
}



.timeline > li > .timeline-item {
    background: var(--timeline-item-background);
    color: var(--body-text);
    .timeline-header {
        border-bottom-color: var(--timeline-item-header-border);
    }
}
.timeline > li > .timeline-item > .timeline-header {
    color: var(--header-text);
}
.timeline:before {
    background: var(--timeline-element-border);
}

/*
 * Component: Timeline
 * -------------------
 */
.timeline {
    > li {

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 4px;
            background: #ddd;
            left: 31px;
            margin: 0;
            border-radius: 2px;
        }

        &:last-of-type {
            &:before {
                content: ' ';
                display: table;
            }
        }

        &:after {
            content: " ";
            display: table;
            clear: both;
        }

        .timeline-item {
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

        }
    }
}
