
.tutorial-highlight {
    box-shadow:
        0 0 10px #fff,            /* outer white */
        -10px 0 20px #f0f,        /* outer left magenta */
        10px 0 20px #0ff;         /* outer right cyan */
    animation: tutorial-glow 10s linear infinite;

    /*&:before {
        content: '';
        position: absolute;
        left: -2px;
        top: -2px;
        background-size: 400%;
        width: calc(100% + 5px);
        height: calc(100% + 5px);
        z-index: -1;
        animation: tutorial-glow 10s linear infinite;
    }*/
}

@keyframes tutorial-glow {
    0% {
        box-shadow:
            0 0 10px #fff,            /* outer white */
            -10px 0 20px #f0f,        /* outer left magenta */
            10px 0 20px #0ff;         /* outer right cyan */
    }

    50% {
        box-shadow:
            0 0 10px #fff,            /* outer white */
            -10px 0 20px #0ff,        /* outer left magenta */
            10px 0 20px #f0f;         /* outer right cyan */
    }

    100% {
        box-shadow:
            0 0 10px #fff,            /* outer white */
            -10px 0 20px #f0f,        /* outer left magenta */
            10px 0 20px #0ff;         /* outer right cyan */
    }
}
