body, a, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Variable', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
html {
    font-size: 16px;
}
body {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    letter-spacing: 0.5px;
}

h1 {
    //margin-top: 1rem;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: -0.5px;
}
h2 {
    font-weight: 300;
    font-size: 1.8rem;
    letter-spacing: -0.5px;
}
h3 {
    font-style: normal;
    font-weight: normal;
    //font-size: 48px;
    font-size: 1.5rem;
    //margin-bottom: 0.8rem;
}
h4 {
    font-style: normal;
    font-weight: normal;
    //font-size: 34px;
    letter-spacing: 0.25px;
    font-size: 1.1rem;
}
h5 {
    font-style: normal;
    font-weight: normal;
    //font-size: 24px;
    font-size: 1rem;
}
a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
}
.entity-content, .note-editing-area {
    p {
        margin-bottom: 0.75rem;
    }
    p:last-child {
        margin-bottom: 0;
    }

    hr {
        margin-top: 1.1rem;
        margin-bottom: 1.1rem;
        border-color: hsl(var(--bc)/var(--tw-bg-opacity));
        --tw-bg-opacity: .2;
    }

    h1 {
        margin-top: 1rem;
    }
    h2 {
        margin-top: 0.9rem;
    }
    h3 {
        margin-top: 0.8rem;
    }
    h4 {
        margin-top: 0.7rem;
    }
    h5 {
        margin-top: 0.6rem;
    }
    h6 {
        margin-top: 0.5rem;
    }
}
