.more-available {
  cursor: pointer;
}

.ability-parent {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 5px;
  margin-bottom: 15px;
  height: 140px;
  overflow: hidden;
}

.ability-parent .ability-name {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 0.5s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ability-parent .ability-name .name {
  margin: auto;
  font-size: 1.6em;
  padding: 10px;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 4px;
}

.ability-parent .ability-name:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.ability-parent.without .ability-name {
  background-color: white;
  background-image: none;
}

.ability-parent.without .ability-name:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.ability-parent.active .ability-name {
  background-color: rgba(0, 0, 0, 0.1);
}

.box-abilities {
  position: relative;
}

.box-waiting {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
}

.box-waiting i {
  margin-top: auto;
  margin-bottom: auto;
}

.ability a:hover {
  background-color: unset !important;
}

