@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@font-face {
  font-family: Verdana, sans-serif;
  font-display: fallback;
}

.calendar {
  table-layout: fixed;
}

.calendar tbody td {
  height: 100px;
  vertical-align: top !important;
  word-wrap: break-word;
}

.calendar tbody td .add {
  visibility: hidden;
}

.calendar tbody td h5 {
  float: left;
  margin-top: 3px;
}

.calendar tbody td p {
  clear: both;
}

.calendar tbody td .calendar-season {
  width: 100%;
  display: block;
}

.calendar tbody td .reminder-entity {
  display: block;
}

.calendar tbody td .calendar-event-block {
  display: block;
  margin: 2px 0;
  padding-left: 0.2em;
  text-align: left;
  font-size: 10pt;
  margin-bottom: 5px;
  font-weight: 400;
  overflow: hidden;
  cursor: pointer;
}

.calendar tbody td .calendar-event-block .entity-image {
  float: left !important;
  height: 30px;
  width: 30px;
  margin-right: 5px;
  display: inline-block;
}

.calendar tbody td .calendar-event-block .calendar-event-comment {
  display: block;
  font-size: 9pt;
  padding-top: 5px;
  max-height: 20px;
  color: rgba(255, 255, 255, 0.9);
}

.calendar tbody td .colour-pallet {
  color: white;
}

.calendar tbody td .bg-gray {
  color: #333 !important;
}

.calendar tbody td .bg-gray .calendar-event-comment {
  color: #333 !important;
}

.calendar tbody td.today {
  background-color: #FFFDE2;
}

.calendar tbody td:hover .add {
  visibility: visible;
}

.calendar-toolbar {
  margin-bottom: 1em;
  text-align: center;
  padding: 10px;
}

.calendar-toolbar .calendar-center {
  display: inline-block;
}

.calendar-toolbar .calendar-center h2 {
  margin: 0;
  float: left;
}

.calendar-event-action {
  font-size: 2em;
  cursor: pointer;
  text-align: center;
  width: 100%;
  display: block;
  padding: 15px 30px;
}

.calendar-event-action i {
  display: block;
  clear: both;
}

.calendar-event-action:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/**
 * Conversations
 */

.box-conversation .box-comments .box-comment {
  margin: 5px;
}

.box-conversation .box-comments .box-comment .entity-image {
  float: left;
}

.box-conversation .box-comments .box-comment .comment-text {
  margin-left: 50px;
}

.box-conversation .load-more {
  margin: 10px 55px;
  cursor: pointer;
  text-align: center;
}

.box-conversation #conversation_body {
  max-height: 400px;
  overflow: auto;
}

/**
 * SASS file for all that is print related.
 * This file contains all the stuff to hide when printing
 */

@media print {
  .main-footer {
    display: none !important;
  }

  .btn {
    display: none !important;
  }

  .tab-pane {
    display: block !important;
    visibility: visible !important;
  }

  #permissions,
  #map {
    display: none !important;
  }
}

ul.campaigns li {
  float: left;
  width: 20%;
}

ul.campaigns li.add {
  background-color: red;
}

ul,
ol {
  padding-left: 25px;
}

img.profile-user-img {
  width: 200px;
}

.content-header .breadcrumb {
  position: relative;
  float: none;
  top: 0;
  padding: 5px 10px;
  display: block;
}

.content-header h1 {
  display: block;
}

.navbar-nav .campaign-menu .campaign-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
}

.user-header a {
  display: inline;
  background: none;
}

.user-header a:hover {
  background: none !important;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > a > img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}

@font-face {
  font-family: "Dubai";
  src: url("/fonts/dubai/DubaiW23-Light.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/dubai/DubaiW23-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/dubai/DubaiW23-Light.woff2") format("woff2"), url("/fonts/dubai/DubaiW23-Light.woff") format("woff"), url("/fonts/dubai/DubaiW23-Light.ttf") format("truetype");
  /* Safari, Android, iOS */
}

/** required form fields **/

div.required label:after {
  content: " *";
  color: red;
}

table th.avatar,
table td.avatar {
  width: 40px;
}

table th i {
  padding-left: 5px;
}

table th .btn i {
  padding-left: 0;
}

table th .table-filters {
  background-color: #eee;
  padding: 5px 15px;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  min-width: 60px;
}

table th .table-filters i {
  padding: 0px;
}

table th .table-filters i.fa-filter {
  font-size: 16px;
  padding-right: 5px;
}

table th .table-filters:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

table tbody td {
  vertical-align: middle !important;
}

table tbody .table-actions a {
  font-size: 16px;
  padding: 10px 5px;
}

table label {
  font-weight: normal;
}

.tab-content table {
  width: 100% !important;
}

.clear {
  clear: both;
}

.profile-username {
  word-wrap: break-word;
}

.preview {
  padding-top: 10px;
}

.preview .image {
  float: left;
  margin: 0 10px 0 0;
}

.preview img {
  max-height: 200px;
  max-width: 200px;
  width: 100%;
}

.preview a.img-delete {
  color: white;
  text-align: center;
  display: block;
  padding: 5px;
  background: none;
  margin-top: -30px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
}

.preview a.img-delete:hover {
  background-color: rgba(31, 0, 4, 0.7);
}

.preview-v2 .image {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.preview-v2 a.img-delete {
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 5px;
  background: none;
  background-color: rgba(0, 0, 0, 0.3);
}

.preview-v2 a.img-delete:hover {
  background-color: rgba(31, 0, 4, 0.7);
}

footer {
  padding-bottom: 0;
  text-align: left;
}

footer .footer {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 15px;
}

footer .footer .row {
  margin-bottom: 15px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  padding: 0;
  display: block;
  margin: 4px 0;
}

footer ul li a {
  padding: 5px 15px;
  font-size: 14px !important;
  line-height: 26px;
}

footer h4 {
  font-size: 14px;
  font-weight: 700;
}

footer h4,
footer span {
  margin: 0 15px 10px;
}

footer p {
  padding: 15px 25px;
  font-size: 16px !important;
}

footer p:hover {
  color: #eee;
}

footer p,
footer a {
  border-radius: 4px;
}

footer p:hover,
footer a:hover {
  transition: all 0.2s ease;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

footer .social {
  margin-left: 10px;
}

footer .social li {
  margin: 0;
  display: inline-block;
}

footer .social li a {
  font-size: 16px !important;
  padding: 10px 4px;
}

footer .social li a:hover {
  background: none;
  color: #eee;
}

.main-header .sidebar-toggle {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.main-footer {
  color: #636b6f;
  background-color: #ecf0f5;
  border-top: none;
  padding-bottom: 0;
}

/** news */

.news .box-body img {
  width: 100%;
  display: block;
}

.news .box-body a {
  display: block;
  text-transform: uppercase;
  line-height: 23px;
}

tr.tr-hover {
  cursor: pointer;
  font-weight: 700;
}

tr.tr-hover:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.dashboard-box p.entity-short {
  margin: 0;
}

.dashboard-box li.entity {
  min-height: 90px;
}

tr.entity-hidden td {
  font-style: italic;
  color: #444;
}

.campaign-name {
  white-space: normal !important;
  overflow: hidden;
}

/**
 * Crud filters
 */

.filters {
  background-color: #fff;
  margin: 15px 0px;
  border-radius: 5px;
}

.filters .first,
.filters .element,
.filters .end {
  float: left;
  padding: 7px 15px;
  cursor: pointer;
}

.filters .first .field,
.filters .first .value,
.filters .element .field,
.filters .element .value,
.filters .end .field,
.filters .end .value {
  float: left;
}

.filters .first .value,
.filters .element .value,
.filters .end .value {
  font-weight: 700;
  padding-left: 15px;
}

.filters .first label,
.filters .element label,
.filters .end label {
  font-weight: 400;
}

.filters .end {
  float: right;
}

.filters .end label {
  cursor: pointer;
}

.filters .end label:hover {
  font-weight: 700;
}

.entity-image,
.product-img .entity-image,
.entity-image-mention {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: block;
}

.product-img .entity-image {
  border-radius: 0;
  height: 70px;
  width: 50px;
}

.entity-image-mention {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 8px;
  display: inline-block;
}

.entity-name {
  max-height: 60px;
  overflow: hidden;
  display: inline-block;
}

.entity-title {
  margin: 0px;
}

.entity-title .entity-image {
  display: inline-block;
  margin-right: 5px;
}

.entity-title .entity-name {
  vertical-align: top;
  padding-top: 8px;
}

/**
 * vendor layout fix for ckeditor full screen mode
 */

div.mce-fullscreen {
  z-index: 1400;
}

.mce-btn-group:not(:first-child) {
  border-left: none !important;
}

.mce-btn-group:not(:first-child) {
  border-left: none !important;
}

.editor-panel {
  padding: 5px;
}

.editor-panel .form-group {
  margin-bottom: 0;
}

.editor-panel .form-group .mce-container {
  border: 0;
  box-shadow: none;
}

.export-visible {
  display: none;
}

/**
 * Tinymce entry
 */

.panel-entry {
  padding: 5px;
}

.panel-entry .form-group {
  margin-bottom: 0;
}

.panel-entry .form-group .mce-container {
  border: 0;
  box-shadow: none;
}

/**
 * Search
 */

.live-search-results {
  background-color: white;
  position: absolute;
  z-index: 1;
  min-width: 190px;
  overflow: auto;
}

.live-search-results .loading {
  text-align: center;
  padding: 15px;
}

.live-search-results .list-group-item:first-child {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.entity-modification-history {
  font-style: italic;
  font-size: 13px;
}

.panel-toggable {
  cursor: pointer;
}

.tt-cursor {
  background-color: #f5f5f5;
}

.live-search-close {
  float: left;
  padding: 6px 15px;
}

.crud-field-entity {
  padding: 5px;
  border-radius: 5px;
  display: block;
  font-size: 1.8em;
  max-height: 90px;
  margin-bottom: 5px;
  border: 1px solid #eee;
  overflow: hidden;
}

.crud-field-entity .entity-image {
  height: 80px;
  width: 80px;
  margin-right: 10px;
  float: left;
}

.crud-field-entity .entity-name {
  vertical-align: top;
  display: block;
  max-height: 80px;
}

.crud-field-entity:hover {
  background-color: #eee;
  transition: all 0.5s ease;
}

.new-tag {
  color: rgba(0, 0, 0, 0.8);
}

.color-tag {
  padding: 3px 5px;
  border-radius: 3px;
}

.tooltip-tags span {
  margin: 2px;
  display: inline-block;
}

.tooltip-ajax {
  min-width: 320px;
  text-align: left;
}

.tooltip-ajax .tooltip-text {
  clear: both;
}

.tooltip-ajax .entity-image {
  margin: 4px 5px 5px 0;
  height: 65px;
  width: 65px;
  border-radius: 2px;
  float: left;
}

.panel-entity-files .well {
  padding: 30px 0;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 7px;
}

.panel-entity-files .entity-files-drop {
  cursor: pointer;
}

.panel-entity-files .entity-file-remove {
  cursor: pointer;
}

.panel-entity-files .entity-file-remove:hover {
  color: #b31830;
}

.panel-entity-files .entity-file-name {
  border: none;
  background: none;
  display: inline-block;
  width: 95%;
  margin-right: -20px;
}

.entity-file-rename,
.entity-file-ui {
  cursor: pointer;
}

.entity-file-rename:hover,
.entity-file-ui:hover {
  color: rgba(0, 0, 0, 0.7);
}

.entity-file-ui {
  padding: 5px;
}

.entity-file {
  display: block;
  padding: 3px 6px;
}

.list-group-item {
  word-break: break-all;
}

.input-error {
  border: 1px inset red;
}

.datagrid-search {
  display: inline-block;
}

.datagrid-search .input-group-addon {
  border-right: 0px;
}

.datagrid-bulk-actions {
  display: inline-block;
}

.select2-container--open {
  z-index: 9961;
}

.datepicker {
  z-index: 1062 !important;
}

.popover {
  max-width: 296px;
}

.entity-attributes .fa-unlock-alt {
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.entity-attributes .fa-unlock-alt:hover {
  color: rgba(0, 0, 0, 0.8);
}

.entity-attributes .fa-lock {
  cursor: pointer;
}

.entity-attributes .fa-lock:hover {
  color: rgba(0, 0, 0, 0.8);
}

.entity-creator a {
  display: block;
  padding: 20px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border-radius: 2px;
  color: #222;
}

.entity-creator a:hover {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  transition: all 0.5s ease;
}

.entity-creator i {
  display: block;
  margin-bottom: 10px;
}

#new-entity-modal,
#entity-modal {
  z-index: 9900;
}

/** break lines that get too long **/

td.breakable {
  word-break: break-word;
}

.btn-group .dropdown-toggle {
  height: 36px;
}

.entity-form .nav-tabs-custom {
  min-height: 0;
  background-color: unset;
}

.entity-form ul.nav {
  z-index: 2;
  min-height: 40px;
  overflow: hidden;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-color: #fff;
}

.entity-form ul.nav li {
  background-color: #f5f8fa;
  margin-right: 2px;
}

.shortcut {
  margin-left: 14px;
  color: #8f98a3;
}

.entity-form-save {
  padding-right: 0;
}

.entity-form-save .dropdown-menu li a {
  padding: 10px 14px;
}

.menu-link-tabs {
  margin: 10px 10px;
  box-shadow: 0 6px 6px rgba(50, 50, 93, 0.31), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.menu-link-tabs .nav {
  border-top: none;
}

.rte-autocomplete {
  z-index: 1500;
}

.widget-user-image .entity-image {
  float: left;
  height: 65px;
  width: 65px;
}

.entity-file-visibility-dropdown {
  cursor: pointer;
}

@media (max-width: 787px) {
  .nav-stacked > li {
    display: block;
    width: auto;
  }

  footer .footer {
    background: transparent;
    padding: 3px;
  }

  footer ul li a {
    padding-left: 0;
  }

  footer h4,
  footer span,
  footer a {
    margin-left: 0;
    padding-left: 0;
  }

  .navbar-nav .campaign-menu .campaign-image {
    margin-right: 0px;
  }

  .navbar-nav .menu .campaign-image {
    margin-right: 4px;
  }

  .main-sidebar {
    padding-top: 50px;
  }

  .content-header {
    padding-top: 5px;
  }

  .content-header h1 {
    font-size: 22px;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .content-header .breadcrumb {
    background: transparent;
    padding: 0 0 3px 0;
    margin-top: 0;
  }

  .content-header .breadcrumb li {
    display: inline-block;
    padding: 5px 0 1px;
    color: #8f98a3;
  }

  .content-header .breadcrumb li:before {
    padding: 0 2px;
  }

  .content-header .form-group {
    margin-bottom: 0;
  }

  section.content {
    padding-top: 5px;
  }
}

