/**
 * All themes can benefit from overriding the same stuff, which is put here.
 */

#app {
  background: none;
}

.campaign-dashboard-widgets .widget .widget-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.campaign-dashboard-widgets .widget:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.content-wrapper {
  background: none !important;
}

.content-wrapper p {
  color: #eee;
}

.box,
.panel,
.timeline-item {
  background: none !important;
  border: none !important;
}

.box .box-header,
.box .panel-heading,
.box .timeline-header,
.panel .box-header,
.panel .panel-heading,
.panel .timeline-header,
.timeline-item .box-header,
.timeline-item .panel-heading,
.timeline-item .timeline-header {
  border: none !important;
  background-color: transparent !important;
  color: #999 !important;
}

.box .with-border,
.panel .with-border,
.timeline-item .with-border {
  background: none !important;
  border-bottom: 1px solid #424240 !important;
}

.box .box-footer,
.box .panel-footer,
.panel .box-footer,
.panel .panel-footer,
.timeline-item .box-footer,
.timeline-item .panel-footer {
  background: none !important;
  border: none !important;
}

.box .panel-body,
.panel .panel-body,
.timeline-item .panel-body {
  color: #eee;
}

.box .panel-body ul,
.panel .panel-body ul,
.timeline-item .panel-body ul {
  color: #eee;
}

.filters {
  background: #222 !important;
  color: white;
}

.filters .element {
  cursor: pointer;
}

.filters .element:hover {
  background: #333 !important;
}

.filters .first {
  border-left: 1px solid #999;
}

.no-header .content {
  border: none;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #222 !important;
}

.table-hover tbody tr:hover {
  background-color: #222 !important;
}

.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: unset;
}

.table > thead > tr > td.active,
.table > thead > tr > th.active,
.table > thead > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr > td.active,
.table > tbody > tr > th.active,
.table > tbody > tr.active > td,
.table > tbody > tr.active > th,
.table > tfoot > tr > td.active,
.table > tfoot > tr > th.active,
.table > tfoot > tr.active > td,
.table > tfoot > tr.active > th {
  background-color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 > small {
  color: #eee !important;
}

input,
textarea,
.select2,
select {
  border: 1px solid #424240 !important;
  background-color: #222 !important;
  color: white;
}

.form-control,
label {
  color: #eee;
}

.preview {
  background-color: #222;
  min-height: 40px;
}

.select2 .select2-selection {
  background: none;
}

.select2 .select2-selection .select2-selection__rendered {
  color: white;
}

.select2-dropdown {
  background-color: #222;
}

.select2-dropdown .select2-results {
  color: white;
}

input[type=checkbox] {
  /*-webkit-appearance: none !important;
  -moz-appearance: none;
  appearance: none;*/
  outline: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

input[type=checkbox]:after {
  background-color: #222 !important;
  border: 1px solid #424240 !important;
}

input[type=checkbox]:checked {
  background: #424240 !important;
}

input[type=checkbox]:checked:after {
  display: block;
}

.main-footer {
  background: none !important;
  color: #999fac !important;
}

.user-footer {
  background-color: #222 !important;
}

.post {
  color: #eee;
}

.help-block {
  color: #bbb;
  font-style: italic;
}

li {
  color: #eee;
}

pre,
blockquote {
  background-color: #222;
  color: #eee;
}

.list-group-item {
  background: none;
  border: 1px solid #222;
  color: #eee;
}

.badge {
  background-color: #424240 !important;
  color: #333 !important;
}

/**
 * Tinymce
 */

.mce-panel {
  background-color: #222 !important;
}

.mce-menubar {
  border: 0 !important;
}

.mce-edit-area,
.mce-content-body {
  background: none !important;
}

.mce-btn {
  border: 1px solid #999 !important;
  border-radius: 2px !important;
  background: none !important;
  color: #eee !important;
}

.mce-menubtn button,
.mce-menubtn button span,
.mce-ico {
  color: #eee !important;
}

.mce-tabs,
.mce-tabs + .mce-container-body,
.mce-tab {
  background: none !important;
}

.mce-widget,
.mce-label,
.mce-tab {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75) !important;
}

.mce-menu-item.mce-disabled,
.mce-menu-item.mce-disabled:hover {
  background: #999 !important;
}

.input-group .input-group-addon {
  color: #424240;
  background-color: #333;
}

/**
 * Modal, Popover
 */

.modal-content,
.popover-content {
  background: #222;
}

.modal-content .modal-header,
.modal-content .popover-header,
.popover-content .modal-header,
.popover-content .popover-header {
  border-color: #424240 !important;
  border: none !important;
}

.modal-content .modal-footer,
.modal-content .popover-footer,
.popover-content .modal-footer,
.popover-content .popover-footer {
  border: none !important;
}

.popover-title {
  background: #222;
}

/**
 * Dashboard
 */

.products-list > .item {
  background: none;
}

.product-list-in-box > .item {
  border-bottom: 1px solid #999;
}

.small-box,
.info-box {
  background-color: #222 !important;
  border: 1px solid #222;
  border-radius: 2px;
}

.info-box-icon {
  background-color: #999;
}

/**
 * Menu
 */

.dropdown-menu {
  background-color: #222;
  border: 1px solid #999;
  border-radius: 2px;
}

.dropdown-menu li.header {
  background: none !important;
}

.dropdown-menu li {
  color: #eee !important;
}

.dropdown-menu li a {
  border: none;
  color: #eee;
}

.main-header,
.navbar {
  background: none !important;
}

.main-header a,
.navbar a {
  background: none !important;
  border: none !important;
}

.main-header a:hover,
.navbar a:hover {
  color: #424240 !important;
  background: #222 !important;
}

.main-header .campaign-selector,
.navbar .campaign-selector {
  color: white !important;
}

.entity-form ul.nav {
  border-bottom-color: unset;
  border-bottom: none;
}

.entity-form ul.nav li {
  background: unset;
}

/**
 * Quests
 */

.bg-success {
  background-color: #222;
}

/**
 * Dashboard
 */

.campaign-header .content {
  background: rgba(0, 0, 0, 0.5);
}

.campaign-header .content ul.campaign-links li a {
  background: rgba(0, 0, 0, 0.7);
}

.campaign-header .content ul.campaign-links li a:hover {
  background: rgba(0, 0, 0, 0.9);
}

.campaign-header .preview {
  background: none;
}

/**
 * Conversations
 */

.box-comments,
.box-comment {
  background-color: #333;
}

.box-comments .comment-text,
.box-comment .comment-text {
  color: #eee;
}

.box-comments .comment-text .username,
.box-comment .comment-text .username {
  color: #eee;
}

.box-conversation .box-footer {
  background-color: #333;
}

.table-filters {
  background-color: #333 !important;
}

.alert {
  background-color: #999 !important;
  color: #eee !important;
  border-radius: 2px !important;
  border: 0;
}

.alert a {
  color: #424240 !important;
}

/**
 * Footer
 */

footer .footer-links {
  background-color: rgba(0, 0, 0, 0.2);
}

footer img.logo-blue {
  display: none;
}

footer img.logo-white {
  display: unset;
}

/*
 Search
 */

.tt-menu {
  background-color: #222;
  border-color: #333;
}

.tt-cursor {
  color: #424240 !important;
}

/**
 * Dashboard
 */

.cover-background .campaign-link {
  background: rgba(0, 0, 0, 0.6) !important;
}

.cover-background .campaign-link:hover {
  background: rgba(0, 0, 0, 0.9) !important;
}

/**
 * Quest Elements
 */

.box-quest-element .widget-user-username a {
  color: #fff !important;
}

.box-quest-element .bg-gray .widget-user-desc {
  color: #000 !important;
}

.box-quest-element .bg-gray .widget-user-username a {
  color: #000 !important;
}

/**
 * Conversation
 */

.box-conversation .box-comment {
  background-color: #222 !important;
  border-bottom: 1px solid #333;
}

.box-conversation .box-footer {
  border: none !important;
  background: none !important;
}

.campaign-settings .box-success .box-header {
  background-color: #00a65a !important;
}

.entity-creator a {
  background: #232424 !important;
}

/**
 * Map
 */

.leaflet-popup-content-wrapper,
.leaflet-popup-tip,
.leaflet-control-layers-expanded,
.leaflet-control-layers,
.leaflet-bar a {
  background: #222;
}

.leaflet-bar a:hover {
  background: #999;
}

.leaflet-container {
  background: #333;
}

.leaflet-container .leaflet-popup-content {
  color: #eee;
}

#cy {
  background-color: #222;
  color: #424240;
}

.achievements .info-box .info-box-icon {
  background: rgba(0, 0, 0, 0.2);
}

.achievements .info-box.bg-gray {
  color: #fff;
}

.achievements .info-box.bg-aqua {
  background-color: #00c0ef !important;
  border: none !important;
}

.achievements .info-box.bg-yellow {
  background-color: #f39c12 !important;
  border: none !important;
}

/**
 * Spectrum
 */

.sp-replacer {
  border: 1px solid #424240;
  background-color: #222;
}

.sp-replacer:active,
.sp-replacer:hover {
  border: 1px solid #424240;
}

.sp-light {
  background-color: #222;
  border: 1px solid #424240;
}

.sp-light .sp-input {
  color: white;
}

.well {
  background-color: #222;
  color: #424240;
  border: none;
}

body {
  background-color: #262626;
  color: #777;
}

.btn {
  color: white !important;
}

.btn-danger:hover {
  background-color: #992329 !important;
  color: white !important;
}

.btn-default,
.btn-app,
.btn-secondary {
  color: #444 !important;
}

.box,
.panel,
.timeline-item {
  border: 1px solid #202121 !important;
  background-color: #202121 !important;
}

.content-wrapper a {
  color: #999 !important;
}

.content-wrapper a:hover {
  color: #fff !important;
}

.alert a {
  color: #fff !important;
}

.mce-edit-area,
.mce-content-body {
  filter: invert(90%) !important;
}

@media (min-width: 1200px) {
  a span.visible-lg {
    display: none !important;
  }
}

.main-footer {
  border-top: none !important;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
  background-color: #333 !important;
  color: #fff !important;
}

.nav-tabs-custom,
.nav-tabs {
  background-color: #202121 !important;
}

.nav-tabs-custom .tab-content,
.nav-tabs .tab-content {
  border-top: 1px solid #3D3C3B !important;
  background: #202121 !important;
}

.nav-tabs {
  border-bottom-color: #202121 !important;
}

.nav-tabs li:hover {
  background-color: #444444 !important;
}

.nav-tabs li:hover a {
  background: none;
}

.nav-tabs li.active {
  border-top-color: #496E81 !important;
}

.nav-tabs li.active a {
  color: #fff !important;
  background: none !important;
}

.nav-tabs-custom > .nav-tabs > li:first-of-type.active > a,
.nav-tabs-custom > .nav-tabs > li.active > a {
  border-left-color: #3D3C3B !important;
  border-right-color: #3D3C3B !important;
  border-bottom-color: #202121 !important;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top-color: #3D3C3B !important;
}

.box .nav-stacked > li {
  border-bottom-color: #3D3C3B !important;
}

.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus {
  background-color: #333 !important;
}

hr {
  border-top: 1px solid #424240 !important;
}

/**
 * Calendar
 */

.calendar td.today {
  background-color: #515142;
}

.panel-body .preview {
  background: none;
}

.panel-body .preview:before {
  background: linear-gradient(transparent 0px, #333) !important;
}

.bg-aqua,
.callout.callout-info,
.alert-info,
.label-info,
.modal-info .modal-body {
  background-color: #3BA0B6 !important;
}

.form-control {
  border-color: #424240 !important;
  border-radius: 2px;
  background-color: #232424 !important;
}

.btn-primary {
  background-color: #496E81 !important;
  border: 1px solid #426375 !important;
}

.btn-primary:hover {
  background-color: #6b96ab !important;
}

.btn-danger {
  background-color: #814948 !important;
  border: 1px solid #6f3e3d !important;
}

.btn-danger:hover {
  background-color: #994e4d !important;
}

.btn-success {
  background-color: #007239 !important;
  border: 1px solid #005028 !important;
}

.btn-success:hover {
  background-color: #00934c !important;
}

.btn-default {
  background-color: #232424 !important;
  border-color: #424240 !important;
  color: #aaa !important;
}

.skin-black .main-header .navbar > .sidebar-toggle,
.skin-black .main-header .navbar .nav > li > a {
  color: #aaa;
}

.skin-black .main-header .navbar > .sidebar-toggle:hover,
.skin-black .main-header .navbar .nav > li > a:hover {
  color: #ccc;
}

.navbar .user-image {
  background-color: #aaa;
}

#cy {
  background-color: #222;
  color: #fff;
}

.gallery ul li .image-preview .gallery-folder .text {
  color: #333;
}

