/**
 * All themes can benefit from overriding the same stuff, which is put here.
 */

:root {
  --theme-hard: #fff;
  --theme-soft: #333;
  --theme-detail: #222;
  --theme-unfocused: #999;
  --theme-background: #202121;
  --theme-main-text: #fff;
  --theme-soft-text: #999;
  --theme-border: #3D3C3B;
  --theme-link: #999;
  --theme-link-hover: #aaa;
  --theme-link-focus: #fff;
  --theme-helper-text: #ccc;
  /* --theme-btn-primary-bg: #496E81;
   --theme-btn-primary-border: 1px solid #426375;
   --theme-btn-primary-hover: #6b96ab;
   --theme-btn-primary-hover-text: white;
   --theme-btn-danger-bg: #814948;
   --theme-btn-danger-border: 1px solid #6f3e3d;
   --theme-btn-danger-hover: #994e4d;
   --theme-btn-danger-hover-text: white;
   --theme-btn-success-bg: #007239;
   --theme-btn-success-border: 1px solid #005028;
   --theme-btn-success-hover: #00934c;
   --theme-btn-success-hover-text: white;*/
  --theme-navbar-background: pink;
  --theme-navbar-notifications-text: var(--theme-main-text);
  --theme-navbar-notifications-background: var(--theme-background);
  --theme-navbar-notifications-border-bottom: 1px solid var(--theme-unfocused);
  --theme-table-info-background: #22bbff;
  --theme-table-info-hover: #22bbff;
  --theme-body-background: none;
  --theme-body-color: none;
  --theme-breadcrumb-link: #ccc;
}

/**
 * All of the boxes follow a similar design in our themes
 */

.box,
.panel,
.timeline-item {
  border: var(--theme-box-border);
  background-color: var(--theme-box-background);
}

.box .box-header,
.box .panel-heading,
.box .timeline-header,
.panel .box-header,
.panel .panel-heading,
.panel .timeline-header,
.timeline-item .box-header,
.timeline-item .panel-heading,
.timeline-item .timeline-header {
  border: none;
  background-color: transparent;
  color: var(--theme-soft-text);
}

.box .with-border,
.panel .with-border,
.timeline-item .with-border {
  background: none;
  border-bottom: var(--theme-box-header-border);
}

.box .box-footer,
.box .panel-footer,
.panel .box-footer,
.panel .panel-footer,
.timeline-item .box-footer,
.timeline-item .panel-footer {
  background: none;
  border: none;
}

.box .panel-body,
.panel .panel-body,
.timeline-item .panel-body {
  color: var(--theme-main-text);
}

.box .panel-body ul,
.panel .panel-body ul,
.timeline-item .panel-body ul {
  color: var(--theme-main-text);
}

.content-wrapper p {
  color: var(--theme-main-text);
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: var(--theme-detail);
}

.table-hover tbody tr:hover {
  background-color: var(--theme-detail);
}

.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: unset;
}

.table > thead > tr > td.active,
.table > thead > tr > th.active,
.table > thead > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr > td.active,
.table > tbody > tr > th.active,
.table > tbody > tr.active > td,
.table > tbody > tr.active > th,
.table > tfoot > tr > td.active,
.table > tfoot > tr > th.active,
.table > tfoot > tr.active > td,
.table > tfoot > tr.active > th {
  background-color: unset;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td,
.table-bordered {
  border-color: var(--theme-table-border);
}

.table > thead > tr > td.info,
.table > thead > tr > th.info,
.table > thead > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr > td.info,
.table > tbody > tr > th.info,
.table > tbody > tr.info > td,
.table > tbody > tr.info > th,
.table > tfoot > tr > td.info,
.table > tfoot > tr > th.info,
.table > tfoot > tr.info > td,
.table > tfoot > tr.info > th {
  background-color: var(--theme-table-info-background);
}

.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: var(--theme-table-info-hover);
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top-color: var(--theme-border);
  border-bottom-color: var(--theme-border);
}

.skin-black .main-header .navbar {
  background-color: var(--theme-navbar-background);
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
  background-color: var(--theme-detail);
}

/*.nav-tabs-custom > .nav-tabs > li.active > a, .nav-tabs-custom > .nav-tabs > li.active:hover > a {
  background-color: var(--theme-soft);
}*/

.nav-tabs-custom > .nav-tabs > li:first-of-type.active > a,
.nav-tabs-custom > .nav-tabs > li.active > a {
  border-left-color: var(--theme-border);
  border-right-color: var(--theme-border);
  border-bottom-color: var(--theme-background);
}

.nav-tabs-custom > .nav-tabs > li:hover > a,
.nav-tabs-custom > .nav-tabs > li.active > a,
.nav-tabs-custom > .nav-tabs > li.active:hover > a {
  background-color: var(--theme-background);
  color: var(--theme-main-text);
}

.nav-tabs-custom .tab-content,
.nav-tabs .tab-content {
  background: var(--theme-background);
}

.skin-black .main-header .navbar .nav > li > a:hover,
.skin-black .main-header .navbar .nav > li > a:active,
.skin-black .main-header .navbar .nav > li > a:focus,
.skin-black .main-header .navbar .nav .open > a,
.skin-black .main-header .navbar .nav .open > a:hover,
.skin-black .main-header .navbar .nav .open > a:focus,
.skin-black .main-header .navbar .nav > .active > a {
  color: var(--theme-navbar-li-hover-color);
  background-color: var(--theme-navbar-li-hover-background);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: var(--theme-navbar-li-hover-color);
  background-color: var(--theme-navbar-li-hover-background);
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a:hover {
  color: var(--theme-navbar-notifications-text);
  background-color: var(--theme-navbar-notifications-background);
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
  border-bottom: 1px solid var(--theme-border);
}

.skin-black .main-header .navbar .sidebar-toggle:hover {
  color: var(--theme-navbar-li-hover-color);
  background-color: var(--theme-navbar-li-hover-background);
}

.content-wrapper .help-block {
  color: var(--theme-helper-text);
  font-style: italic;
}

pre,
blockquote {
  background-color: var(--theme-detail);
  color: var(--theme-main-text);
}

.list-group-item {
  background: none;
  border: 1px solid var(--theme-detail);
  color: var(--theme-main-text);
}

/**
 * Tinymce
 */

.mce-panel {
  background-color: var(--theme-detail) !important;
}

.mce-menubar {
  border: 0 !important;
}

.mce-edit-area,
.mce-content-body {
  background: none !important;
}

.mce-btn {
  border: 1px solid var(--theme-unfocused) !important;
  border-radius: 2px !important;
  background: none !important;
  color: var(--theme-main-text) !important;
}

.mce-menubtn button,
.mce-menubtn button span,
.mce-ico {
  color: var(--theme-main-text) !important;
}

.mce-tabs,
.mce-tabs + .mce-container-body,
.mce-tab {
  background: none !important;
}

.mce-widget,
.mce-label,
.mce-tab {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75) !important;
}

.mce-menu-item.mce-disabled,
.mce-menu-item.mce-disabled:hover {
  background: var(--theme-unfocused) !important;
}

.input-group .input-group-addon {
  color: var(--theme-main-text);
  background-color: var(--theme-background);
  border-color: var(--theme-border);
}

/**
 * Modal, Popover
 */

/**
 * Menu
 */

.dropdown-menu {
  background-color: var(--theme-background);
  border: 1px solid var(--theme-border);
  border-radius: 2px;
}

.dropdown-menu li.divider {
  background-color: var(--theme-border);
}

.dropdown-menu li {
  color: var(--theme-main-text);
}

.dropdown-menu li a {
  border: none;
  color: var(--theme-main-text);
}

.box .nav-stacked > li {
  border-bottom-color: var(--theme-border);
}

/**
 * Dashboard
 */

.campaign-header .content {
  background: rgba(0, 0, 0, 0.5);
}

.campaign-header .content ul.campaign-links li a {
  background: rgba(0, 0, 0, 0.7);
}

.campaign-header .content ul.campaign-links li a:hover {
  background: rgba(0, 0, 0, 0.9);
}

.campaign-header .preview {
  background: none;
}

/**
 * Search
 */

.tt-menu {
  background-color: var(--theme-detail);
  border-color: var(--theme-soft);
}

.tt-cursor {
  color: var(--theme-hard) !important;
}

/**
 * Map
 */

.leaflet-popup-content-wrapper,
.leaflet-popup-tip,
.leaflet-control-layers-expanded,
.leaflet-control-layers,
.leaflet-bar a {
  background: var(--theme-detail);
}

.leaflet-bar a:hover {
  background: var(--theme-unfocused);
}

.leaflet-container {
  background: var(--theme-soft);
}

.leaflet-container .leaflet-popup-content {
  color: var(--theme-main-text);
}

.achievements .info-box .info-box-icon {
  background: rgba(0, 0, 0, 0.2);
}

.achievements .info-box.bg-gray {
  color: #fff;
  background-color: #333 !important;
}

.achievements .info-box.bg-aqua {
  background-color: #00c0ef;
  border: none;
}

.achievements .info-box.bg-yellow {
  background-color: #f39c12;
  border: none;
}

/**
 * Spectrum
 */

.sp-replacer {
  border: 1px solid var(--theme-border);
  background-color: var(--theme-background);
}

.sp-replacer:active,
.sp-replacer:hover {
  border: 1px solid var(--theme-border);
}

.sp-light {
  background-color: var(--theme-background);
  border: 1px solid var(--theme-border);
}

.sp-light .sp-input {
  color: white;
}

/** why do we need this? **/

@media (min-width: 1200px) {
  a span.visible-lg {
    display: none !important;
  }
}

:root {
  --theme-wrapper-text: #777;
  --theme-hard: #fff;
  --theme-soft: #333;
  --theme-detail: #222;
  --theme-unfocused: #999;
  --theme-background: #202121;
  --theme-main-text: #fff;
  --theme-soft-text: #999;
  --theme-border: #3D3C3B;
  --link-text: #999;
  --link-focus: #fff;
  --link-hover: #ccc;
  --submenu-link: #999;
  --theme-table-border: #777;
  --submenu-hover-background: #333;
  --theme-navbar-background: #262626;
  --sidebar-background: #333;
  --input-background-color: #222;
  --input-border-color: #3D3C3B;
  --input-text-color: #fff;
  --theme-navbar-li-hover-color: var(--theme-wrapper-text);
  --theme-navbar-li-hover-background: var(--theme-background);
  --theme-table-info-background: #1e2d35;
  --theme-table-info-hover: #293e4e;
  --theme-box-border: none;
  --theme-box-header-border: 1px solid var(--theme-border);
  --theme-box-background: var(--theme-background);
  --quick-creator-button-background: var(--theme-soft);
  --quick-creator-button-hover-background: var(--dashboard-widget-admin-border);
  --header-text: var(--theme-main-text);
  --modal-background: #222;
  --modal-inner-border: transparent;
  --calendar-today: #333;
  --calendar-week: #333;
  --dashboard-preview-gradient: #222;
  --dashboard-widget-admin-border: #3D3C3B;
  --footer-background: #262626;
  --footer-links-background: rgba(0, 0, 0, 0.2);
  --footer-logo-blue: none;
  --footer-logo-white: unset;
  --body-background: #262626;
  --body-text: #888;
  --gallery-text: var(--theme-hard);
  --gallery-background: var(--theme-background);
  --gallery-hover-text: var(--theme-unfocused);
  --relation-explorer-background: var(--theme-detail);
  --relation-explorer-text: var(--theme-hard);
  --conversation-comment-background: var(--theme-soft);
  --info-background: #3BA0B6;
  --success-background: #007239;
  --danger-background: #814948;
  --warning-background: #a96f13;
  --primary-background: #496e81;
  --default-background: var(--theme-background);
  --tab-background: none;
  --bg-default-link: #fff;
  --well-background: var(--theme-background);
  --well-border: var(--theme-background);
  --dashboard-setup-widget-background: rgba(0, 0, 0, 0.7);
  --dashboard-setup-widget-hover: rgba(0, 0, 0, 0.8);
  --content-wrapper-background: #262626;
  --hr-border-top: 1px solid var(--theme-border);
}

.mce-edit-area,
.mce-content-body {
  filter: invert(90%) !important;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
  background-color: var(--theme-soft);
  color: var(--theme-link);
}

.btn-danger {
  background-color: var(--danger-background);
  border: 1px solid var(--danger-background);
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger .focus {
  background-color: #a2413f;
}

.btn-info {
  background-color: var(--info-background);
}

.btn-primary {
  background-color: var(--primary-background);
  border: 1px solid var(--primary-background);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary .focus {
  background-color: #2ba6c1;
}

.btn-warning {
  background-color: var(--warning-background);
  border: 1px solid var(--warning-background);
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning .focus {
  background-color: #c4841d;
}

.btn-default {
  background-color: var(--default-background);
  border: 1px solid var(--theme-border);
  color: var(--theme-unfocused);
}

.btn-default:hover,
.btn-default:focus,
.btn-default .focus {
  background-color: var(--default-background);
  border: 1px solid var(--theme-link-hover);
  color: var(--theme-link-hover);
}

.skin-black .main-header .navbar .nav > li > a,
.skin-black .main-header .navbar > .sidebar-toggle {
  color: white;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
  color: #ccc;
}

