.btn,
.btn-group {
  display: none !important;
}

.nav-tabs {
  display: none !important;
}

.tab-pane {
  display: block !important;
  visibility: visible !important;
}

#permissions,
#map {
  display: none !important;
}

.page-break {
  page-break-after: always;
}

.export-hidden {
  display: none;
}

.profile-user-img {
  max-width: 200px;
  margin-top: 20px;
}

.pull-right {
  display: inline-block;
  text-align: right;
}

table,
.table {
  width: 100%;
  table-layout: fixed;
}

tr {
  display: table-row;
  border-collapse: collapse;
}

td {
  padding: 8px;
}

.avatar {
  width: 60px;
  max-width: 60px;
}

.entity-image,
.product-img .entity-image {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: block;
}

.export-visible {
  font-size: 18pt;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
}

.fa-check:before,
.fa-lock:before {
  content: "x";
}

