.skin-black .main-header {
  box-shadow: unset;
}

.skin-black .main-header .sidebar-toggle {
  display: block;
  text-align: center;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.skin-black .main-header .navbar-static-top {
  margin-left: 280px;
}

.skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a,
.skin-black .main-header .navbar .navbar-right > li > a {
  border: unset;
  font-size: 18px;
}

.skin-black .main-header .navbar .sidebar-toggle {
  border: unset;
}

.content-wrapper {
  margin-left: 280px;
}

.main-sidebar {
  width: 280px;
  background-color: #333;
  color: #fff;
  background-size: 280px 210px;
  background-repeat: no-repeat;
}

.main-sidebar a {
  color: #fff;
}

.main-sidebar .sidebar {
  background-color: #333;
  margin-bottom: 60px;
}

.main-sidebar .sidebar .sidebar-icon-link {
  color: #474747;
  font-size: 16px;
}

.main-sidebar .sidebar .sidebar-icon-link .fas,
.main-sidebar .sidebar .sidebar-icon-link .fa,
.main-sidebar .sidebar .sidebar-icon-link .far,
.main-sidebar .sidebar .sidebar-icon-link .ra {
  width: 20px;
}

.main-sidebar .sidebar .sidebar-icon-link:hover {
  color: #C2C2C2;
  background: unset;
}

.main-sidebar .sidebar li.sidebar-section .sidebar-text {
  padding: 6px 5px 6px 15px;
}

.main-sidebar .sidebar li {
  padding: 6px 12px;
  height: 38px;
}

.main-sidebar .sidebar li .fa,
.main-sidebar .sidebar li .ra,
.main-sidebar .sidebar li .fas,
.main-sidebar .sidebar li .far {
  font-size: 14px;
  width: 22px;
}

.main-sidebar .sidebar li:hover a {
  background: unset;
}

.main-sidebar .sidebar li a,
.main-sidebar .sidebar li .sidebar-text {
  font-size: 11px;
  line-height: 22px;
  color: #FFFFFF;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.main-sidebar .sidebar li a {
  border-left: unset;
  overflow: hidden;
}

.main-sidebar .sidebar li a:hover {
  background: rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.main-sidebar .sidebar li.active a,
.main-sidebar .sidebar li.active.sidebar-section {
  border: none;
  background: rgba(0, 0, 0, 0.24);
  box-shadow: inset 1px 2px 6px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.main-sidebar .sidebar li.subsection {
  padding-left: 24px;
  margin: 1px 0;
}

.main-sidebar-placeholder {
  background-image: url(https://images.kanka.io/app/L5nSYCLgwtxR3wlUGk16fMZ0zAU=/280x210/src/images%2Fbackgrounds%2Fmountain-background-medium.jpg);
  z-index: 820;
}

.skin-black .sidebar-menu > li > .treeview-menu {
  background-color: unset;
}

section.sidebar-campaign {
  height: 160px;
  background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, #333333 100%);
  overflow: hidden;
}

section.sidebar-campaign .campaign-block {
  text-align: left;
  height: 120px;
  left: 60px;
  padding: 0 24px;
  padding-top: 96px;
}

section.sidebar-campaign .campaign-block .campaign-head {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  height: 24px;
  word-break: break-all;
}

section.sidebar-campaign .campaign-block .campaign-head .campaign-name {
  overflow: hidden;
  display: block;
  max-height: 24px;
  cursor: pointer;
}

section.sidebar-campaign .campaign-block .campaign-head .campaign-name .fa-caret-down {
  transition: transform 0.5s ease;
}

section.sidebar-campaign .campaign-block .campaign-head .campaign-name .fa-caret-down.flipped {
  transform: rotate(-180deg);
}

section.sidebar-campaign .campaign-block .campaign-head .campaign-updated {
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  letter-spacing: 0.4px;
  /* Soft grey */
  color: #C2C2C2;
  mix-blend-mode: normal;
}

.campaign-switcher {
  background-color: #1F1F1F;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33), 2px 2px 16px rgba(0, 0, 0, 0.33);
  border-radius: 8px;
  z-index: 1080;
  width: 256px;
  position: absolute;
  left: 78px;
  top: 180px;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
}

.campaign-switcher .section {
  color: #757575;
  padding: 12px 16px 4px 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.campaign-switcher ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.campaign-switcher ul li {
  display: block;
  height: 48px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

.campaign-switcher ul li a {
  padding: 12px 16px;
  width: 100%;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.12);
  line-height: 32px;
  height: 48px;
  display: block;
  overflow: hidden;
  position: absolute;
  font-size: 11px;
  word-break: break-all;
  transition: all 0.3s ease;
}

.campaign-switcher ul li a:hover {
  letter-spacing: 1.8px;
}

.campaign-switcher ul li .background-image,
.campaign-switcher ul li .background-gradient {
  position: absolute;
  width: 208px;
  height: 48px;
  right: 0;
}

.campaign-switcher ul li .background-gradient {
  background: linear-gradient(270deg, rgba(31, 31, 31, 0) 0%, #1F1F1F 100%);
}

.campaign-switcher ul li.bordered {
  padding: 0;
  margin: 4px 8px 0 8px;
}

.campaign-switcher ul li.bordered a {
  color: #757575;
  border: 1px dashed #474747;
  box-sizing: border-box;
  border-radius: 8px;
  height: 40px;
  padding: 4px 10px;
  display: block;
  margin: 0;
  width: 240px;
  transition: all 0.3s ease;
}

.campaign-switcher ul li.bordered a:hover {
  border: 1px dashed #757575;
  color: #999;
}

.sidebar-creator {
  position: fixed;
  width: 280px;
  height: 48px;
  bottom: 0;
  left: 0;
  background-color: #2d7fed;
  transform: translate(0, 0);
  z-index: 825;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.sidebar-creator a {
  text-align: center;
  color: #fff !important;
  mix-blend-mode: normal;
  width: 100%;
  padding: 14px 0;
  flex: none;
  order: 1;
  align-self: center;
  line-height: 16px;
  font-size: 14px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.sidebar-creator a span {
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.sidebar-collapse .sidebar-toggle {
  width: 50px;
}

.skin-black .wrapper,
.skin-black .main-sidebar,
.skin-black .left-side {
  background-color: #333;
}

.main-sidebar .sidebar li .fa,
.main-sidebar .sidebar li .ra,
.main-sidebar .sidebar li .fas,
.main-sidebar .sidebar li .far,
.main-sidebar .sidebar li .ra {
  font-size: 14px;
  vertical-align: text-bottom;
}

.main-footer {
  margin-left: 280px;
}

.skin-black .main-header.main-header-start {
  background-color: #fff;
}

/** Mobile **/

@media (max-width: 767px) {
  .skin-black .main-header .navbar-static-top {
    margin-left: 0;
  }

  .main-header {
    background-color: #fff;
  }

  .main-header .navbar {
    margin-left: 0;
  }

  .main-sidebar {
    transform: translate(-280px, 0);
  }

  .sidebar-creator {
    transform: translate(-280px, 0);
  }

  .content-wrapper,
  .main-footer {
    margin-left: 0;
  }

  .sidebar-open .content-wrapper,
  .sidebar-open .main-footer {
    transform: translate(280px, 0);
  }

  .sidebar-open .sidebar-creator {
    transform: translate(0, 0);
  }

  .campaign-switcher {
    left: 10px;
  }
}

@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .main-sidebar {
    transform: translate(0, 0);
    width: 0 !important;
    z-index: 850;
  }

  .sidebar-mini.sidebar-collapse .sidebar-creator {
    width: 50px !important;
  }

  .sidebar-mini.sidebar-collapse .sidebar-creator span {
    display: none;
  }

  .sidebar-mini.sidebar-collapse .content-wrapper,
  .sidebar-mini.sidebar-collapse .right-side,
  .sidebar-mini.sidebar-collapse .main-footer {
    margin-left: 0 !important;
    z-index: 840;
  }

  .sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-left: 0;
  }

  .sidebar-mini.sidebar-collapse .sidebar-menu > li > .sidebar-text > span,
  .sidebar-mini.sidebar-collapse .campaign-updated,
  .sidebar-mini.sidebar-collapse .campaign-name {
    display: none !important;
  }
}

body,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

h1 {
  font-weight: 300;
  letter-spacing: -0.5px;
}

h2 {
  font-weight: 300;
  letter-spacing: -0.5px;
}

h3 {
  font-style: normal;
  font-weight: normal;
}

h4 {
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.25px;
}

h5 {
  font-style: normal;
  font-weight: normal;
}

