#app {
  background-color: #0C1416;
  background: -webkit-gradient(linear, right top, left top, from(#0B1F20), to(#0C1416)) !important;
  background: linear-gradient(to left, #0B1F20, #0C1416) !important;
}

.main-sidebar {
  background: #0B1F20 !important;
}

.main-sidebar li:hover,
.main-sidebar li.active {
  background-color: #0B1F20 !important;
}

.main-sidebar li:hover a,
.main-sidebar li.active a {
  color: #42FFFF !important;
}

.content-wrapper {
  background: none !important;
}

.btn {
  background-color: #157778 !important;
  color: white !important;
  border: none !important;
  border-radius: 2px !important;
}

.btn:hover {
  color: #0B1F20 !important;
  background-color: #42FFFF !important;
  border: none !important;
}

.btn-danger:hover {
  background-color: #992329 !important;
  color: white !important;
}

.input-group-btn .btn,
.input-group-btn .new-entity-selector {
  height: 38px !important;
  padding-top: 15px !important;
}

.box,
.panel {
  border: 1px solid #42FFFF !important;
  background: none !important;
}

.box .box-header,
.box .panel-heading,
.panel .box-header,
.panel .panel-heading {
  background: none !important;
  border: none !important;
}

.box .with-border,
.panel .with-border {
  background: none !important;
  border-bottom: 1px solid #42FFFF !important;
}

.box .box-footer,
.box .panel-footer,
.panel .box-footer,
.panel .panel-footer {
  background: none !important;
  border: none !important;
}

.filters {
  background: #0B1F20 !important;
  margin: 0 !important;
  border-bottom: none;
  border-radius: 0 !important;
  color: white;
}

.filters .element {
  cursor: pointer;
}

.filters .element:hover {
  background: #0C1416 !important;
}

.filters .first {
  border-left: 1px solid #157778;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #0B1F20 !important;
}

.table tr td,
.table tr th {
  border: none !important;
  border-top: none !important;
  border-bottom: none !important;
  color: #eee;
}

.table-hover tbody tr:hover {
  background-color: #0B1F20 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 > small {
  color: #42FFFF !important;
}

a {
  color: #157778 !important;
}

a:hover {
  color: #42FFFF !important;
}

@media (min-width: 1200px) {
  a span.visible-lg {
    display: none !important;
  }
}

input,
textarea,
.select2,
select {
  border: 1px solid #42FFFF !important;
  border-radius: 0 !important;
  background-color: #0B1F20 !important;
  color: white;
}

.form-control,
label {
  color: white;
}

.preview {
  background-color: #0B1F20;
  min-height: 40px;
}

.preview a.img-delete {
  background: none;
  margin-top: -30px;
  position: relative;
  background-color: rgba(11, 31, 31, 0.6);
}

.select2 .select2-selection {
  background: none;
  border: none;
  height: 36px;
}

.select2 .select2-selection .select2-selection__rendered {
  color: white;
}

.select2-dropdown {
  background-color: #0B1F20;
}

.select2-dropdown .select2-results {
  color: white;
}

input[type=checkbox] {
  -webkit-appearance: none !important;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  width: 16px;
  height: 16px;
}

input[type=checkbox]:after {
  background-color: #0B1F20 !important;
  border: 1px solid #42FFFF !important;
}

input[type="checkbox"]:checked {
  background: #42FFFF !important;
}

input[type="checkbox"]:checked:after {
  display: block;
}

.main-footer {
  background: none !important;
  border-top: none !important;
  color: #999fac !important;
}

.user-footer {
  background-color: #0B1F20 !important;
}

.post {
  color: white;
}

.help-block {
  color: #157778;
  text-align: justify;
}

p {
  text-align: justify;
  color: white;
}

pre,
blockquote {
  background-color: #0B1F20;
  color: white;
}

.nav-tabs-custom {
  border: 1px solid #42FFFF;
  background: none;
}

.nav-tabs-custom li {
  border: none;
}

.nav-tabs-custom li:hover {
  background: #0B1F20;
  border: none;
  border-bottom: none;
}

.nav-tabs-custom li:hover a {
  background: none;
}

.nav-tabs-custom li.active {
  border: none;
}

.nav-tabs-custom li.active a {
  color: #0C1416 !important;
  background-color: #42FFFF !important;
  border: none !important;
}

.nav-tabs-custom .tab-content {
  background: none;
}

.nav-tabs {
  border: none !important;
}

.alert {
  background-color: #157778 !important;
  color: white !important;
  border-radius: 2px !important;
  border: 0;
}

.alert a {
  color: #42FFFF !important;
}

.list-group-item {
  background: none;
  border: 1px solid #0B1F20;
  color: white;
}

.badge {
  background-color: #42FFFF !important;
  color: #0C1416 !important;
}

/**
 * Tinymce
 */

.mce-panel {
  background-color: #0B1F20 !important;
}

.mce-menubar {
  border: 0 !important;
}

.mce-edit-area,
.mce-content-body {
  background: none !important;
}

.mce-btn {
  border: 1px solid #157778 !important;
  border-radius: 2px !important;
  background: none !important;
  color: white !important;
}

.mce-menubtn button,
.mce-menubtn button span,
.mce-ico {
  color: white !important;
}

/**
 * Modal
 */

.modal-content {
  background: #0B1F20;
}

.modal-content .modal-header {
  border-color: #42FFFF !important;
  border: none !important;
}

.modal-content .modal-footer {
  border: none !important;
}

/**
 * Dashboard
 */

.products-list > .item {
  background: none;
}

.product-list-in-box > .item {
  border-bottom: 1px solid #157778;
}

.small-box,
.info-box {
  background-color: #0B1F20 !important;
  border: 1px solid #0B1F20;
  border-radius: 2px;
}

.info-box-icon {
  background-color: #157778 !important;
}

/**
 * Menu
 */

.dropdown-menu {
  background-color: #0B1F20;
  border: 1px solid #157778;
  border-radius: 2px;
}

.dropdown-menu li.header {
  background: none !important;
}

.dropdown-menu li {
  color: white !important;
}

.dropdown-menu li a {
  border: none;
  color: white;
}

.main-header,
.navbar {
  background: none !important;
}

.main-header a,
.navbar a {
  background: none !important;
  border: none !important;
}

.main-header a:hover,
.navbar a:hover {
  color: #42FFFF !important;
  background: #0B1F20 !important;
}

