.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
	/* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
	transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}

.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(181, 226, 140);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}
:root {
  --map-hero-ratio: 2/1;
  --map-ruler-color: #de0000;
}

.map {
  width: 100%;
  min-height: 50vh;
}

.map-explore {
  min-height: calc(100vh - 50px) !important;
}

.map-dashboard {
  min-height: 30vh;
}

.marker {
  color: white;
  background-color: unset;
  text-align: center;
}

.marker-pin {
  width: 40px;
  height: 40px;
  border-radius: 50% 50% 50% 0;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  box-shadow: 0 6px 6px rgba(50, 50, 93, 0.31), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.marker-pin:after {
  content: "";
  width: 36px;
  height: 36px;
  margin: 2px 0 0 -18px;
  position: absolute;
  border-radius: 50%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(45deg);
}

.btn-map-explore {
  color: #fff !important;
  z-index: 999;
}

.marker.size-1 {
  font-size: 0.5em;
}

.marker.size-2 {
  font-size: 1em;
}

.marker.size-3 {
  font-size: 2em;
}

.marker.size-4 {
  font-size: 3em;
}

.marker.size-5 {
  font-size: 4em;
}

.marker i {
  font-size: 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.marker-popup-actions a:not(.btn) {
  color: var(--link-text);
}

.marker-popup-actions a.btn {
  color: var(--label-default-text);
}

.toast-container {
  bottom: 60px;
  z-index: 910;
}

.map-actions {
  z-index: 500;
}
.map-actions .btn-mode-enable {
  display: inline-block;
}
.map-actions .btn-mode-disable, .map-actions .btn-mode-drawing {
  display: none;
}

#map-body #sidebar-content {
  padding: 0;
  overflow: auto;
  max-height: 100vh;
  white-space: unset;
}
#map-body .search-drawer, #map-body nav {
  z-index: 1050;
}
#map-body .main-sidebar {
  color: #efefef;
  padding-top: 0;
  z-index: 1040;
}
#map-body .marker-header .marker-top {
  float: right;
}
#map-body .marker-header.with-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  aspect-ratio: var(--map-hero-ratio);
  background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, var(--sidebar-background) 100%);
}
#map-body .marker-header.with-image .marker-header-lower .marker-name {
  padding: 2rem 0.5rem 0.8rem 0.5rem;
}
#map-body .marker-header.with-image .marker-header-fade {
  background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, var(--sidebar-background) 100%);
}
#map-body .marker-actions {
  margin: 20px 0;
}
#map-body .marker-actions .dropdown-menu li > a {
  color: var(--dropdown-link);
}
#map-body .marker-entry {
  padding: 0 0.75rem;
}

body.map-edit-mode .map-actions .btn-mode-enable {
  display: none;
}
body.map-edit-mode .map-actions .btn-mode-disable {
  display: inline-block;
}

body.map-drawing-mode .map-actions .btn-mode-enable, body.map-drawing-mode .map-actions .btn-mode-disable {
  display: none;
}
body.map-drawing-mode .map-actions .btn-mode-drawing {
  display: inline-block;
}

.marker-close {
  font-size: 2rem;
  margin: 0.325rem;
}
.marker-close:hover {
  cursor: pointer;
}

.leaflet-top, .leaflet-bottom {
  z-index: 800;
}

.leaflet-popup img, #sidebar-marker img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  #map-body .main-sidebar {
    width: 380px;
  }
  #map-body .content-wrapper, #map-body .main-footer {
    margin-left: 380px;
  }
  #map-body .navbar .sidebar-toggle {
    margin-left: 0;
  }
  #map-body .main-header .navbar-static-top {
    margin-left: 380px;
  }
  #map-body.sidebar-collapse .main-header .navbar-static-top {
    margin-left: 0;
  }
}
:root {
  --leaflet-popup-background: #fff;
  --leaflet-popup-text: inherit;
}

/** Theming of the leaflet stuff **/
.leaflet-popup-content-wrapper,
.leaflet-popup-tip,
.leaflet-control-layers-expanded,
.leaflet-control-layers,
.leaflet-bar a {
  background-color: var(--leaflet-popup-background) !important;
  color: var(--leaflet-popup-text) !important;
}

.leaflet-bar a:hover {
  background: var(--leaflet-popup-background);
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: var(--leaflet-popup-background) !important;
}
.leaflet-popup-content-wrapper .leaflet-popup-content, .leaflet-popup-tip .leaflet-popup-content {
  color: var(--leaflet-popup-text);
}

.leaflet-container {
  background: transparent !important;
}

.marker-preset-list .preset {
  border: 1px solid var(--tab-background);
  background-color: var(--tab-background);
}
.marker-preset-list .preset:hover {
  border: 1px solid var(--tab-hover-background);
}
.marker-preset-list .preset .preset-use:hover {
  text-decoration: underline;
}

/** Used by the ruler plugin */
.leaflet-ruler {
  height: 48px;
  width: 48px;
  background-image: url("/images/vendor/leaflet/ruler/icon.png"); /* <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */
  background-repeat: no-repeat;
  background-position: center;
}

.leaflet-ruler:hover {
  background-image: url("/images/vendor/leaflet/ruler/icon-colored.png"); /* <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */
}

.leaflet-ruler-clicked {
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/images/vendor/leaflet/ruler/icon-colored.png");
}

.leaflet-bar {
  background-color: #ffffff;
}

.result-tooltip {
  background-color: white;
  border-width: medium;
  border-color: var(--map-ruler-color);
  font-size: smaller;
}

.moving-tooltip {
  background-color: rgba(255, 255, 255, 0.7);
  background-clip: padding-box;
  opacity: 0.5;
  border: dotted;
  border-color: var(--map-ruler-color);
  font-size: smaller;
}

.plus-length {
  padding-left: 45px;
}

/** END Used by the ruler plugin */

/*# sourceMappingURL=map-v3.css.map*/