.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
	/* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
	transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}
.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(181, 226, 140);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}.map {
  width: 100%;
  min-height: 50vh;
}

.map-explore {
  min-height: calc(100vh - 50px) !important;
}

.map-dashboard {
  min-height: 30vh;
}

.map-form {
  margin-bottom: 15px;
}

.marker {
  color: white;
  background-color: unset;
  text-align: center;
}

.marker-pin {
  width: 40px;
  height: 40px;
  border-radius: 50% 50% 50% 0;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  box-shadow: 0 6px 6px rgba(50, 50, 93, 0.31), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.marker-pin:after {
  content: "";
  width: 36px;
  height: 36px;
  margin: 2px 0 0 -18px;
  position: absolute;
  border-radius: 50%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(45deg);
}

.btn-map-explore {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #fff !important;
  z-index: 999;
}

.marker.size-1 {
  font-size: 0.5em;
}

.marker.size-2 {
  font-size: 1em;
}

.marker.size-3 {
  font-size: 2em;
}

.marker.size-4 {
  font-size: 3em;
}

.marker.size-5 {
  font-size: 4em;
}

.marker i {
  font-size: 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.marker-popup-actions a {
  color: #fff;
}

#map-body #sidebar-content {
  padding: 8px;
  overflow: auto;
  max-height: calc(100vh - 60px);
}

#map-body .sidebar li {
  height: unset;
}

#map-body .sidebar a {
  color: #fff;
}

.skin-map.sidebar-collapse {
  /*.sidebar {
    display: none !important;
  }*/
}

.skin-map .main-sidebar {
  color: #efefef;
  overflow: hidden;
  padding-top: 0;
  z-index: 1040;
}

.skin-map .marker-details .marker-name {
  margin-top: 0;
}

.skin-map .marker-actions {
  margin: 20px 0;
}

.skin-map .entity-title {
  min-height: 40px;
  margin-bottom: 5px;
}

.skin-map .entity-title a {
  display: flex;
  align-items: center;
}

.skin-map .entity-title .entity-image {
  display: inline-block;
  margin-right: 5px;
}

.skin-map .entity-title .entity-name {
  display: inline;
  font-size: 12pt;
}

.marker-close:hover {
  cursor: pointer;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 800;
}

.leaflet-popup img,
.marker-details img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  #map-body .main-sidebar {
    width: 430px;
  }

  #map-body .content-wrapper,
  #map-body .main-footer {
    margin-left: 430px;
  }

  #map-body.skin-black .main-header .navbar-static-top {
    margin-left: 430px;
  }

  #map-body.skin-black.sidebar-collapse .main-header .navbar-static-top {
    margin-left: 0;
  }
}

:root {
  --leaflet-popup-background: #fff;
  --leaflet-popup-text: inherit;
}

/** Theming of the leaflet stuff **/

.leaflet-popup-content-wrapper,
.leaflet-popup-tip,
.leaflet-control-layers-expanded,
.leaflet-control-layers,
.leaflet-bar a {
  background-color: var(--leaflet-popup-background) !important;
  color: var(--leaflet-popup-text) !important;
}

.leaflet-bar a:hover {
  background: var(--leaflet-popup-background);
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: var(--leaflet-popup-background) !important;
}

.leaflet-popup-content-wrapper .leaflet-popup-content,
.leaflet-popup-tip .leaflet-popup-content {
  color: var(--leaflet-popup-text);
}

.leaflet-container {
  background: transparent !important;
}

