/**
 * All themes can benefit from overriding the same stuff, which is put here.
 */

/**
 * All of the boxes follow a similar design in our themes
 */

.box,
.panel,
.timeline-item,
.popover {
  border: var(--theme-box-border);
  background-color: var(--theme-box-background);
}

.box .box-header,
.box .panel-heading,
.box .timeline-header,
.panel .box-header,
.panel .panel-heading,
.panel .timeline-header,
.timeline-item .box-header,
.timeline-item .panel-heading,
.timeline-item .timeline-header,
.popover .box-header,
.popover .panel-heading,
.popover .timeline-header {
  border: none;
  background-color: transparent;
  color: var(--theme-soft-text);
}

.box .with-border,
.panel .with-border,
.timeline-item .with-border,
.popover .with-border {
  background: none;
  border-bottom: var(--theme-box-header-border);
}

.box .box-footer,
.box .panel-footer,
.panel .box-footer,
.panel .panel-footer,
.timeline-item .box-footer,
.timeline-item .panel-footer,
.popover .box-footer,
.popover .panel-footer {
  background: none;
  border: none;
}

.popover {
  border: 1px solid #333;
}

.popover .popover-title {
  background-color: var(--theme-box-background);
  border-color: #333;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: var(--theme-table-highlight);
}

.table-hover tbody tr:hover {
  background-color: var(--theme-table-highlight);
}

.table :is(thead, tbody, tfoot) tr :is(td, th) {
  border-top-color: var(--body-background);
  border-bottom-color: var(--body-background);
}

.skin-black .main-header .navbar {
  background-color: var(--theme-navbar-background);
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
  background-color: var(--theme-detail);
}

.nav-tabs-custom > .nav-tabs > li:first-of-type.active > a,
.nav-tabs-custom > .nav-tabs > li.active > a {
  border-left-color: var(--theme-border);
  border-right-color: var(--theme-border);
  border-bottom-color: var(--theme-background);
}

.nav-tabs-custom > .nav-tabs > li:hover > a,
.nav-tabs-custom > .nav-tabs > li.active > a,
.nav-tabs-custom > .nav-tabs > li.active:hover > a {
  background-color: var(--theme-background);
  color: var(--theme-main-text);
}

.skin-black .main-header .navbar .nav > li > a:hover,
.skin-black .main-header .navbar .nav > li > a:active,
.skin-black .main-header .navbar .nav > li > a:focus,
.skin-black .main-header .navbar .nav .open > a,
.skin-black .main-header .navbar .nav .open > a:hover,
.skin-black .main-header .navbar .nav .open > a:focus,
.skin-black .main-header .navbar .nav > .active > a {
  color: var(--theme-wrapper-text);
  background-color: var(--theme-navbar-li-hover-background);
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a:hover {
  color: var(--theme-navbar-notifications-text);
  background-color: var(--theme-navbar-notifications-background);
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
  border-bottom: 1px solid var(--theme-border);
}

.skin-black .main-header .navbar .sidebar-toggle:hover {
  color: var(--theme-wrapper-text);
  background-color: var(--theme-navbar-li-hover-background);
}

.box .nav-stacked > li {
  border-color: var(--theme-border);
}

/**
 * Tinymce
 */

.mce-panel {
  background-color: var(--theme-detail) !important;
}

.mce-menubar {
  border: 0 !important;
}

.mce-edit-area,
.mce-content-body {
  background: none !important;
}

.mce-btn {
  border: 1px solid var(--theme-border) !important;
  border-radius: 2px !important;
  background: none !important;
  color: var(--theme-main-text) !important;
}

.mce-menubtn button,
.mce-menubtn button span,
.mce-ico {
  color: var(--theme-main-text) !important;
}

.mce-tabs,
.mce-tabs + .mce-container-body,
.mce-tab {
  background: none !important;
}

.mce-widget,
.mce-label,
.mce-tab {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75) !important;
}

.mce-menu-item.mce-disabled,
.mce-menu-item.mce-disabled:hover {
  background: var(--theme-background) !important;
}

/** why do we need this? **/

@media (min-width: 1200px) {
  a span.visible-lg {
    display: none !important;
  }
}

:root {
  --theme-main-text: #777;
  --theme-hard-text: #eee;
  --theme-soft: #333;
  --theme-detail: #0a121b;
  --theme-background: #0a121b;
  --theme-soft-text: #999;
  --theme-border: #333;
  --theme-navbar-background: var(--theme-detail);
  --theme-navbar-li-hover-background: var(--theme-background);
  --theme-table-highlight: #0f1c2b;
  --theme-box-border: none;
  --theme-box-header-border: 1px solid var(--theme-border);
  --theme-box-background: var(--theme-background);
  --submenu-link: var(--link-text);
  --submenu-hover-background: #293e4e;
  --link-text: #9CD7F7;
  --link-focus: #fff;
  --link-hover: #d4eff7;
  --input-background-color: #0a121b;
  --input-border-color: #333;
  --input-text-color: #fff;
  --quick-creator-button-background: var(--theme-background);
  --quick-creator-button-hover-background: var(--dashboard-widget-admin-border);
  --header-text: var(--theme-hard-text);
  --calendar-today: #0d3c5a;
  --calendar-week: #061f2f;
  --dashboard-preview-gradient: #0a121b;
  --dashboard-widget-admin-border: #3D3C3B;
  --footer-background: unset;
  --footer-links-background: rgba(0, 0, 0, 0.2);
  --footer-logo-blue: none;
  --footer-logo-white: unset;
  --body-background: #061f2f;
  --body-text: #d3d4d4;
  --gallery-text: var(--theme-hard-text);
  --gallery-background: var(--theme-background);
  --gallery-hover-text: var(--theme-soft-text);
  --relation-explorer-background: var(--theme-detail);
  --relation-explorer-text: var(--theme-hard-text);
  --conversation-comment-background: none;
  --tab-background: transparent;
  --tab-text: #fff;
  --bg-default-link: #fff;
  --well-background: var(--theme-background);
  --well-border: var(--theme-background);
  --dashboard-setup-widget-background: rgba(0, 0, 0, 0.7);
  --dashboard-setup-widget-hover: rgba(0, 0, 0, 0.8);
  --content-wrapper-background: none;
  --hr-border-top: 1px solid var(--theme-border);
  --sidebar-background: #0a121b;
  --sidebar-link: #9CD7F7;
  --breadcrumb-text: var(--sidebar-link);
  --campaign-switcher-background: #0a121b;
  --modal-background: #0a121b;
  --modal-inner-border: transparent;
  --navbar-li-text: #eee;
  --leaflet-popup-background: #0a121b;
  --leaflet-popup-text: #fff;
  --spectrum-border: #333;
  --spectrum-background: var(--theme-background);
  --spectrum-text: var(--theme-main-text);
  --search-background: var(--theme-background);
  --search-text: var(--theme-main-text);
  --search-cursor-background: #0e324a;
  --search-border: var(--theme-border);
  --dropdown-background: var(--theme-background);
  --dropdown-border: #333;
  --dropdown-hover-background: var(--search-cursor-background);
  --dropdown-hover-text: var(--theme-main-text);
}

.skin-black .main-header .navbar .nav > li > a,
.skin-black .main-header .navbar > .sidebar-toggle {
  color: white;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
  color: #ccc;
}

.table > thead > tr > th {
  border-bottom: 1px;
}

@media (max-width: 991px) {
  .content-header > .breadcrumb {
    background: none !important;
  }

  .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    background-color: #0a121b;
  }
}

