/**
 * All themes can benefit from overriding the same stuff, which is put here.
 */

#app {
  background: none;
}

.campaign-dashboard-widgets .widget .widget-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.campaign-dashboard-widgets .widget:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.content-wrapper {
  background: none !important;
}

.content-wrapper p {
  text-align: justify;
  color: #eee;
}

.box,
.panel,
.timeline-item {
  background: none !important;
  border: none !important;
}

.box .box-header,
.box .panel-heading,
.box .timeline-header,
.panel .box-header,
.panel .panel-heading,
.panel .timeline-header,
.timeline-item .box-header,
.timeline-item .panel-heading,
.timeline-item .timeline-header {
  border: none !important;
  background-color: transparent !important;
  color: #999 !important;
}

.box .with-border,
.panel .with-border,
.timeline-item .with-border {
  background: none !important;
  border-bottom: 1px solid #fff !important;
}

.box .box-footer,
.box .panel-footer,
.panel .box-footer,
.panel .panel-footer,
.timeline-item .box-footer,
.timeline-item .panel-footer {
  background: none !important;
  border: none !important;
}

.box .panel-body,
.panel .panel-body,
.timeline-item .panel-body {
  color: #eee;
}

.box .panel-body ul,
.panel .panel-body ul,
.timeline-item .panel-body ul {
  color: #eee;
}

.panel-entity-files .well {
  background-color: #333;
  color: #fff;
}

.filters {
  background: #0a121b !important;
  color: white;
}

.filters .element {
  cursor: pointer;
}

.filters .element:hover {
  background: #333 !important;
}

.filters .first {
  border-left: 1px solid #999;
}

.no-header .content {
  border: none;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #0a121b !important;
}

.table-hover tbody tr:hover {
  background-color: #0a121b !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 > small {
  color: #eee !important;
}

input,
textarea,
.select2,
select {
  border: 1px solid #fff !important;
  background-color: #0a121b !important;
  color: white;
}

.form-control,
label {
  color: #eee;
}

.preview {
  background-color: #0a121b;
  min-height: 40px;
}

.select2 .select2-selection {
  background: none;
}

.select2 .select2-selection .select2-selection__rendered {
  color: white;
}

.select2-dropdown {
  background-color: #0a121b;
}

.select2-dropdown .select2-results {
  color: white;
}

input[type=checkbox] {
  -webkit-appearance: none !important;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

input[type=checkbox]:after {
  background-color: #0a121b !important;
  border: 1px solid #fff !important;
}

input[type=checkbox]:checked {
  background: #fff !important;
}

input[type=checkbox]:checked:after {
  display: block;
}

.main-footer {
  background: none !important;
  color: #999fac !important;
}

.user-footer {
  background-color: #0a121b !important;
}

.post {
  color: #eee;
}

.help-block {
  color: #bbb;
  font-style: italic;
}

li {
  color: #eee;
}

pre,
blockquote {
  background-color: #0a121b;
  color: #eee;
}

.list-group-item {
  background: none;
  border: 1px solid #0a121b;
  color: #eee;
}

.badge {
  background-color: #fff !important;
  color: #333 !important;
}

/**
 * Tinymce
 */

.mce-panel {
  background-color: #0a121b !important;
}

.mce-menubar {
  border: 0 !important;
}

.mce-edit-area,
.mce-content-body {
  background: none !important;
}

.mce-btn {
  border: 1px solid #999 !important;
  border-radius: 2px !important;
  background: none !important;
  color: #eee !important;
}

.mce-menubtn button,
.mce-menubtn button span,
.mce-ico {
  color: #eee !important;
}

.mce-tabs,
.mce-tabs + .mce-container-body,
.mce-tab {
  background: none !important;
}

.mce-widget,
.mce-label,
.mce-tab {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75) !important;
}

.mce-menu-item.mce-disabled,
.mce-menu-item.mce-disabled:hover {
  background: #999 !important;
}

.input-group .input-group-addon {
  color: #fff;
  background-color: #333;
}

/**
 * Modal, Popover
 */

.modal-content,
.popover-content {
  background: #0a121b;
}

.modal-content .modal-header,
.modal-content .popover-header,
.popover-content .modal-header,
.popover-content .popover-header {
  border-color: #fff !important;
  border: none !important;
}

.modal-content .modal-footer,
.modal-content .popover-footer,
.popover-content .modal-footer,
.popover-content .popover-footer {
  border: none !important;
}

.popover-title {
  background: #0a121b;
}

/**
 * Dashboard
 */

.products-list > .item {
  background: none;
}

.product-list-in-box > .item {
  border-bottom: 1px solid #999;
}

.small-box,
.info-box {
  background-color: #0a121b !important;
  border: 1px solid #0a121b;
  border-radius: 2px;
}

.info-box-icon {
  background-color: #999 !important;
}

/**
 * Menu
 */

.dropdown-menu {
  background-color: #0a121b;
  border: 1px solid #999;
  border-radius: 2px;
}

.dropdown-menu li.header {
  background: none !important;
}

.dropdown-menu li {
  color: #eee !important;
}

.dropdown-menu li a {
  border: none;
  color: #eee;
}

.main-header,
.navbar {
  background: none !important;
}

.main-header a,
.navbar a {
  background: none !important;
  border: none !important;
}

.main-header a:hover,
.navbar a:hover {
  color: #fff !important;
  background: #0a121b !important;
}

.main-header .campaign-selector,
.navbar .campaign-selector {
  color: white !important;
}

.entity-form ul.nav {
  border-bottom-color: unset;
  border-bottom: none;
}

.entity-form ul.nav li {
  background: unset;
}

/**
 * Quests
 */

.bg-success {
  background-color: #0a121b;
}

/**
 * Dashboard
 */

.campaign .content {
  background: rgba(0, 0, 0, 0.5);
}

.campaign .content ul.campaign-links li a {
  background: rgba(0, 0, 0, 0.7);
}

.campaign .content ul.campaign-links li a:hover {
  background: rgba(0, 0, 0, 0.9);
}

.campaign .preview {
  background: none;
}

/**
 * Conversations
 */

.box-comments,
.box-comment {
  background-color: #333;
}

.box-comments .comment-text,
.box-comment .comment-text {
  color: #eee;
}

.box-comments .comment-text .username,
.box-comment .comment-text .username {
  color: #eee;
}

.box-conversation .box-footer {
  background-color: #333;
}

.table-filters {
  background-color: #333 !important;
}

.alert {
  background-color: #999 !important;
  color: #eee !important;
  border-radius: 2px !important;
  border: 0;
}

.alert a {
  color: #fff !important;
}

/**
 * Footer
 */

footer .footer {
  background-color: rgba(0, 0, 0, 0.2);
}

footer .footer img.logo-blue {
  display: none;
}

footer .footer img.logo-white {
  display: unset;
}

/*
 Search
 */

.tt-menu {
  background-color: #0a121b;
  border-color: #333;
}

.tt-cursor {
  color: #fff !important;
}

/**
 * Dashboard
 */

.cover-background .campaign-link {
  background: rgba(0, 0, 0, 0.6) !important;
}

.cover-background .campaign-link:hover {
  background: rgba(0, 0, 0, 0.9) !important;
}

/**
 * Quest Elements
 */

.box-quest-element .widget-user-username a {
  color: #fff !important;
}

.box-quest-element .bg-gray .widget-user-desc {
  color: #000 !important;
}

.box-quest-element .bg-gray .widget-user-username a {
  color: #000 !important;
}

/**
 * Conversation
 */

.box-conversation .box-comment {
  background-color: #0a121b !important;
  border-bottom: 1px solid #333;
}

.box-conversation .box-footer {
  border: none !important;
  background: none !important;
}

.campaign-settings .box-success .box-header {
  background-color: #00a65a !important;
}

.entity-creator a {
  background: #232424 !important;
}

/**
 * Map
 */

.leaflet-popup-content-wrapper,
.leaflet-popup-tip,
.leaflet-control-layers-expanded,
.leaflet-control-layers,
.leaflet-bar a {
  background: #0a121b;
}

.leaflet-bar a:hover {
  background: #999;
}

.leaflet-container {
  background: #333;
}

.leaflet-container .leaflet-popup-content {
  color: #eee;
}

body {
  background-color: #061F2F;
  color: #d3d4d4;
}

.btn {
  color: white !important;
}

.btn-danger:hover {
  background-color: #992329 !important;
  color: white !important;
}

.btn-default,
.btn-app,
.btn-secondary {
  color: #444 !important;
}

.box,
.panel,
.timeline-item {
  background-color: #0a121b !important;
}

.box .box-header,
.box .panel-heading,
.panel .box-header,
.panel .panel-heading,
.timeline-item .box-header,
.timeline-item .panel-heading {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.box .with-border,
.panel .with-border,
.timeline-item .with-border {
  border-bottom: none !important;
}

a {
  color: #9CD7F7 !important;
}

a:hover {
  color: #d4eff7 !important;
  text-decoration: none;
}

.nav-tabs-custom {
  border: none;
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.nav-tabs-custom .pull-right {
  margin: 5px 5px 0 0;
}

.nav-tabs-custom .nav-tabs {
  border-bottom: 0;
}

.nav-tabs-custom .nav-tabs li {
  background-color: #0a121b !important;
}

.nav-tabs-custom .nav-tabs .active a {
  background-color: #0a121b !important;
  color: #fff !important;
}

.nav-tabs-custom .tab-content {
  background: unset;
}

.nav-stacked li {
  border-bottom: 1px solid #333 !important;
}

.nav-stacked li a:hover {
  background-color: #333 !important;
}

.nav-tabs li {
  border: none;
}

.nav-tabs li:hover {
  background: #0a121b;
  border: none;
  border-bottom: none;
}

.nav-tabs li:hover a {
  background: none;
}

.nav-tabs li.active {
  border-top: 3px solid transparent !important;
}

.nav-tabs li.active a {
  color: #333 !important;
  background-color: #fff !important;
  border: none !important;
}

.product-list-in-box > .item {
  border-bottom: 1px solid #333;
}

/**
 * Menu
 */

.navbar {
  background: #0a121b !important;
}

.navbar a {
  color: #fff !important;
}

.navbar a:hover {
  background: #333 !important;
}

.navbar .btn {
  color: #999 !important;
  background: #333 !important;
}

.navbar .typeahead {
  border-color: #999 !important;
}

.navbar li.header {
  border: 0 !important;
}

/**
 * Calendar
 */

.calendar td.today {
  background-color: #515142;
}

.calendar .weather {
  color: #000;
}

.main-sidebar {
  background-color: #0a121b !important;
}

.main-sidebar .sidebar-text span,
.main-sidebar .sidebar-text i {
  color: #9CD7F7;
}

.main-sidebar section.sidebar-campaign {
  background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, #0a121b 100%);
}

.main-sidebar .sidebar {
  background-color: #0a121b;
}

.main-sidebar li.active a {
  color: #fff !important;
  background: #0a121b !important;
}

.main-sidebar .campaign-switcher {
  background-color: #0a121b;
}

.main-sidebar .campaign-switcher ul li .background-gradient {
  background: linear-gradient(270deg, rgba(33, 33, 33, 0) 0%, #0a121b 100%);
}

/**
 * Conversations
 */

.box-comments,
.box-comment {
  background-color: #0a121b;
}

@media (max-width: 991px) {
  .content-header > .breadcrumb {
    background: none !important;
  }

  .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    background-color: #0a121b;
  }
}

.panel-body .preview {
  background: none;
}

.panel-body .preview:before {
  background: linear-gradient(transparent 0px, #0a121b) !important;
}

