.row .campaign {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-color: #eee;
  padding: 8px;
  border-radius: 2px;
  max-height: 120px;
  overflow: hidden;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.kanka.io/app/1c6fDq53wSDholuJWNiHMb9zKBQ=/550x120/smart/src/images%2Fbackgrounds%2Fmountain-background-medium.jpg);
}

.campaign-list .campaign {
  background-color: var(--box-background);
}
.campaign-list .campaign .name {
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 700;
  overflow: hidden;
  height: 2rem;
}
