.entity-notes-reorder .story {
  display: flex;
  flex-flow: row wrap;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 10px;
  cursor: -webkit-grab;
  cursor: grab;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.entity-notes-reorder .story .dragger {
  padding-right: 10px;
}

.entity-notes-reorder .story .name {
  overflow: hidden;
}

.entity-notes-reorder .story .icons {
  margin-left: auto;
}

