.entity-notes-reorder .story {
  display: flex;
  flex-flow: row wrap;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 10px;
  cursor: -webkit-grab;
  cursor: grab;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.entity-notes-reorder .story .dragger {
  padding-right: 10px;
}

.entity-notes-reorder .story .name {
  overflow: hidden;
}

.entity-notes-reorder .story .icons {
  margin-left: auto;
}

.entity-image-focus .focus-selector {
  overflow: auto;
  position: relative;
  max-height: calc(70vh);
  margin-bottom: 10px;
}

.entity-image-focus .focus-selector .focus {
  position: absolute;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 4px;
  cursor: pointer;
}

.entity-image-focus .focus-selector .focus:hover {
  color: red;
}

.entity-image-focus .focus-selector img {
  max-width: unset;
}

