.details {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin: 1.5rem 0;
    border: 1px solid hsl(var(--bc)/var(--tw-bg-opacity));
    --tw-bg-opacity: .1;
    border-radius: var(--rounded-btn);
    padding: 0.5rem;

    summary {
        font-weight: 600;
        &:hover {
            cursor: pointer;
        }
    }

    /** Just for tiptap **/
    > button {
        align-items: center;
        background: transparent;
        border-radius: 4px;
        display: flex;
        font-size: 0.625rem;
        height: 1.25rem;
        justify-content: center;
        line-height: 1;
        margin-top: 0.1rem;
        padding: 0;
        width: 1.25rem;

        &:hover {
            background-color: var(--gray-3);
        }

        &::before {
            content: '\25B6';
        }
    }


    /** Just for tiptap **/
    &.is-open > button::before {
        transform: rotate(90deg);
    }


    /** Just for tiptap **/
    > div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;

        > [data-type='detailsContent'] > :last-child {
            margin-bottom: 0.5rem;
        }
    }

    .details {
        margin: 0.5rem 0;
    }
}
