
table {
    tbody {
        td {
            border-color: hsl(var(--bc)/var(--tw-border-opacity));
            --tw-border-opacity: 0.2;
        }
    }
    thead {
        th {
            text-align: left;
            border-color: hsl(var(--bc)/var(--tw-border-opacity));
            --tw-border-opacity: 0.2;
        }
    }
}

table {
    border-collapse: collapse;
    border: 1px solid hsl(var(--bc)/var(--tw-border-opacity));
    overflow: hidden;
    table-layout: fixed;

    & th, & td {
        line-height: 1.5rem;
        padding: .5rem;
        min-width: 1em;
    }
    th, td {
        --tw-border-opacity: 0.2;
        border: 1px solid hsl(var(--bc)/var(--tw-border-opacity));
        position: relative;

        > * {
            margin-bottom: 0;
        }
    }
    th {
        vertical-align: top;
    }
    tr:not(:last-of-type) {
        td {
            border-bottom-width: 1px;
        }
    }
}

.table-bordered {
    --tw-border-opacity: .2;
    border-width: 1px;
    border-color: hsl(var(--bc)/var(--tw-border-opacity));
    th, td {
        border-color: hsl(var(--bc)/var(--tw-border-opacity));
        border-width: 1px;
    }
}

.table tr.warning :is(td, th) {
    background-color: hsl(var(--a)/1);
    color: hsl(var(--ac)/1);
}
.table tr.warning:hover :is(td, th) {
    background-color: hsl(var(--af)/1);
    color: hsl(var(--ac)/1);
}

.table-responsive {
    overflow-x: unset;
}
.table-compact {
    width: auto;
}
.table-left {
    width: auto;
    float: left;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}
.table-right {
    width: auto;
    float: right;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}
.table-centered {
    margin-left: auto;
    margin-right: auto;
}


.table-condensed > :is(thead, tbody, tfoot) > tr > :is(th, td) {
    padding: .25rem;
}

/** Old bootstrap 3.4 stuff to keep people happy? **/
legend {
    display: block;
    width: 100%;
    margin-bottom: 22px;
    font-size: 21px;
    line-height: inherit;
    color: hsl(var(--nc)/1);
    border-bottom: 1px solid hsl(var(--n)/1)
}

.entity-content, .note-editing-area {
    table {
        margin-bottom: 0.75rem;
    }
}
