@import "./light.css";
@import "./colour.css";

body {
    --tw-background-opacity: 1;
    background-color: var(--body-background, var(--content-wrapper-background, hsl(var(--b1)/var(--tw-background-opacity))));
    --tw-text-opacity: 1;
    color: var(--body-text, hsl(var(--bc)/var(--tw-text-opacity)));
}

hr {
    border-color: hsl(var(--bc)/var(--tw-border-opacity));
    --tw-border-opacity: 0.2;
}
a, .text-link {
    --tw-text-opacity: 1;
    color: var(--link-text, hsl(var(--p)/var(--tw-text-opacity)));

    &:hover {
        --tw-text-opacity: 1;
        color: var(--link-text, hsl(var(--pf)/var(--tw-text-opacity)));
    }

    &:focus {
        --tw-text-opacity: 1;
        color: var(--link-focus, hsl(var(--pf)/var(--tw-text-opacity)));
    }
}
a.neutral-link {
    --tw-text-opacity: 1;
    color: hsl(var(--nc)/var(--tw-text-opacity));
    &:hover, &:focus {
        --tw-text-opacity: 1;
        color: hsl(var(--nc)/var(--tw-text-opacity));
    }
}

h1, h2, h3, h4, h5, h6, h1 > small, .panel-title {
    --tw-text-opacity: 1;
    color: var(--header-text, hsl(var(--bc)/var(--tw-text-opacity)));
}

.bg-wrapper {
    background-color: var(--content-wrapper-background, hsl(var(--b1)/var(--tw-background-opacity)));
    --tw-background-opacity: 1;
}


input, textarea, .select2, select, .form-control {
    border-width: 1px;
    border-color: hsl(var(--bc)/var(--tw-border-opacity));
    --tw-border-opacity: 0.2;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1)/var(--tw-bg-opacity));
    border-radius: var(--rounded-btn,.5rem);
    line-height: normal;
    box-shadow: none;
    color: inherit;
}
input, textarea, select {
    padding: 0.5rem 0.5rem;
}
input::placeholder, textarea::placeholder, select::placeholder, .form-control::placeholder {
    --tw-text-opacity: .5;
    color: hsl(var(--bc)/var(--tw-text-opacity));
}
input[type="text"], input[type="date"], input[type="number"], input[type="file"], select {
    min-height: 2.1rem;
}
input:focus, select:focus, .textarea:focus, .form-control:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
    outline-color: hsl(var(--bc)/.2);
    box-shadow: none;
    border-color: transparent;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    --tw-border-opacity: 1;
    border-color: hsl(var(--b2)/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b2)/var(--tw-bg-opacity));
    --tw-text-opacity: .2;
}
input[type="checkbox"] {
    -webkit-appearance: none;
    --tw-accent-opacity: 1;
    accent-color: hsl(var(--p)/var(--tw-accent-opacity));
    position: relative;
    margin: 0;

}
input[type="checkbox"]:checked {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--p)/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--pc)/var(--tw-text-opacity));
}
input[type="checkbox"]:checked:after {
    content: var(--checkbox-content, '\2714');
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 0.1rem;
}
/**, ::before, ::after {
    --tw-border-opacity: 0.2;
    border-color: hsl(var(--bc)/var(--tw-border-opacity));
}*/
.select2 {
    border: none;
}
/*.select2-container {
    min-height: 3rem;
}
.select2-search__field {
    min-height: inherit;
}
*/
.select2-container--default .select2-selection--single, .select2-dropdown, .select2-container--default .select2-selection--multiple {
    border-width: 1px;
    border-color: hsl(var(--bc)/var(--tw-border-opacity));
    --tw-border-opacity: 0.2;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1)/var(--tw-bg-opacity));
    border-radius: var(--rounded-btn, .5rem);
    box-shadow: none;
}

.modal-content {
    .modal-body {
        background-color: hsl(var(--b1)/1);
    }
    .modal-header, .modal-footer {
        background-color: hsl(var(--b1)/1);
        border-color: hsl(var(--bc)/var(--tw-border-opacity, 1));
        --tw-border-opacity: .1;
    }
}


/** Buttons **/
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus, .pagination > li > a {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b2)/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--bc)/var(--tw-text-opacity));
    border-color: hsl(var(--b2)/var(--tw-border-opacity));
    border-width: 0;
    &:hover {
        --tw-border-opacity: 1;
        border-color: hsl(var(--b3)/var(--tw-border-opacity));
        --tw-bg-opacity: 1;
        background-color: hsl(var(--b3)/var(--tw-bg-opacity));
        border-width: 0;
        --tw-text-opacity: 1;
        color: hsl(var(--bc)/var(--tw-text-opacity));
    }
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--p)/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--pc)/var(--tw-text-opacity));
    border-width: 0;

}

/**
 * All of the boxes follow a similar design in our themes
 */
.box, .panel {
    border: var(--box-border, none);
    --tw-background-opacity: 1;
    background-color: var(--box-background, hsl(var(--b1)/1));

    .box-header, .panel-heading {
        background-color: var(--box-header-background, transparent);
        color: var(--box-header-text);
    }

    .box-footer {
        background: var(--box-footer-background);
        --tw-border-opacity: 0.1;
        border-top-color: hsl(var(--bc)/var(--tw-border-opacity));
    }
}

.panel-default > .panel-heading {
    --tw-border-opacity: 0.1;
    border-color: hsl(var(--bc)/var(--tw-border-opacity));
}
blockquote {
    --tw-border-opacity: 1;
    border-color: hsl(var(--b3)/var(--tw-border-opacity));
    padding: 0.6rem 1.1rem;
    font-size: 1.1rem;
    border-left-style: solid;
    border-left-width: 0.25rem;
}
.dd-menu {
    min-width: 160px;
}


/** Tables */

.table-striped > tbody > tr:nth-of-type(odd) {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b3)/var(--tw-bg-opacity));
}
.table-hover {
    tbody {
        tr {
            &:hover {
                --tw-bg-opacity: 1;
                background-color: hsl(var(--b2)/var(--tw-bg-opacity));
            }
        }
    }
}

/** borders **/
.border-base-100 {
    --tw-border-opacity: 1;
    border-color:hsl(var(--b1)/var(--tw-border-opacity))
}
.border-base-200 {
    --tw-border-opacity: 1;
    border-color:hsl(var(--b2)/var(--tw-border-opacity))
}
.border-base-300 {
    --tw-border-opacity: 1;
    border-color:hsl(var(--b3)/var(--tw-border-opacity))
}
.border-base-content {
    --tw-border-opacity: 1;
    border-color:hsl(var(--bc)/var(--tw-border-opacity))
}

/** hovers **/
.hover\:bg-base-100:hover {
    --tw-bg-opacity: 1;
    background-color:hsl(var(--b1)/var(--tw-bg-opacity))
}
.hover\:bg-base-200:hover {
    --tw-bg-opacity: 1;
    background-color:hsl(var(--b2)/var(--tw-bg-opacity))
}
.hover\:bg-base-300:hover {
    --tw-bg-opacity: 1;
    background-color:hsl(var(--b3)/var(--tw-bg-opacity))
}
.hover\:bg-accent:hover {
    --tw-bg-opacity: 1;
    background-color:hsl(var(--a)/var(--tw-bg-opacity))
}
.hover\:bg-primary:hover {
    --tw-bg-opacity: 1;
    background-color:hsl(var(--p)/var(--tw-bg-opacity))
}

.hover\:shadow-md:hover {
    --tw-shadow-color: hsl(var(--n)/1);
    --tw-shadow: var(--tw-shadow-colored);
}

.focus\:bg-base-200:focus {
    --tw-bg-opacity: 1;
    background-color:hsl(var(--b2)/var(--tw-bg-opacity))
}
.focus\:border-accent:focus {
    --tw-bg-opacity: 1;
    border-color:hsl(var(--a)/var(--tw-bg-opacity))
}


.bg-opacity-50 {
    --tw-bg-opacity: 0.5;
}
.bg-opacity-60 {
    --tw-bg-opacity: 0.6;
}
