
.text-red {
    color:#dd4b39 !important
}
.text-yellow {
    color:#f39c12 !important
}
.text-black {
    color:#111 !important
}
.text-white {
    color:#fff !important
}


@theme {
    --color-base-100: hsl(var(--b1)/1);
    --color-base-200: hsl(var(--b2)/1);
    --color-base-300: hsl(var(--b3)/1);
    --color-base-content: hsl(var(--bc)/1);
    --color-error: hsl(var(--er)/1);
    --color-error-content: hsl(var(--erc)/1);
    --color-primary: hsl(var(--p)/1);
    --color-primary-content: hsl(var(--pc)/1);
    --color-success: hsl(var(--su)/1);
    --color-success-content: hsl(var(--suc)/1);
    --color-accent: hsl(var(--a)/1);
    --color-accent-content: hsl(var(--ac)/1);
    --color-accent-focus: hsl(var(--af)/1);
    --color-neutral: hsl(var(--n)/1);
    --color-neutral-content: hsl(var(--nc)/1);
    --color-warning: hsl(var(--wa)/1);
    --color-warning-content: hsl(var(--wac)/1);
}

.text-sidebar-content {
    --tw-text-opacity: 1;
    color:hsl(var(--sic)/var(--tw-text-opacity));
}
.\!text-sidebar-content {
    /* Can be removed when we remove `main-sidebar a` from app.scss */
    --tw-text-opacity: 1;
    color:hsl(var(--sic)/var(--tw-text-opacity)) !important;
}

.hover\:text-primary-focus:hover {
  --tw-text-opacity: 1;
  color:hsl(var(--pf)/var(--tw-text-opacity))
}

.help-block {
    --tw-text-opacity: 1;
    color:hsl(var(--nc)/var(--tw-text-opacity))
}


/** background colours **/
.odd\:bg-base-200:nth-child(odd) {
    background-color: hsl(var(--b2)/var(--tw-bg-opacity, 1));
}
.even\:bg-base-200:nth-child(even) {
    background-color: hsl(var(--b2)/var(--tw-bg-opacity, 1));
}
.gradient-to-base-100 {
    background: linear-gradient(transparent 0px, var(--dashboard-preview-gradient, hsl(var(--b1)/1)));
}



