
.text-red {
    color:#dd4b39 !important
}
.text-yellow {
    color:#f39c12 !important
}
.text-black {
    color:#111 !important
}
.text-white {
    color:#fff !important
}


@theme {
    --color-base-100: hsl(var(--b1)/1);
    --color-base-200: hsl(var(--b2)/1);
    --color-base-300: hsl(var(--b3)/1);
    --color-base-content: hsl(var(--bc)/1);
    --color-error: hsl(var(--er)/1);
    --color-error-content: hsl(var(--erc)/1);
    --color-primary: hsl(var(--p)/1);
    --color-primary-content: hsl(var(--pc)/1);
    --color-primary-focus: hsl(var(--pf)/1);
    --color-secondary: hsl(var(--s)/1);
    --color-secondary-content: hsl(var(--sc)/1);
    --color-secondary-focus: hsl(var(--sf)/1);
    --color-accent: hsl(var(--a)/1);
    --color-accent-content: hsl(var(--ac)/1);
    --color-accent-focus: hsl(var(--af)/1);
    --color-neutral: hsl(var(--n)/1);
    --color-neutral-content: hsl(var(--nc)/1);
    --color-neutral-focus: hsl(var(--nf)/1);
    --color-success: hsl(var(--su)/1);
    --color-success-content: hsl(var(--suc)/1);
    --color-warning: hsl(var(--wa)/1);
    --color-warning-content: hsl(var(--wac)/1);
    --color-info: hsl(var(--in)/1);
    --color-info-content: hsl(var(--inc)/1);
}

.text-sidebar-content {
    --tw-text-opacity: 1;
    color:hsl(var(--sic)/var(--tw-text-opacity));
}
.\!text-sidebar-content {
    /* Can be removed when we remove `main-sidebar a` from app.scss */
    --tw-text-opacity: 1;
    color:hsl(var(--sic)/var(--tw-text-opacity)) !important;
}

.help-block {
    --tw-text-opacity: 1;
    color:hsl(var(--nc)/var(--tw-text-opacity))
}


/** background colours **/
.gradient-to-base-100 {
    background: linear-gradient(transparent 0px, var(--dashboard-preview-gradient, hsl(var(--b1)/1)));
}



