@layer theme {
    html {
        color-scheme: light;
        accent-color: hsl(var(--a)/1);
    }
    :root {
        /* Background colour behind the UI elements */
        --content-wrapper-background: #f6f6f6;
        --boosted: 338 78% 48%;

        /* Primary colour, used for buttons and links */
        --p: 202 52% 49%;
        /* Primary colour when focused */
        --pf: 202 52% 34%;
        /* Foreground content colour to use on primary colour */
        --pc: 243 100% 96%;

        /* Secondary colour, currently unused */
        --s: 215 26% 59%;
        /* Secondary colour when focused */
        --sf: 215 26% 52%;
        /* Foreground content colour to use on secondary colour */
        --sc: 216 13% 13%;

        /* Accent colour, used for some important buttons like "new post" */
        --a: 41 74% 53%;
        /* Accent colour when focused */
        --af: 41 74% 46%;
        /* Text colour for accent */
        --ac: 151 21% 13%;

        /* Neutral colour, for example for default tags, code and pre elements, tooltip borders */
        --n: 220 22% 92%;
        /* Neutral colour when focused */
        --nf: 227 12% 71%;
        /* Text colour for elements with the neutral colour background */
        --nc: 223 13% 41%;

        /* Base background colours, used for boxes, panels, modals */
        --b1: 0 0% 100%;
        --b2: 0 0% 93%;
        --b3: 0 0% 86%;
        /* Text colour for elements on a base background */
        --bc: 233 27% 13%;

        /* Info messages background and foreground */
        --in: 198 93% 80%;
        --inc: 198 100% 12%;

        /* Warning messages */
        --wa: 43 96% 76%;
        --wac: 43 100% 11%;

        /* Error messages */
        --er: 0 91% 71%;
        --erc: 0 100% 14%;

        /* Success messages */
        --su: 158 64% 52%;
        --suc: 158 100% 10%;

        /* Sidebar */
        --si: 0 0% 20%;
        --sif: 0 0% 10%;
        --sic: 0 0% 90%;

        /* Border radius for buttons */
        --rounded-btn: .5rem;
        /* Border radius for badges (tags) */
        --rounded-badge: .25rem;
        /* Animation duration when a button is focused */
        --animation-btn: 0;
        /* Scale effect on buttons when focused */
        --btn-focus-scale: 1;

        /* Button text transform */
        --btn-text-case: inherit;

        /* Border radius for tabs */
        --tab-radius: .25rem;

        /* Border thickness for tabs */
        --tab-border: 0px;
    }
}
