/** border radius **/

/* rounded */
.rounded-full {
    border-radius: 9999px;
}
.rounded {
    border-radius: 0.25rem; /* 4px */
}
.rounded-md {
    border-radius: 0.375rem;
}
.rounded-lg {
    border-radius: 0.5rem;
}
.rounded-xl {
    border-radius: 0.75rem;
}
.rounded-2xl {
    border-radius: 1rem;
}
.rounded-l-2xl {
    border-top-left-radius: 1rem; /* 16px */
    border-bottom-left-radius: 1rem; /* 16px */
}


/* border style */
.border-solid {
    border-style: solid;
}
.border-dashed {
    border-style: dashed;
}
.border-dotted {
    border-style: dotted;
}
.border-double {
    border-style: double;
}
.border-hidden {
    border-style: hidden;
}
.border-none {
    border-style: none;
}

.border-0 {
    border-width: 0;
}
.border-1	{
    border-width: 1px;
}
.border-2	{
    border-width: 2px;
}

.border-box {
    border-color: var(--box-border);
}

.border-accent {
    border-color: var(--color-accent);
}
