/** border radius **/

/* rounded */
.rounded-full {
    border-radius: 9999px;
}
.rounded-sm {
    border-radius: 0.125rem; /* 2px */
}
.rounded {
    border-radius: 0.25rem; /* 4px */
}
.rounded-md {
    border-radius: 0.375rem;
}
.rounded-lg {
    border-radius: 0.5rem;
}
.rounded-xl {
    border-radius: 0.75rem;
}
.rounded-2xl {
    border-radius: 1rem;
}
.rounded-l-2xl {
    border-top-left-radius: 1rem; /* 16px */
    border-bottom-left-radius: 1rem; /* 16px */
}


/* border style */
.border-t-0 {
    border-top-width: 0;
}
.border-r-0 {
    border-right-width: 0;
}
.border-b-0 {
    border-bottom-width: 0;
}
.border-l-0 {
    border-left-width: 0;
}

.border-solid {
    border-style: solid;
}
.border-dashed {
    border-style: dashed;
}
.border-dotted {
    border-style: dotted;
}
.border-double {
    border-style: double;
}
.border-hidden {
    border-style: hidden;
}
.border-none {
    border-style: none;
}

.border-0 {
    border-width: 0;
}
.border-1	{
    border-width: 1px;
}
.border-2 {
    border-width: 2px;
}

.border-b-1 {
    border-bottom-width: 1px;
}
.border-b-2 {
    border-bottom-width: 2px;
}

.border-box {
    border-color: var(--box-border);
}

.border-accent {
    border-color: var(--color-accent);
}

.border-slate-400 {
    border-color: rgb(71 85 105);
}
.border-slate-600 {
    border-color: rgb(148 163 184);
}

