.flex {
  display: flex;
}
.flex-none {
  flex: none;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-1 {
  flex: 1 1 0%;
}

.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
