.flex-none {
  flex: none;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-1 {
  flex: 1 1 0%;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-grow {
  flex-grow: 1;
}

.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

.basis-1\/3 {
    flex-basis: 33.333333%;
}
.basis-2\/3 {
    flex-basis: 66.666666%;
}
