.grid-cols-none {
  grid-template-columns: none;
}
.grid-rows-none {
  grid-template-rows: none;
}
.col-start-auto {
  grid-column-start: auto;
}
.col-end-auto {
  grid-column-end: auto;
}

@for $i from 1 through 12 {
  .grid-cols-#{$i} {
    grid-template-columns: repeat($i, minmax(0, 1fr));
  }
  .col-span-#{$i} {
    grid-column: span $i / span $i;
  }
  .col-start-#{$i} {
    grid-column-start: $i;
  }
  .col-end-#{$i} {
    grid-column-end: $i;
  }
}
@for $i from 1 through 6 {
  .grid-rows#{$i} {
    grid-template-rows: repeat($i, minmax(0, 1fr));
  }
}

@for $i from 0 through 20 {
  $rem: ($i * 0.25) ;
  .gap-#{$i} {
    gap: $rem + rem;
  }
}

@media (min-width: 768px) {
  @for $i from 1 through 12 {
    .md\:grid-cols-#{$i} {
      grid-template-columns: repeat($i, minmax(0, 1fr));
    }
    .md\:col-span-#{$i} {
      grid-column: span $i / span $i;
    }
  }
  .md\:col-auto {
    grid-column: auto;
  }
}

@media (min-width: 1024px) {
  @for $i from 1 through 12 {
    .lg\:grid-cols-#{$i} {
      grid-template-columns: repeat($i, minmax(0, 1fr));
    }
    .lg\:col-span-#{$i} {
      grid-column: span $i / span $i;
    }
  }
  .lg\:col-auto {
    grid-column: auto;
  }
}

@media (min-width: 1280px) {
  @for $i from 1 through 12 {
    .xl\:grid-cols-#{$i} {
      grid-template-columns: repeat($i, minmax(0, 1fr));
    }
    .xl\:col-span-#{$i} {
      grid-column: span $i / span $i;
    }
  }
  .xl\:col-auto {
    grid-column: auto;
  }
}
