.resize-y {
    resize: vertical;
}

.cursor-pointer {
    cursor: pointer;
}
.\!cursor-pointer {
    cursor: pointer !important;
}
.cursor-not-allowed	{
    cursor: not-allowed;
}
.cursor-move {
    cursor: move;
}
.\!cursor-move {
    cursor: move !important;
}
