@for $i from 1 through 52 {
    $rem: ($i * 0.25) ;
    .h-#{$i} {
        height: $rem + rem;
    }
    .w-#{$i} {
        width: $rem + rem;
    }
}
.h-full {
    height: 100%;
}
.w-full {
    width: 100%;
}

