@for $i from 1 through 52 {
    $rem: ($i * 0.25) ;
    .h-#{$i} {
        height: $rem + rem;
    }
    .min-h-#{$i} {
        min-height: $rem + rem;
    }
    .max-h-#{$i} {
        max-height: $rem + rem;
    }
    .w-#{$i} {
        width: $rem + rem;
    }
    .min-w-#{$i} {
        min-width: $rem + rem;
    }
    .max-w-#{$i} {
        max-width: $rem + rem;
    }
}
.h-full {
    height: 100%;
}
.w-full {
    width: 100%;
}

.max-h-full {
    max-height: 100%;
}
.max-w-full {
    max-width: 100%;
}

.max-w-xl {
    max-width: 36rem; /* 576px */
}
.max-w-2xl {
    max-width: 42rem; /* 672px */
}
.max-w-3xl {
    max-width: 48rem; /* 768px */
}
.max-w-4xl {
    max-width: 56rem; /* 896px */
}
.max-w-5xl {
    max-width: 64rem; /* 1024px */
}
