@for $i from 1 through 52 {
    $rem: ($i * 0.25) ;
    .h-#{$i} {
        height: $rem + rem;
    }
    .min-h-#{$i} {
        min-height: $rem + rem;
    }
    .max-h-#{$i} {
        max-height: $rem + rem;
    }
    .w-#{$i} {
        width: $rem + rem;
    }
    .min-w-#{$i} {
        min-width: $rem + rem;
    }
    .max-w-#{$i} {
        max-width: $rem + rem;
    }
}
.h-full {
    height: 100%;
}
.w-full {
    width: 100%;
}
.w-1\/2 {
    width: 50%;
}

.max-h-full {
    max-height: 100%;
}
.max-w-full {
    max-width: 100%;
}
.max-w-none	{
    max-width: none;
}

.min-h-full {
    min-height: 100%;
}
.min-h-screen {
    min-height: calc(100vh);
}

.max-h-50vh {
    max-height: 50vh;
}
.h-screen {
    height: 100vh;
}
.max-h-70vh {
    max-height: 70vh;
}

.max-w-xl {
    max-width: 36rem; /* 576px */
}
.max-w-2xl {
    max-width: 42rem; /* 672px */
}
.max-w-3xl {
    max-width: 48rem; /* 768px */
}
.max-w-4xl {
    max-width: 56rem; /* 896px */
}
.max-w-5xl {
    max-width: 64rem; /* 1024px */
}

.min-w-96 {
    min-width: 24rem; /* 384px */
}
