@import "tw/spacing";
@import "tw/sizes";
@import "tw/flex";
@import "tw/grid";
@import "tw/display";
@import "tw/floating-forms";
@import "tw/font";


.list-none {
  list-style-type: none;
}

.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}

.select-none {
  user-select: none;
}

.line-through {
  text-decoration-line: line-through;
}
