@import "tw/spacing";
@import "tw/sizes";
@import "tw/flex";
@import "tw/grid";
@import "tw/floating-forms";


.list-none {
  list-style-type: none;
}

.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}

.select-none {
  user-select: none;
}
