@import "tw/spacing";
@import "tw/sizes";
@import "tw/flex";
@import "tw/grid";
@import "tw/display";
@import "tw/floating-forms";
@import "tw/font";
@import "tw/layout";
@import "tw/borders";
@import "tw/effects";


.list-none {
  list-style-type: none;
}

.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}

.select-none {
  user-select: none;
}

.line-through {
  text-decoration-line: line-through;
}

.pointer-events-none {
    pointer-events: none;
}
