.break-all {
    word-break: break-all;
}
.break-words {
    overflow-wrap: break-word;
}

.hover\:text-red:hover {
    color: red;
}

.text-left {
    text-align: left;
}

.leading-none {
    line-height: 1;
}

@import "font";
