.alert {
    background-color: var(--alert-bg);
    --tw-text-opacity: 1;
    color: hsl(var(--bc)/var(--tw-text-opacity));

    /* Last paragraphs should have no bottom margin and just use the alert's padding */
    p:last-of-type {
        margin-bottom: 0;
    }
}

.alert-success {
    color: hsl(var(--suc)/var(--tw-text-opacity));
    --alert-bg: hsl(var(--su));
}
.alert-error {
    color: hsl(var(--erc)/var(--tw-text-opacity));
    --alert-bg: hsl(var(--er));
}
.alert-warning {
    color: hsl(var(--wac)/var(--tw-text-opacity));
    --alert-bg: hsl(var(--wa));
}
.alert-info {
    color: hsl(var(--inc)/var(--tw-text-opacity));
    --alert-bg: hsl(var(--in));
}
