/**
 * Copied from old AdminLTE. Replacing this with tailwind will be a massive PITA.
 */
.box {
    position: relative;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);

    .box-header {
        display: block;
        padding: 10px;
        position: relative;

        .box-title {
            display: inline-block;
            font-size: 18px;
            margin: 0;
            line-height: 1;
        }

        > .box-tools {
            float: right;
            margin-top: -5px;
            margin-bottom: -5px;

            .btn {
                border: 0;
                box-shadow: none;
            }

            .btn-box-tool {
                padding: 5px;
                font-size: 12px;
                background: transparent;
                --tw-text-opacity: .8;
                color: hsl(var(--bc)/var(--tw-text-opacity));
            }

            [data-toggle="tooltip"] {
                position: relative;
            }
        }
    }

    .box-body {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 10px;
    }

    .box-footer {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 10px;
    }
}

.box-footer, .modal-footer {
    .pagination {
        margin: 0;
    }
}
