code, kbd, samp, pre {
    font-family: var(--default-mono-font-family,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace);
    font-feature-settings: var(--default-mono-font-feature-settings,normal);
    font-variation-settings: var(--default-mono-font-variation-settings,normal);
    font-size: 1em;
}

/* Inline code */
code, samp, kbd {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--n)/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--nc)/var(--tw-text-opacity));
    padding: 0.2rem 0.4rem;
    border-radius: var(--rounded-btn);
    direction: ltr;
}

/* Code blocks */
pre {
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: .5rem;
    overflow-x: auto;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--n)/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--nc)/var(--tw-text-opacity));
    border-radius: var(--rounded-btn);
}

/* Reset inline styles inside code blocks */
pre code {
    padding: 0;
    background-color: transparent;
    border-radius: 0;
}
