/**
 * Everything related to the default footer
 */
footer {
    ul {
        li {
            a {
                &:hover {
                    transition: all 0.2s ease;
                    text-decoration: none;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    footer {
        .grid > .cell {
            text-align: left;
        }
    }
}
