@import 'tailwindcss';

@import "./dialog.css";

:root {
    --dark: #112B6B;
    --purple: #40479e;
    --light: #95B5D8;
    --blue: #4A58FF;
    --switcher: #D8DBFF;
}

.bg-dark {
    background-color: var(--dark);
}
.bg-purple {
    background-color: var(--purple);
}
.bg-light {
    background-color: var(--light);
}
.bg-blue {
    background-color: var(--blue);
}
.bg-switcher {
    background-color: var(--switcher);
}
.border-dark {
    border-color: var(--dark);
}
.border-blue {
    border-color: var(--blue);
}
.hover\:bg-light {
    &:hover {
        background-color: var(--light);
    }
}
.hover\:text-light {
    &:hover {
        color: var(--light);
    }
}
.hover\:text-dark {
    &:hover {
        color: var(--dark);
    }
}
.hover\:text-purple {
    &:hover {
        color: var(--purple);
    }
}
.hover\:text-blue {
    &:hover {
        color: var(--blue);
    }
}

.link, .link-light {
    color: var(--dark);
    font-weight: 500;
    transition: all 0.2s;

    &:hover, &:focus {
        color: var(--light);
    }
    &.active {
        font-weight: 700;
    }
}
.link-light {
    color: var(--light);
    &:hover, &:focus {
        color: var(--blue);
    }
}
.link-blue {
    color: var(--blue);
}

.btn-round {
    padding: 1rem 2rem;
    background-color: var(--blue);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.2s;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    &:hover, &:focus {
        background-color: var(--dark);
        color: white;
    }
}
.btn-sm {
    padding: 0.8rem 1.3rem;
    font-size: 0.875rem;
}

.block-input, .block-btn {
    border: 1px solid var(--purple);
    color: var(--purple);
    padding: 1rem 2rem;
    transition: all 0.2s;
}
.block-btn {
    &:hover, &:focus {
        background-color: var(--purple);
        color: white;
    }
}

.btn-register, .btn-login {
    padding: 0.45rem 1.88rem;
    border-radius: 2rem;
    font-size: 1rem;
}
.btn-register {
    color: white;
    background-color: var(--purple);
    &:hover {
        background-color: var(--dark);
    }
}
.btn-login {
    border: 1px solid var(--purple);
    color: var(--purple);
    &:hover {
        background-color: var(--purple);
        color: white;
    }
}

.btn-primary {
    border-radius: 0.2rem;
    padding: 13px 32px;
    background-color: var(--dark);
    color: white;
    text-align: center;

    &:hover {
        background-color: var(--purple);
    }
}

nav.text-nav a {
    &:hover {
        color: var(--blue);
    }
    &.active, .active {
        color: var(--light);
    }
}


.text-dark {
    color: var(--dark);
}
.text-light {
    color: var(--light);
}
.text-blue {
    color: var(--blue);
}
.text-purple {
    color: var(--purple);
}


h1, .text-xl {
    font-weight: 700;
    font-size: 2.1875rem;
    line-height: 2.89875rem;
}
h2, .text-lg {
    font-weight: 700;
    font-size: 1.8125rem;
    line-height: 2.71875rem;
}
h3, .text-md {
    font-weight: 800;
    font-size: 1.375rem;
    line-height: 1.664375rem;
}
h4, .text-sm {
    font-weight: 600;
    font-size: 1.175rem;
    line-height: 1.464375rem;
}
p, li {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.413125rem;
}

.text-nav {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
}

@media (min-width: 768px) {
    h1, .text-xl {
        font-weight: 700;
        font-size: 3.125rem;
        line-height: 4.6875rem;
    }
    h2, .text-lg {
        font-weight: 700;
        font-size: 2.8125rem;
        line-height: 4.21875rem;
    }
    h3, .text-md {
        font-weight: 800;
        font-size: 1.5625rem;
        line-height: 1.89125rem;
    }

    p, li {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.615rem;
    }
}

.text-sm {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.413125rem;
}


.btn {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.615rem;
}

code {
    color: var(--light);
}
html {
    scroll-behavior: smooth;
}

/** Hamburger menu **/
#nav-mobile-toggler {
    .close, .mobile-menu {
        display: none;
    }
}
#nav-mobile-toggler.open {
    .open {
        display: none;
    }
    .close, .mobile-menu {
        display: unset;
    }
}

