@media (min-width: 768px) {
    .quick-creator-body {
        .selection .option {
            .full-form {
                display: none;
            }

            &:hover {
                .full-form {
                    display: inline;
                }
            }
        }
    }
}
