/**
 * Layout rendering for reorderable elements (posts, timeline elements)
 * 95% can be migrated to tw
 */
.element-live-reorder {
    .element {
        cursor: grab;

        select {
            height: 28px;
            padding: 3px 6px;
        }

        .children {
            flex: 0 0 100%;
        }
    }
}
