.leaflet-control-zoom-display {
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid #333;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 0.15rem 0.35rem;
}
