ul.campaigns {
  li {
    float: left;
    width: 20%;
  }

  li.active {

  }

  li.add {
    background-color: red;
  }
}

//.table {
//  img.direct-chat-img {
//    margin-right: 10px;
//  }
//}

img.profile-user-img {
  width: 200px;
}

/*.main-sidebar {
  padding-top: 0 !important;
}*/