/*body.env-local .ads-space {
  border: 2px dashed blue;
}*/

.dashboard .ads-space {
  margin-bottom: 10px;
}

.ads-space {
  overflow: hidden;
}

.nativead-manager {
  a.nativead-link {
    display: inline-block;
  }
}
.nativead.sidebar {
  width: 280px;
  height: 280px;
}
.nativead-manager {
  text-align: center;
}
.nativead.nativead-banner {
  width: 100%;
}
