/**
 * Control the way ads are displayed.
 * Can probably migrate everything to tw in the admin panel?
 */
.dashboard .ads-space {
    margin-bottom: 10px;
}

.nativead-manager {
    a.nativead-link {
        display: inline-block;
    }
}
.nativead.sidebar {
    width: 280px;
    height: 280px;
}
.nativead.nativead-banner {
    width: 100%;
}
