.body {
  text-align: right;
}
.topbar-list {
  text-align: left;
}
footer, .table .text {
  text-align: right;
}
h1, h2, h3, h4, h5, p, th {
  text-align: right;
}

.main-sidebar {
  right: 0;
}
.content-wrapper {
  margin-right: 280px;
  margin-left: unset;
}
.main-footer {
   margin-right: 280px;
   margin-left: unset;
 }

.skin-black .main-header .navbar-static-top {
  margin-right: 280px;
  margin-left: unset;
}

.pull-left {
  float: right !important;
}
.pull-right {
  float: left !important;
}
.text-right {
  text-align: left;
}
.text-center {
  p {
    text-align: center;
  }
}
h4.email {
  text-align: center;
}

.main-header {
  .logo {
    float: right;
  }
  .navbar {
    margin-left: unset;
    margin-right: 280px;
  }
  .sidebar-toggle {
    float: right;
  }
  .navbar-left {
    float: right !important;
  }
  .navbar-custom-menu {
    float: left;
    .navbar-nav > li {
      float: right;
    }
  }
}
.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
  right: auto;
  left: 0;
}
.dropdown-menu {
  text-align: right;
}
.dropdown-menu-right {
  right: auto;
  left: 0;
}

.dashboard-actions {
  a {
    float: right;
  }
}

.nav-tabs > li {
  float: right;
}
.nav-tabs-custom > .nav-tabs, .list-group, .nav-pills, .dropdown-menu > li > a {
  padding-inline-start: 5px;
}

.sidebar-mini.sidebar-collapse .main-header .navbar {
  margin-right: 50px;
  margin-left: unset;
}
.sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .right-side, .sidebar-mini.sidebar-collapse .main-footer {
  margin-right: 50px !important;
  margin-left: unset !important;
  z-index: 840;
}
section.sidebar-campaign .campaign-block {
  text-align: right !important;
}
.main-sidebar .sidebar li.subsection {
  padding-left: 0;
  padding-right: 24px;
}
.sidebar-creator {
  right: 0;
  left: unset;
}
.campaign-switcher {
  left: unset;
  right: 78px;
}
.main-sidebar .sidebar li a, .main-sidebar .sidebar li .sidebar-text {
  font-size: 12px;
}
body.modal-open {
  padding-left: 17px !important;
  padding-right: 0 !important;
}

.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
  margin-right: -20px;
  margin-left: 0;
}
.radio label, .checkbox label {
  padding-right: 20px;
  padding-left: 0;
}

@media (min-width: 768px) {
  .dl-horizontal dt {
    float: right;
  }
  .dl-horizontal dd {
    margin-left: 0;
    margin-right: 180px;
  }

  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: right;
  }
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: right;
  }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: right;
  }
}
@media (max-width: 767px) {
  .main-sidebar {
    transform: translate(280px, 0);
  }

  .content-wrapper, .main-footer {
    margin-left: 0;
    margin-right: 0;
  }
  .main-header .navbar {
    margin-right: 0;
  }
  .sidebar-open .content-wrapper, .sidebar-open .main-footer {
    transform: translate(-280px, 0);
  }

  .skin-black .main-header .navbar-static-top {
    margin-right: 0;
    margin-left: 280px;
  }
  .sidebar-creator {
    transform: translate(280px, 0);
  }
}
