
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@font-face {
  font-family: Verdana, sans-serif;
  font-display: fallback;
}

// Variables
@import "variables";
@import "calendar";
@import "conversation";
@import "print";
@import "../components/rpg/scss/rpg-awesome";

// App
ul.campaigns {
  li {
    float: left;
    width: 20%;
  }

  li.active {

  }

  li.add {
    background-color: red;
  }
}

img.profile-user-img {
  width: 200px;
}

.content-header {
  .breadcrumb {
    position: relative;
    float: none;
    top: 0;
    padding: 5px 10px;
    display: block;
  }

  h1 {
    display: block;
  }
}

.navbar-nav {
  .campaign-menu .campaign-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
  }
}

.user-header a {
  display: inline;
  background: none;
  &:hover {
    background: none !important;
  }
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > a > img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}
@font-face {
  font-family: 'Dubai';
  src: url('/fonts/dubai/DubaiW23-Light.eot'); /* IE9 Compat Modes */
  src: url('/fonts/dubai/DubaiW23-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/dubai/DubaiW23-Light.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/dubai/DubaiW23-Light.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/dubai/DubaiW23-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/** required form fields **/
div.required label:after {
  content: " *";
  color: red;
}

table th.avatar, table td.avatar {
  width: 60px;
}
table tbody td {
  vertical-align: middle !important;
}

.clear {
  clear: both;
}

.profile-username {
  word-wrap: break-word;
}

.preview {
  padding-top: 10px;

  .image {
    float: left;
    margin: 0 10px 0 0;
  }
  img {
    max-height: 200px;
    max-width: 200px;
    width: 100%;
  }
  a.img-delete {
    color: white;
    text-align: center;
    display: block;
    padding: 5px;
    background: none;
    margin-top: -30px;
    position: relative;
    background-color: rgba(11, 31, 31, 0.6);
  }
}

.footer-social {
  a {
    margin: 0 3px;
  }
}

footer {
  .footer-patreon {
    img {
      width: 22px;
      height: 22px;
    }
  }
}

/** news */
.news .box-body img {
  width: 100%;
  display:block;
}
.news .box-body a {
  display: block;
  text-transform: uppercase;
  line-height: 23px;
}

tr.tr-hover {
  cursor: pointer;
  font-weight: 700;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
}

// Dashboard home
.dashboard-box {
  p.entity-short {
    margin: 0;
  }

  li.entity {
    min-height: 90px;
  }
}

tr.entity-hidden {
  td {
    font-style: italic;
    color: #444;
  }
}
.campaign-name {
  white-space: normal !important;
  overflow: hidden;
}

/**
 * Crud filters
 */
.filters {
  background-color: #eee;
  margin: 15px 15px;
  border-radius: 5px;

  .first, .element, .end {
    float: left;
    padding: 7px 15px;
    cursor: pointer;

    .field, .value {
      float: left;
    }
    .value {
      font-weight: 700;
      padding-left: 15px;
    }
    label {
      font-weight: 400;
    }
  }
  .end {
    float: right;

    label {
      cursor: pointer;

      &:hover {
        font-weight: 700;
      }
    }
  }
}

.entity-image, .product-img .entity-image, .entity-image-mention {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: block;
}
.product-img .entity-image {
  border-radius: 0;
  height: 70px;
  width: 50px;
}
.entity-image-mention {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 8px;
  display: inline-block;
}
.entity-name {
  max-height: 60px;
  overflow: hidden;
  display: inline-block;
}

/**
 * vendor layout fix for ckeditor full screen mode
 */
div.mce-fullscreen {
  z-index: 1400;
}

.export-visible {
  display: none;
}

table label {
  font-weight: normal;
}

/**
 * Search
 */
.live-search-results {
  background-color: white;
  position: absolute;
  z-index: 1;
  min-width: 190px;
  overflow: auto;

  .loading {
    text-align: center;
    padding: 15px;
  }

  .list-group-item:first-child {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }
}

.entity-modification-history {
  font-style: italic;
  font-size: 13px;
}

.sidebar-menu {
  li {
    overflow: hidden;
  }
}

.panel-toggable {
  cursor: pointer;
}

.tt-cursor {
  background-color: #f5f5f5;
}

.live-search-close {
  float: left;
  padding: 6px 15px;
}

.crud-field-entity {
  padding: 5px;
  border-radius: 5px;
  display: block;
  font-size: 1.8em;
  max-height: 90px;
  margin-bottom: 5px;
  border: 1px solid #eee;

  .entity-image {
    height: 80px;
    width: 80px;
    margin-right: 10px;
    display: inline-block;
  }

  .entity-name {
    vertical-align: top;
  }

  // A touch lighter on hover
  &:hover {
    background-color: #eee;
    transition: all 0.5s ease;
  }
}

.new-tag {
  color: rgba(0, 0, 0, 0.8);
}


.panel-entity-files {
  .well {
    padding: 30px 0;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 7px;
  }

  .entity-files-drop {
    cursor: pointer;
  }

  .entity-file-remove {
    cursor: pointer;
    &:hover {
      color: #b31830;
    }
  }

  .entity-file-name {
    border: none;
    background: none;
    display: inline-block;
    width: 95%;
    margin-right: -20px;
  }
}
.entity-file-rename, .entity-file-ui {
  cursor: pointer;
  &:hover {
    color: rgba(0, 0, 0, 0.7);
  }
}
.entity-file-ui {
  padding: 5px;
}

.entity-file {
  display: block;
  padding: 3px 6px;
}


.list-group-item {
  word-break: break-all;
}

.input-error {
  border: 1px inset red;
}
