// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@font-face {
  font-family: Verdana, sans-serif;
  font-display: fallback;
}

// This requires the most time to parse
//@font-face {
//  font-family: 'Dubai';
//  src: url('/fonts/dubai/DubaiW23-Light.eot'); /* IE9 Compat Modes */
//  src: url('/fonts/dubai/DubaiW23-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//  url('/fonts/dubai/DubaiW23-Light.woff2') format('woff2'), /* Super Modern Browsers */
//  url('/fonts/dubai/DubaiW23-Light.woff') format('woff'), /* Pretty Modern Browsers */
//  url('/fonts/dubai/DubaiW23-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
//}

// Variables
@import "variables";


img.profile-user-img {
  border: none;
  width: auto;
  max-height: 400px;
}

.content {
  padding-top: 5px;
}

.content-header {
  .breadcrumb {
    position: relative;
    float: none;
    top: 0;
    padding: 5px 10px;
    display: block;
  }

  h1 {
    display: block;
    font-size: 1.3em;
  }
}

.navbar-custom-menu {
  .btn-nav {
    margin-top: 10px;
    margin-right: 6px;
  }
}
.navbar-nav {
  .campaign-menu .campaign-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
  }

  .campaign-menu {
    a.campaign-selector {
      font-size: 1.2em;
      color: white;
      text-shadow: $text-shadow;
      -webkit-filter: grayscale(60%);
      filter: grayscale(60%);

      &:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
      }
    }

    a.campaign-selector.cover-background {
      background-color: #ddd;
    }
  }
  .user-menu {
    a.dropdown-toggle {
      height: 50px;
    }

    .dropdown-menu > li.user-header {
      background-color: #1e282c;
      a > img {
        z-index: 5;
        height: 90px;
        width: 90px;
      }
    }
  }
}

.cover-background {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
}
.placeholder-background {
  background-color: #e8e8e8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%238091ca' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E") !important;
}

.user-header a {
  display: inline;
  background: none;
  &:hover {
    background: none !important;
  }
}

.sidebar-menu > li > a {
  padding: 8px 5px 8px 15px;

  .ra {
    display: inline-block;
    width: 20px;
  }
}

/** required form fields **/
div.required label:after {
  content: " *";
  color: red;
}

table th.avatar, table td.avatar {
  width: 40px;
}
table {
  th {
    //i {
    //  padding-left: 5px;
    //}

    .btn {
      i {
        padding-left: 0;
      }
    }

    .table-filters {
      background-color: #eee;
      padding: 5px 15px;
      display: inline-block;
      cursor: pointer;
      border-radius: 5px;
      min-width: 60px;

      i {
        padding: 0px;
      }
      i.fa-filter {
        font-size: 16px;
        padding-right: 5px;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  tbody {
    td {
      vertical-align: middle !important;
    }
    .table-actions {
      a {
        font-size: 16px;
        padding: 10px 5px;
      }
    }
  }

  label {
    font-weight: normal;
  }
}
.tab-content {
  table {
    width: 100% !important;
  }
}

.clear {
  clear: both;
}

.profile-username {
  font-size: 1.3em;
  word-wrap: break-word;
  margin-bottom: 5px;
}

.preview {
  padding-top: 10px;

  .image {
    float: left;
    margin: 0 10px 0 0;
  }
  img {
    max-height: 200px;
    max-width: 200px;
    width: 100%;
  }
  a.img-delete {
    color: white;
    text-align: center;
    display: block;
    padding: 5px;
    background: none;
    margin-top: -30px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);

    &:hover {
      background-color: rgba(31, 0, 4, 0.7);
    }
  }
}
.preview-v2 {
  .image {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  a.img-delete {
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    padding: 5px;
    background: none;
    background-color: rgba(0, 0, 0, 0.3);

    &:hover {
      background-color: rgba(31, 0, 4, 0.7);
    }
  }
}

footer {
  padding-bottom: 0;
  text-align: left;

  .footer {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 15px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      padding: 0;
      display: block;
      margin: 2px 0;
      a {
        padding: 5px 0;
        font-size: 14px !important;
        line-height: 26px;
      }
    }
  }
  h4 {
    font-size: 14px;
    font-weight: 700;
  }
  h4, span {
    margin: 0 15px 10px 0;
  }

  a {
    border-radius: 4px;
    &:hover {
      transition: all 0.2s ease;
      background: rgba(255, 255, 255, 0.2);
      text-decoration: none;
    }
  }

  .footer-social {
    text-align: center;
    font-size: 22px !important;
    .email {
      margin-bottom: 20px;
    }
    .copyright {
      margin-top: 30px;
      font-size: 14px;
      .dropup {
        display: inline-block;
      }
    }
  }
}
.main-header {
  .sidebar-toggle {
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
  }
}
.main-footer {
  color: #636b6f;
  background-color: #ecf0f5;
  border-top: none;
  padding-bottom: 0;
}

/** news */
.news .box-body img {
  width: 100%;
  display:block;
}
.news .box-body a {
  display: block;
  text-transform: uppercase;
  line-height: 23px;
}

tr.tr-hover {
  cursor: pointer;
  font-weight: 700;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
}

// Dashboard home
.dashboard-box {
  p.entity-short {
    margin: 0;
  }

  li.entity {
    min-height: 90px;
  }
}

tr.entity-hidden {
  td {
    font-style: italic;
    color: #444;
  }
}
.campaign-name {
  white-space: normal !important;
  overflow: hidden;
}

/**
 * Crud filters
 */
.filters {
  background-color: #fff;
  margin: 15px 0px;
  border-radius: 5px;

  .first, .element, .end {
    float: left;
    padding: 7px 15px;
    cursor: pointer;

    .field, .value {
      float: left;
    }
    .value {
      font-weight: 700;
      padding-left: 15px;
    }
    label {
      font-weight: 400;
    }
  }
  .end {
    float: right;

    label {
      cursor: pointer;

      &:hover {
        font-weight: 700;
      }
    }
  }
}

.entity-image, .product-img .entity-image, .entity-image-mention {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: block;
}
.product-img .entity-image {
  border-radius: 0;
  height: 70px;
  width: 50px;
}
.entity-image-mention {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 8px;
  display: inline-block;
}
.entity-name {
  max-height: 60px;
  overflow: hidden;
  display: inline-block;
}
.entity-title {
  margin: 0px;
  .entity-image {
    display: inline-block;
    margin-right: 5px;
  }
  .entity-name {
    vertical-align: top;
    padding-top: 8px
  }
}
.entity-name-img {
  line-height: 2.8em;
  margin-left: 8px;
  display: inline-block;
}

/**
 * vendor layout fix for ckeditor full screen mode
 */
div.mce-fullscreen {
  z-index: 1400;
}
.mce-btn-group:not(:first-child) {
  border-left: none !important;
}

.mce-btn-group:not(:first-child) {
  border-left: none !important;
}

.editor-panel {
  padding: 5px;

  .form-group {
    margin-bottom: 0;

    .mce-container {
      border: 0;
      box-shadow: none;
    }
  }
}

.export-visible {
  display: none;
}

/**
 * Tinymce entry
 */
.panel-entry {
  padding: 5px;

  .form-group {
    margin-bottom: 0;

    .mce-container {
      border: 0;
      box-shadow: none;
    }
  }
}


/**
 * Search
 */
.live-search-results {
  background-color: white;
  position: absolute;
  z-index: 1;
  min-width: 190px;
  overflow: auto;

  .loading {
    text-align: center;
    padding: 15px;
  }

  .list-group-item:first-child {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }
}

.entity-modification-history {
  font-style: italic;
  font-size: 13px;
}

.panel-toggable {
  cursor: pointer;
}

.tt-cursor {
  background-color: #f5f5f5;
}

.live-search-close {
  float: left;
  padding: 6px 15px;
}

.crud-field-entity {
  padding: 5px;
  border-radius: 5px;
  display: block;
  font-size: 1.8em;
  max-height: 90px;
  margin-bottom: 5px;
  border: 1px solid #eee;
  overflow: hidden;

  .entity-image {
    height: 80px;
    width: 80px;
    margin-right: 10px;
    float: left;
  }
  .entity-name {
    vertical-align: top;
    display: block;
    max-height: 80px;
  }


  // A touch lighter on hover
  &:hover {
    background-color: #eee;
    transition: all 0.5s ease;
  }
}

.new-tag {
  color: rgba(0, 0, 0, 0.8);
}
.color-tag {
  padding: 3px 5px;
  border-radius: 3px;
}

.tooltip-tags {
  span {
    margin: 2px;
    display: inline-block;
  }
}

.tooltip-ajax {
  min-width: 320px;
  text-align: left;

  .tooltip-text {
    clear: both;
  }

  .entity-image {
    //margin: 4px 5px 5px 0;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    float: left;
    display: block;
  }

  .entity-name {
    font-size: 16pt;
    display: block;
  }

  .entity-subtitle {
    font-size: 12pt;
    display: block;
  }
}

.panel-entity-files {
  .well {
    padding: 30px 0;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 7px;
  }

  .entity-files-drop {
    cursor: pointer;
  }

  .entity-file-remove {
    cursor: pointer;
    &:hover {
      color: #b31830;
    }
  }

  .entity-file-name {
    border: none;
    background: none;
    display: inline-block;
    width: 95%;
    margin-right: -20px;
  }
}
.entity-file-rename {
  cursor: pointer;
  &:hover {
    color: rgba(0, 0, 0, 0.7);
  }
}

.entity-file {
  display: block;
  padding: 3px 6px;
}

.list-group-unbordered {
  margin-bottom: 0;
  .list-group-item {
    word-break: break-word;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.input-error {
  border: 1px inset red;
}

// Datagrid search
.datagrid-search {
  display: inline-block;
  .input-group-addon {
    border-right: 0px;
  }
}
.datagrid-bulk-actions {
  display: inline-block;
}

// Need the select2 container above popovers and tooltips
.select2-container--open {
  z-index: 9961;
}
.select2-selection__rendered .color-white {
  color: #000 !important;
}
.datepicker {
  z-index: 1062 !important;
}
.popover {
  max-width: 296px;
}

// Private/Public
.entity-attributes {
  .fa-unlock-alt {
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    &:hover {
      color: rgba(0, 0, 0, 0.8);
    }
  }
  .fa-lock {
    cursor: pointer;
    &:hover {
      color: rgba(0, 0, 0, 0.8);
    }
  }
}

.entity-creator {
  a {
    display: block;
    padding: 20px 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border-radius: 2px;
    color: #222;

    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%2389aeea' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
    font-size: 12pt;

    &:hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
      box-shadow: $box-shadow-hover;
      transition: all 0.3s ease;
    }
  }

  i {
    display: block;
    margin-bottom: 10px;
  }
}

#new-entity-modal, #entity-modal {
  z-index: 9900;
}

/** break lines that get too long **/
td.breakable {
  word-break: break-word;
}

.entity-form {
  //background-color: rgb(241, 245, 248);

  .nav-tabs-custom {
    //width: calc(100% - 300px);
    min-height: 0;
    background-color: unset;

    i.fa, i.ra, i.fas, i.far {
      line-height: 1.6em;
    }
  }

  ul.nav {
    z-index: 2;
    min-height: 40px;
    overflow: hidden;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-color: #fff;

    li {
      background-color: #f5f8fa;
      margin-right: 2px;
    }
  }

  .tab-content {
    //overflow-x: hidden;
    //overflow-y: auto;
    //height: calc(100vh - 200px);
  }
}
.shortcut {
  margin-left: 14px;
  color: #8f98a3;
}

.entity-form-save {
  padding-right: 0;

  .dropdown-menu {
    li {
      a {
        padding: 10px 14px;
      }
    }
  }
}

.menu-link-tabs {
  margin: 10px 10px;
  box-shadow: $box-shadow;
  .nav {
    border-top: none;
  }
}

// Text editor mentions
.rte-autocomplete {
  z-index: 1500;
}

// Quest entity image
.widget-user-image {
  .entity-image {
    float: left;
    height: 65px;
    width: 65px;
  }
}

.entity-file-visibility-dropdown {
  cursor: pointer;
}

/** New fancy images **/
.full-sized-image {
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 160px;
  display: flex;

  h1 {
    margin: 5px;
    font-size: 1.4em;
    align-self: flex-end;
    text-shadow: $text-shadow;
    color: white;
  }
}


.cursor {
  cursor: pointer;
}

.margin-top {
  margin-top: 25px;
}


// Quest panels
.widget-user-username {
  a {
    color: white;
  }
}
.bg-pink {
  color: #fff !important;
  background-color: #ebbde9 !important;
}
.bg-brown {
  color: #fff !important;
  background-color: #a35831 !important;
}

.text-pink {
  color: #ebbde9 !important;
}
.text-brown {
  color: #a35831 !important;
}
.text-black {
  color: #000 !important;
}

.bg-gray, .bg-none {
  .widget-user-username {
    a {
      color: #000;
    }
  }
}

.float-left {
  float: left;
}

.crud_permissions {
  label {
    cursor: pointer;
  }
}

.datagrid-filters {
  .box-header {
    cursor: pointer;

    .active-filter {
      padding: 3px;
      display: inline-block;
      margin: 0 5px;
    }
  }
}

.widget-patron {
  .img-circle {
    border: none !important;
    //width: 130px !important;
    //height: 130px !important;
    //margin-top: -40px;
  }
  .box-body {
    padding-top: 37px;
  }
}
.box-active {
  box-shadow: $box-shadow;
  transition: all 0.3s ease;
}
.box-green {
  .box-body {
    background-color: #c0d9bf;
  }
}
.box-hover {
  cursor: pointer;
}

#entry td, #entry th {
  padding:2px;
}

hr {
  border-top: 1px solid #eeeeee
}

// Other stylings
@import "calendar";
@import "print";
@import "mobile";
@import "boosted";
@import "entity";

@import "../components/rpg/scss/rpg-awesome";
