// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@font-face {
  font-family: Verdana, sans-serif;
  font-display: fallback;
}

// Variables
@import "variables";

:root {
  --banner-link: white;
  --campaign-selector-link: white;
  --campaign-selector-background: #ddd;
  --input-required-text: red;
  --table-filters-background: #eee;
  --quick-creator-button-text: #fff;
  --quick-creator-button-background: #144c93;
  --quick-creator-button-hover-background: rgb(45, 127, 237);
  --quick-creator-button-hover-text: #fff;

  --bg-default-link: unset;

  --gallery-folder-text: unset;
  --gallery-background: #f5f8fa;
  --gallery-hover-text: #124964;
}

@import "theming";

// Surrounds the whole body
.wrapper {
  background: none;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  // AdminLTE wants this but it becomes weird with the min-height computed on firefox
  //overflow: unset !important;
}
// for the content panel
.content-wrapper {
  margin-right: auto;
  margin-left: auto;
}
.content {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

img.profile-user-img {
  border: none;
  width: auto;
  max-height: 400px;
  padding: 0;
}


.content-header {
  position: relative;
  padding: 15px 15px 0 15px;
  .breadcrumb {
    position: relative;
    float: none;
    top: 0;
    padding: 5px 10px;
    display: block;

    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.75rem;
  }

  h1 {
    display: block;
    font-size: 1.3em;
    margin: 0;
  }
}

.navbar-nav {
  // Playing the notification buttons next to each other
  .dropdown-menu > .notification-footer  {
    a {
      display: inline-block;
      padding: 3px 5px;
    }
  }
}
.navbar-nav > .notifications-menu > .dropdown-menu {
  width: 360px;
}
// I hate my life
.navbar {
  .sidebar-toggle {
    background-color: var(--main-navbar-background);
    margin-left: -30px;
    padding: 15px 20px;
    border-radius: 9999px;
    &:before {
      content: "\f100";
    }
  }
  .sidebar-toggle:focus {
    color: var(--main-navbar-text);
  }
  // Desktop: default is sidebar is open
  .fa-angles-right {
    display: none;
  }
}
// On desktop, the sidebar gets collapsed
.sidebar-collapse .navbar .sidebar-toggle {
  margin-left: 0;
  &:before {
    content: "\f101";
  }
}
// On mobile, the sidebar get opened
.sidebar-open .navbar .sidebar-toggle {
  &:before {
    content: "\f100";
  }
}

// Map form
.disabledLink{
  cursor: not-allowed;
}
.disabledTab{
  pointer-events: none;
}

.cover-background {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
}


/** required form fields **/
div.required label:after {
  content: " *";
  color: var(--input-required-text);
}

table th.avatar, table td.avatar {
  width: 40px;
}
table th.icon, table th.icon {
  min-width: 50px;
}
table {
  tbody {
    td {
      vertical-align: middle !important;
    }
  }
}
.tab-content, .box-body {
  table {
    max-width: 100% !important;
  }
  img {
    max-width: 100%;
  }
}

.clear {
  clear: both;
}

.preview-v2 {
  .image {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  a.img-delete {
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    padding: 5px;
    background: none;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    max-height: 48px;

    &:hover {
      background-color: rgba(31, 0, 4, 0.7);
    }
  }
}


.campaign-name {
  white-space: normal !important;
  overflow: hidden;
}

.entity-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: block;
}
.user-name {
  line-height: 2.8em;
  margin-left: 8px;
  display: inline-block;
}


tr.tr-hover {
  cursor: pointer;
  font-weight: 700;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
}

/**
 * Search
 */
.live-search-results {
  background-color: white;
  position: absolute;
  z-index: 1;
  min-width: 190px;
  overflow: auto;

  .loading {
    text-align: center;
    padding: 15px;
  }

  .list-group-item:first-child {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }
}
.search-results-dropdown {
  margin-bottom: 0;
}

.entity-modification-history {
  font-style: italic;
  font-size: 13px;
}


.live-search-close {
  float: left;
  padding: 6px 15px;
}

.list-group-unbordered {
  margin-bottom: 0;
  .list-group-item {
    word-break: break-word;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.input-error {
  border: 1px inset red;
}
.color-tag {
  padding: 2px 5px;
  border-radius: 2px;
}

// Datagrid search
.datagrid-search {
  display: inline-block;
  .input-group-addon {
    border-right: 0px;
  }
}
.datagrid-bulk-actions {
  display: inline-block;
}

// Private/Public
.entity-attributes {
  .fa-unlock-alt {
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    &:hover {
      color: rgba(0, 0, 0, 0.8);
    }
  }
  .fa-lock {
    cursor: pointer;
    &:hover {
      color: rgba(0, 0, 0, 0.8);
    }
  }
}

#attribute_add {
  i {
    line-height: 1.5em;
  }
}

// Entity creator model buttons
.entity-creator {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
  a {
    padding: 20px 10px;
    //text-align: center;
    color: var(--quick-creator-button-text);
    line-height: 0.9rem;
    font-size: 0.85rem;
    background-color: var(--quick-creator-button-background);
    text-transform: uppercase;
    overflow: hidden;
    //height: 94px;
    word-break: break-word;

    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: var(--quick-creator-button-hover-background);
      box-shadow: $box-shadow-hover;
      transition: all 0.3s ease-in-out;
      color: var(--quick-creator-button-hover-text);
    }
  }

  i {
    display: block;
    margin-bottom: 0.85rem;
  }
}

#new-entity-modal, #entity-modal {
  z-index: 9900;
}

/** break lines that get too long **/
td.breakable {
  word-break: break-word;
}

.entity-form {
  margin-block-end: 0;

  .nav-tabs-custom {
    //width: calc(100% - 300px);
    min-height: 0;
    background-color: unset;
  }

  ul.nav {
    z-index: 2;
    min-height: 40px;
    overflow: hidden;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-color: #fff;
    border-bottom: none;

    li {
      margin-right: 2px;
      a {
        i.fa, i.ra, i.fas, i.far, i.fab {
          line-height: 1;
        }
      }
    }
  }

  .tab-content {
    //overflow-x: hidden;
    //overflow-y: auto;
    //height: calc(100vh - 200px);
  }
}
.shortcut {
  margin-left: 14px;
  color: #8f98a3;
}

.entity-form-save {
  padding-right: 0;

  .dropdown-menu {
    li {
      a {
        padding: 10px 14px;
      }
    }
  }
}

.menu-link-tabs {
  margin: 10px 10px;
  box-shadow: $box-shadow;
  .nav {
    border-top: none;
  }
}


// Quest entity image
.widget-user-image {
  .entity-image {
    float: left;
    height: 65px;
    width: 65px;
  }
}

.entity-file-visibility-dropdown {
  cursor: pointer;
}


.cursor {
  cursor: pointer;
}

.margin-top {
  margin-top: 25px;
}



// Quest panels
.widget-user-username {
  a {
    color: white;
  }
}
.bg-pink {
  color: #fff !important;
  background-color: #ebbde9 !important;
}
.bg-brown {
  color: #fff !important;
  background-color: #a35831 !important;
}

.text-pink {
  color: #ebbde9 !important;
}
.text-brown {
  color: #a35831 !important;
}
.text-black {
  color: #000 !important;
}
.text-break {
  word-break: break-word!important;
  overflow-wrap: break-word!important;
}

.bg-gray, .bg-none {
  .widget-user-username {
    a {
      color: var(--bg-default-link);
    }
  }
}

.datagrid-filters {
  .box-header {
    cursor: pointer;

    .active-filter {
      padding: 3px;
      display: inline-block;
      margin: 0 5px;
    }
  }
}



/*#entry td, #entry th {
  padding: 2px;
}
#entry {
  word-break: break-word;
}*/



// Attributes in entities and text area
.attribute, .note-editing-area > .attribute {
  border-radius: 2px;
  background-color: #ddd;
  color: #333;
  font-style: italic;
  padding: 2px 3px;
}

// Allow buttons to be multi-lined
.btn {
  white-space: normal;
}
.btn-app > .ra, .btn-app > .fas, .btn-app > .far, .btn-app > .fab, .btn-app > .fa, .btn-app > .fa-solid, .btn-app > .fa-regular {
  font-size: 20px;
  display: block;
  line-height: 20px !important;
}
.btn-box-tool .fa-ellipsis-v {
  padding: 0 7px;
}

.menu-link-selector {
  .btn-app > .badge {
    display: none;
  }
  .btn-app.btn-active > .badge {
    display: unset !important;
  }
}

.mb-xs {
  margin-bottom: 5px;
}
.mb-sm {
  margin-bottom: 10px;
}
.mb-md {
  margin-bottom: 15px;
}

// Bootstrap3 sets summary to display:block which isn't correct
summary { display: list-item; }

// RPG awesome dropdown icon margin
.dropdown-menu > li > a > :is(.fas, .fab, .far, .ra, .fa-solid, .fa-light, .fa-thin, .fa-regular) {
  margin-right: 10px;
  width: 14px;
}

.table .table-actions .dropdown-toggle i {
  margin: 3px 10px;
}
.table-responsive {
  overflow-x: unset;
  .table {
    margin-bottom: 0;
  }
}

.user-role-update {
  .btn {
    margin-bottom: 5px;
  }
}

.form-control-feedback.fa {
  line-height: 34px;
}

.banner-notification {
  padding: 5px;
  a {
    color: var(--banner-link);
  }
}

// Relation colour "bubble" in the relations datagrid and tables
.label-tag-bubble {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  font-size: 8pt;
  padding: 4px;
  vertical-align: bottom;
}

// UX
.skip-nav-link {
  position: absolute;
  left: .5rem;
  top: -2px;
  border-radius: 0 0 0.25rem 0.25rem;
  padding: 0.5rem 1rem;
  background-color: white;
  color: blue;
  transform: translateY(-120%);
  transition: transform 325ms ease-in;
  z-index: 1040;

  &:focus {
    top: 0;
    transform: translateY(0);
    color: var(--link-text);
  }
}
.navbar-custom-menu a:focus {
  color: var(--link-text);
}

/** Toast **/
:root {
  --toast-background: #00a65a;
  --toast-background-error: #d73925;
  --toast-text: white;
}
.toast-container {
  position: fixed;
  bottom: 20px;
  max-height: 100%;
  right: 20px;
  overflow-y:auto;
  overflow-x:hidden;

  .toast-success, .toast-error {
    margin-top: 10px;
    text-align: right;
    .toast-message {
      display: inline-block;
      background-color: var(--toast-background);
      color: var(--toast-text);
      padding: 10px;

      .fa-times {
        cursor: pointer;
        margin-left: 5px;
      }
    }
  }
  .toast-error .toast-message {
    background-color: var(--toast-background-error);
  }
}

.tutorial-highlight {
  box-shadow:
          0 0 10px #fff,            /* outer white */
          -10px 0 20px #f0f,        /* outer left magenta */
          10px 0 20px #0ff;         /* outer right cyan */
  animation: tutorial-glow 10s linear infinite;

  /*&:before {
      content: '';
      position: absolute;
      left: -2px;
      top: -2px;
      background-size: 400%;
      width: calc(100% + 5px);
      height: calc(100% + 5px);
      z-index: -1;
      animation: tutorial-glow 10s linear infinite;
  }*/
}

@keyframes tutorial-glow {
  0% {
    box-shadow:
            0 0 10px #fff,            /* outer white */
            -10px 0 20px #f0f,        /* outer left magenta */
            10px 0 20px #0ff;         /* outer right cyan */
  }

  50% {
    box-shadow:
            0 0 10px #fff,            /* outer white */
            -10px 0 20px #0ff,        /* outer left magenta */
            10px 0 20px #f0f;         /* outer right cyan */
  }

  100% {
    box-shadow:
            0 0 10px #fff,            /* outer white */
            -10px 0 20px #f0f,        /* outer left magenta */
            10px 0 20px #0ff;         /* outer right cyan */
  }
}

.privacy-callout {
  border-left: 2px solid #f6c9af;

  label {
    user-select: none;
    margin: 0;
  }
}

// Helper block in forms, closer to field
.form-group > .help-block {
  margin-top: 0;
}

.loading, .loading:hover {
  pointer-events: none;
}
.loading:before {
    margin-right: .5rem;
    display: inline-block;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    border-width: 2px;
    animation: fa-spin 2s linear infinite;
    content: "\f110";
}

// Other stylings
@import "calendar";
@import "tooltip";
@import "timeline";
@import "mobile";
@import "boosted";
@import "entity";
@import "footer";
@import "editor";
@import "box";
@import "conversation";
@import "ads";
@import "campaign";
@import "attributes/attributes";
@import "ab-testing";
@import "toggle";
@import "tw/tailwind";
@import 'dialog';
@import 'adminlte';
