
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "map";
@import "calendar";
@import "print";


// App
ul.campaigns {
  li {
    float: left;
    width: 20%;
  }

  li.active {

  }

  li.add {
    background-color: red;
  }
}

img.profile-user-img {
  width: 200px;
}

.navbar-nav {
  .campaign-menu .campaign-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
  }
}
@font-face {
  font-family: 'Dubai';
  src: url('/fonts/dubai/DubaiW23-Light.eot'); /* IE9 Compat Modes */
  src: url('/fonts/dubai/DubaiW23-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/dubai/DubaiW23-Light.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/dubai/DubaiW23-Light.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/dubai/DubaiW23-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/** required form fields **/
div.required label:after {
  content: " *";
  color: red;
}

table th.avatar {
  width: 60px;
}
table tbody td {
  vertical-align: middle !important;
}

.clear {
  clear: both;
}

.profile-username {
  word-wrap: break-word;
}

.preview {
  padding: 5px;
  margin: 10px 0;
  border: 1px solid #bbb;
  background-color: #eee;
  border-radius: 5px;

  .image {
    width: 20%;
    float: left;
    margin: 0 10px 0 0;
  }
  img {
    width: 100%;
  }
  a.img-delete {
    text-align: center;
    display: block;
    background-color: #eee;
    padding: 5px;
  }
}

.footer-social {
  a {
    margin: 0 3px;
  }
}

footer {
  .footer-patreon {
    img {
      width: 22px;
      height: 22px;
    }
  }
}

/** news */
.news .box-body img {
  width: 100%;
  display:block;
}
.news .box-body a {
  display: block;
  text-transform: uppercase;
  line-height: 23px;
}

tr.tr-hover {
  cursor: pointer;
}

// Dashboard home
.dashboard-box {
  p.entity-short {
    margin: 0;
  }

  li.entity {
    min-height: 90px;
  }
}

tr.entity-hidden {
  td {
    font-style: italic;
    color: #444;
  }
}
.campaign-name {
  white-space: normal !important;
  overflow: hidden;
}

/**
 * Crud filters
 */
.filters {
  background-color: #eee;
  margin: 15px 15px;
  border-radius: 5px;

  .first, .element, .end {
    float: left;
    padding: 7px 15px;
    cursor: pointer;

    .field, .value {
      float: left;
    }
    .value {
      font-weight: 700;
      padding-left: 15px;
    }
    label {
      font-weight: 400;
    }
  }
  .end {
    float: right;

    label {
      cursor: pointer;

      &:hover {
        font-weight: 700;
      }
    }
  }
}

.entity-image, .product-img .entity-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: block;
}
.product-img .entity-image {
  border-radius: 0;
  height: 70px;
  width: 50px;
}

/**
 * vendor layout fix for ckeditor full screen mode
 */
div.mce-fullscreen {
  z-index: 1400;
}
