// Login / Register
.login-page, .register-page {
  background-color: #eef1f4;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .login-logo {
    img {
      display: inline-block;
      width: 96px;
      margin-top: -8px;
    }
  }

  .login-box, .register-box {

    .login-box-body, .register-box-body {
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
      border-radius: 10px;
    }
  }
  .btn-app {
    .fab {
      font-size: 20px;
      display: block;
    }
  }
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .login-box, .register-box {
    width: 420px;
  }

  .login-page, .register-page, header.masthead-img {
    background-image: url(https://images.kanka.io/app/fRvHCH-8nraqMOxYiqN7rOJtq7I=/src/images%2Fbackgrounds%2Fmountain-background-desktop.jpg);
  }
  .login-page.webpfallback, .register-page.webpfallback, header.masthead-img.webpfallback {
    background-image: url(https://images.kanka.io/app/fRvHCH-8nraqMOxYiqN7rOJtq7I=/src/images%2Fbackgrounds%2Fmountain-background-desktop.jpg?webpfallback);
  }
}

@media (max-width:991px) {
    .login-page, .register-page, header.masthead-img {
    background-image: url(https://images.kanka.io/app/WgTgGlDmiswpJ1cBISY3xEcwL7U=/src/images%2Fbackgrounds%2Fmountain-background-mobile.jpg) !important;
  }
  .login-page.webpfallback, .register-page.webpfallback, header.masthead-img.webpfallback {
    background-image: url(https://images.kanka.io/app/WgTgGlDmiswpJ1cBISY3xEcwL7U=/src/images%2Fbackgrounds%2Fmountain-background-mobile.jpg?webpfallback) !important;
  }
}
