/**
 * Styling related to elements that benefit from a campaign's boosted status
 */
.booster {
  background-color: #9b8a30;
}
.btn-boost {
  margin-bottom: 25px;
}

.entity-header {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;

  [class*='col-'] {
    display: flex;
    flex-direction: column;
  }

  .entity-image {
    width: 100%;
    padding-top: 100%;
    position: relative;
    border-radius: 2px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
  }

  .tooltip {
    .entity-image {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      cursor: unset;
      padding-top: 0;
    }
  }

  .entity-header-col {
    align-self: flex-end;
    display: flex;
    .entity-texts {

    }
  }

  .entity-name-header {
    display: flex;
    align-items: center;

    .entity-name {
      margin: 0;
      overflow: visible;
      max-height: unset;
      word-break: break-all;
    }

    .entity-name-icons {
      //margin-left: 5px;
    }

    i.entity-icons {
      margin-left: 15px;
      font-size: 18px;
      cursor: pointer;
      //margin-bottom: 15px;
    }

    .btn-group.open .dropdown-toggle {
      box-shadow: unset;
    }
  }

  .header-buttons {
    margin-left: auto;
    order: 2;
    margin-top: -36px;
  }

  .entity-tags {
    margin-bottom: 10px;
    .label {
      margin-right: 6px;
      font-size: 80%;
      line-height: 20px;
    }
  }

  .entity-header-locations {
  }
}
.entity-header.with-entity-header {
  padding-top: 50px;
  margin-bottom: 20px;
  .entity-name {
    text-shadow: rgba(0, 0, 0, 0.5) 0 1px 4px;
    color: white;
  }
  i.entity-icons {
    color: white;
  }
  .entity-header-sub {
    color: white;
    a {
      color: white;
      text-decoration: underline;
    }
  }
}
.entity-links {
  margin: 5px 0;
  li > a {
    font-size: 20px;
  }
}

.visu-teaser {
  background-image: url(https://kanka-app-assets.s3.amazonaws.com/images/features/relation-visu-teaser.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 150px 0;

  a {
    display: block;
    padding: 30px;
    transition: ease all 0.3s;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-shadow: $text-shadow;
    font-size: 18px;
    line-height: 22px;
    border-radius: 5px;

    &:hover {
      background-color: rgb(45, 127, 2370, 0.6);
    }
  }
}

.box .nav-stacked > li {
  word-break: break-all;
}

@media (max-width: 787px) {
 .entity-header {
   display: block;
   .col-md-2 {
     display: block;
     float: left;
   }
   .entity-image {
     width: 100px;
     margin-bottom: 10px;
   }

   .entity-header-col {
     display: block;
   }

   .entity-name-header {
     display: block;

     .entity-name-icons {
       float: right;
     }

     i.entity-icons {
       margin-bottom: 0;
     }
   }

   .entity-name {
     display: block;
     max-height: unset;
     word-break: initial;
   }

   .header-buttons {
     margin: 0;
     display: inline-block;
     width: 100%;
     text-align: right;
   }
 }
}
