/**
 * Styling related to elements that benefit from a campaign's boosted status
 */
.booster {
  background-color: #9b8a30;
}
.btn-boost {
  margin-bottom: 25px;
}

.entity-sidebar {
  .list-group-item {
    border-bottom: unset;
  }
  .list-group-item-repeat {
    padding-top: 0;
    border: unset;
  }
}

:root {
  --sidebar-section-background: none;
  --sidebar-section-padding: none;
}
.sidebar-section-box {
  margin-bottom: 30px;
  background: var(--sidebar-section-background);
  padding: var(--sidebar-section-padding);
  overflow: hidden;

  .sidebar-section-title {
    font-size: 18px;
    margin: 0;
    line-height: 1.5;
    color: var(--header-text);
    border-bottom: 1px solid var(--input-border-color);
    user-select: none;
  }

  .sidebar-elements {
    display: grid;
    grid-template-columns: 100%;
    margin: 5px 0;

    .element {
      margin: 10px 0;
      font-size: 14px;

      .title {
        text-transform: uppercase;
        font-size: 11px;
        line-height: 1.1;
      }
    }
  }
  .list-group-unbordered .list-group-item {
    background-color: transparent;
  }
}

.entity-header {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;

  .entity-header-text {
    display: flex;
    flex-direction: column;

    .entity-header-line {
      &:nth-last-child(2) {
        display: inline-block;
      }
    }

  }

  .entity-header-image {
    position: relative;
    padding-right: 30px;
  }

  .entity-image {
    width: 100%;
    padding-top: 100%;
    position: relative;
    border-radius: 2px;
    //background-size: contain;
    cursor: pointer;
    z-index: 10;
  }
  .entity-image.no-thumbor {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .tooltip {
    .entity-image {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      cursor: unset;
      padding-top: 0;
    }
  }

  .entity-header-text {
    align-self: flex-end;
    display: flex;
    .entity-texts {
    }

    .entity-header-sub {
      display: inline-block;
      padding-top: 12px;
      .entity-header-sub-element {
        display: inline-block;
      }
    }
  }

  .entity-breadcrumb {
    margin-bottom: 10px;
    font-size: 12px;
    float: none;
    top: 0;
    padding: 0;
    display: block;

    li {
      display: inline-block;
      a {
        text-decoration: none;
        color: var(--breadcrumb-text);
      }
    }
    li+li:before {
      content: ">\A0";
      padding: 0 5px;
      color: #ccc;
    }
  }

  .entity-name-header {
    display: flex;
    //align-items: center;

    .entity-name {
      margin: 0;
      overflow: visible;
      max-height: unset;
      word-break: break-all;
    }

    .entity-name-icons {
      padding-top: 8px;
      //margin-left: 5px;
    }
    .entity-name-icons-2 {
      min-width: 70px;
    }
    .entity-name-icons-3 {
      min-width: 100px;
    }

    i.entity-icons {
      margin-left: 10px;
      font-size: 18px;
      cursor: pointer;
      //margin-bottom: 15px;
    }

    .btn-group.open .dropdown-toggle {
      box-shadow: unset;
    }
  }

  .header-buttons {
    display: inline-block;
    float: right;
    //margin-left: auto;
    //order: 2;
  }

  .entity-tags {
    margin-top: 10px;
    .label {
      margin-right: 6px;
      font-size: 80%;
      line-height: 20px;
    }
  }
  .entity-title {
  }
  .entity-type {
    display: none;
  }

  .entity-header-locations {
  }
}
.entity-grid > .entity-header.with-entity-banner {
  margin: 0;
  .entity-header-image, .entity-header-text {
    padding: 20px 15px;
  }
  .entity-header-image {
    //padding-right: 0;
  }
  .entity-header-text {
    padding-left: 10px;
    padding-right: 10px;
  }
  .entity-name, .entity-title {
    text-shadow: rgba(0, 0, 0, 0.5) 0 1px 4px;
    color: white;
  }
  i.entity-icons {
    color: white;
  }
  .entity-header-sub {
    color: white;
    a {
      color: white;
      text-decoration: underline;
    }

    .entity-header-sub-element {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  .entity-breadcrumb {
    color: white;
    a {
      color: white;
    }
  }
}
.entity-links {
  margin: 5px 0;
  li > a {
    font-size: 16px;
    display: block;
    line-height: 1.6;
    i {
      font-size: 20px;
    }
  }
}

.visu-teaser {
  background-image: url(https://kanka-app-assets.s3.amazonaws.com/images/features/relation-visu-teaser.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 150px 0;

  a {
    display: block;
    padding: 30px;
    transition: ease all 0.3s;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-shadow: $text-shadow;
    font-size: 18px;
    line-height: 22px;
    border-radius: 5px;

    &:hover {
      background-color: rgb(45, 127, 2370, 0.6);
    }
  }
}

.box .nav-stacked > li {
  word-break: break-all;
}

@media (max-width: 991px) {
 .entity-header {
   display: block;
   .col-md-2 {
     display: block;
     float: left;
   }

   .entity-header-text {
     display: block;
   }

   .entity-name-header {
     //display: block;

     .entity-name-icons {
       //float: right;
     }

     i.entity-icons {
       margin-bottom: 0;
     }
   }

   .entity-name {
     display: block;
     max-height: unset;
     word-break: initial;
   }

   .header-buttons {
     margin: 0;
     display: inline-block;
     float: right;
     //width: 100%;
     margin-left: auto;
   }
 }
}

/**
 * Everything is a grid now
 */

.entity-grid {
  display: grid;
  margin: 0 -15px;
  grid-template-columns: 200px minmax(auto, calc(100% - 400px)) 200px;
  grid-template-areas:
    "header header header"
    "menu main side"
    "footer footer footer";


  .entity-header {
    grid-area: header;
    display: grid;
    grid-template-columns: 200px auto;

    // Magic grid stuff to make stuff look nice even without an image
    .entity-header-text {
      grid-column: 1 / span 2;
      grid-row: 1 / span 1;
      padding: 0 15px;
    }
    .entity-header-image + .entity-header-text {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      padding-left: 10px;
    }
    .entity-header-image {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
      align-self: flex-end;
      display: flex;
      padding: 0 15px;
      //margin-right: 25px;
    }
    .entity-banner {
      grid-column: 1 / span 2;
      grid-row: 1 / span 1;
      height: auto;
      width: 100%;
      min-height: 250px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
  .entity-header.without-entity-image {
    grid-template-columns: auto;
  }


  .entity-submenu, .entity-sidebar {
    padding: 0 15px;
  }

  .entity-main-block {
    padding: 0 15px;
    grid-column: 2 / span 2;
  }
  .entity-story-block {
    grid-column: 2 / span 1;
    padding: 0 10px;
  }
}



/** Grid fullscreen **/
@media (max-width: 991px) {
  .entity-grid {
    grid-template-columns: 120px minmax(auto, calc(100% - 280px)) 160px;

    .entity-header {
      grid-template-columns: 120px auto;
    }
  }
}

@media (max-width: 767px) {
  .entity-grid {
    display: block;

    .entity-header {
      grid-template-columns: 120px minmax(auto, calc(100% - 120px));

      .entity-banner {
        min-height: 200px;
      }

      .entity-header-image {
        width: 120px;
        align-self: flex-start;

        .entity-image {
          height: 100px;
        }
      }

      .entity-header-text {
      }
      .entity-name {
        font-size: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space:nowrap
      }
    }

    .entity-story-block, .entity-main-block {
      margin: 0 5px;
    }
  }
}
