.calendar {
  table-layout: fixed;

  tbody {
    td {
      height: 100px;
      vertical-align: top !important;
      word-wrap: break-word;

      .add {
        visibility: hidden;
      }

      h5 {
        float: left;
        margin-top: 3px;
      }

      p {
        clear: both;
      }

      .calendar-season, .weather {
        width: 100%;
        display: block;
      }

      .weather {
        background-color: #ddd;
      }

      .reminder-entity {
        display: block;
      }

      .calendar-event-block {
        display: block;
        margin: 2px 0;
        padding-left: 0.2em;
        text-align: left;
        font-size: 10pt;
        margin-bottom: 5px;
        font-weight: 400;
        overflow: hidden;
        cursor: pointer;

        .entity-image {
          float: left !important;
          height: 30px;
          width: 30px;
          margin-right: 5px;
          display: inline-block;
        }

        .calendar-event-comment {
          display: block;
          font-size: 9pt;
          padding-top: 5px;
          max-height: 20px;
          color: rgba(255, 255, 255, 0.9);
        }

      }

      .colour-pallet {
        color: white;
      }

      .bg-gray {
        color: #333 !important;
        .calendar-event-comment {
          color: #333 !important;
        }
      }
      //.bg-black, .bg-blue, .bg-green, .bg-maroon, .bg-navy {
      //  color: white;
      //  .calendar-event-comment {
      //    color: rgba(255, 255, 255, 0.8);
      //  }
      //}
    }

    td.today {
      background-color: #FFFDE2;
    }

    td:hover {
      .add {
        visibility: visible;
      }
    }

    tr.named_week {
      td {
        height: 1em;
        font-style: italic;
        background-color: #FFFDE2;
      }
    }
  }
}

.calendar-toolbar {
  padding: 10px 0;

  .calendar-center {
    display: inline-block;
  }

  .calendar-current {
    display: inline-block;
    margin-left: 25px;
    .month {
      display: inline-block;
      padding-top: 6px;
      font-size: 1.2em;
      margin-right: 5px;
    }
  }
}

.calendar-event-action {
  font-size: 2em;
  cursor: pointer;
  text-align: center;
  width: 100%;
  display: block;
  padding: 15px 30px;

  i {
    display: block;
    clear: both;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}