.calendar {
  table-layout: fixed;

  tbody {
    td {
      height: 100px;
      vertical-align: top !important;
      word-wrap: break-word;

      .add {
        visibility: hidden;
      }

      h5 {
        float: left;
        margin-top: 3px;
      }

      p {
        clear: both;
      }
    }

    td.today {
      background-color: #FFFDE2;
    }

    td:hover {
      .add {
        visibility: visible;
      }
    }
  }
}