
.text-pink {
    color: #ebbde9 !important;
}
.text-brown {
    color: #a35831 !important;
}
.text-red {
    color:#dd4b39 !important
}
.text-yellow {
    color:#f39c12 !important
}
.text-aqua {
    color:#00c0ef !important
}
.text-blue {
    color:#0073b7 !important
}
.text-black {
    color:#111 !important
}
.text-white {
    color:#fff !important
}
.text-light-blue {
    color:#3c8dbc !important
}
.text-green {
    color:#00a65a !important
}
.text-gray {
    color:#d2d6de !important
}
.text-navy {
    color:#001F3F !important
}
.text-teal {
    color:#39CCCC !important
}
.text-olive {
    color:#3D9970 !important
}
.text-lime {
    color:#01FF70 !important
}
.text-orange {
    color:#FF851B !important
}
.text-fuchsia {
    color:#F012BE !important
}
.text-purple {
    color:#605ca8 !important
}
.text-maroon {
    color:#D81B60 !important
}
