.campaign {
  padding: 40px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin-bottom: 15px;

  .content {
    margin-top: 80px;
    padding: 20px 20px 10px 20px;
    border-radius: 5px;
    min-height: 0;
    text-align: justify;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);

    h1, .more, .preview {
      text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
    }

    h1 {
      font-size: 20pt;
      margin: 0;
      padding: 0;

      .img-circle {
        width: 50px;
        height: 50px;
        margin-right: 7px;

        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;

        &:hover {
          box-shadow: 0 4px 6px rgba(50, 50, 93, 0.31), 0 1px 3px rgba(0, 0, 0, 0.08);
        }
      }


      a {
        color: #fff;

        &:hover, &:focus, &:active {
        color: #72afd2;
        }
      }
    }
    .preview {
      position: relative;
      font-size: 1.2em;

      .preview-action {
        text-align: center;
      }
    }

    .more {
      font-size: 1.2em;
      a {
        padding: 5px 0;
        display: inline-block;
      }
    }

    ul.campaign-links {
      bottom: 0;
      margin-top: 10px;
      border-radius: 2px;
      list-style-type: none;
      padding: 0;
      display: block;
      width: 100%;

      li {
        display: inline-block;
        text-align: left;
        margin-right: 8px;
        margin-bottom: 5px;
        a {
          padding: 8px 12px;
          background: rgba(0, 0, 0, 0.7);
          border: 1px solid rgba(255, 255, 255, 0.1);
          display: inline-block;
          text-align: center;

          i {
            display: block;
            margin-bottom: 5px;
          }
          &:hover {
            background: rgba(0, 0, 0, 0.5);
            border: 1px solid rgba(255, 255, 255, 0.3);
            box-shadow: 0 4px 6px rgba(50, 50, 93, 0.31), 0 1px 3px rgba(0, 0, 0, 0.08);
          }
        }
      }
    }
  }
}
.no-header {
  padding: 0;

  .content {
    margin-top: 0;
    background-color: #fff;
    border-radius: 2px;
    color: #333;
    border: 1px solid #d3e0e9;

    h1, .more, .preview {
      text-shadow: none;
    }

    h1 {
      a {
        color: #3c8dbc;
      }
    }

    ul.campaign-links {
      li {
        a {
          border: 1px solid #d3e0e9;
          background: rgba(255, 255, 255, 0.2);

          &:hover {
            background: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }
}

.panel-body {
  .pinned-entity {
    transition: all 0.5s ease;
  }
  .preview {
    max-height: 200px;
    position: relative;
    overflow: hidden;
    padding-top: 0;

    &:before {
      content:'';
      width:100%;
      height:30%;
      position:absolute;
      left:0;
      bottom:0;
      background:linear-gradient(transparent 0px, white);
    }
  }
  .full {
  }

  .preview-switch {
    width: 100%;
    padding-left: auto;
    padding-right: auto;
    display: block;
    text-align: center;
  }
}

.campaign-dashboard-widgets {
  .widget {
    border-radius: 3px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    height: 160px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
    }

    .widget-overlay {
      background-color: rgba(255, 255, 255, 0.7);
      padding: 40px 20px;
      height: 160px;
    }

    .widget-type {
      display: block;
    }

    .widget-entity {
      margin-top: 8px;
    }
  }
  .add {
    border: 2px dashed #ccc;
  }
}

.widget-calendar {
  .current-date {
    text-align: center;
    font-size: 22px;

    i {
      font-size: 14px;
      cursor: pointer;

      &:hover {
      }
    }
  }
}

.widget-recent {
  .entity {
    padding: 5px;

    .elapsed {
      font-size: 11px;
      color: #888;
    }

    .entity-image {
      display: inline-block;
      margin-right: 4px;
      width: 25px;
      height: 25px;
      vertical-align: middle;
    }
    .name {
      padding-top: 2px;
    }
  }
}

.widget-recent-body {
  overflow: auto;
  max-height: 400px;
}

.widget-user-header {
  padding: 0 !important;
  height: auto !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  .widget-user-overlay {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    height: 120px;
  }

  .widget-user-username {
    i {
      font-size: 16px;
    }
  }
}

.widget-preview {
  .panel-title {
    vertical-align: middle;
    a {
      font-size: 18px;
    }
    .entity-image {
      display: inline-block;
      vertical-align: middle;
      margin-right: 6px;
    }

  }
}

@media (max-width: 787px) {
  .campaign {
    padding: 10px;
    .content {
      padding: 10px;
      margin-top: 20px;


      .title {

        .img-circle {
          margin-left: 0;
          height: 30px;
          width: 30px;
        }
      }

      ul.campaign-links {
        li {
          display: block !important;
          width: 100%;
          a {
            text-align: center;
            width: 100%;
          }
        }
      }
    }
  }
}