
// Variables
@import "variables";
.campaign-dashboard {
  .content-header {
    min-height: 28px;
  }
}
.dashboard-actions {
  display: inline-block;
  float: right;
  margin-top: -7px;
}

.campaign {
  margin-top: 10px;
  padding: 40px;
  margin-bottom: 15px;

  .content {
    margin-top: 80px;
    padding: 20px 20px 10px 20px;
    border-radius: 5px;
    min-height: 0;
    text-align: justify;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);

    h1, .more, .preview {
      text-shadow: $text-shadow;
    }

    h1 {
      font-size: 18pt;
      margin: 0;
      padding: 0;
      line-height: 1.3em;

      .img-circle {
        width: 50px;
        height: 50px;
        margin-right: 0;

        &:hover {
          box-shadow: $box-shadow-hover;
        }
      }


      a {
        color: #fff;

        &:hover, &:focus, &:active {
        color: #72afd2;
        }
      }
    }
    h2 {
      font-size: 16pt;
    }
    h3, h4, h5, h6 {
      font-size: 15pt;
    }
    .preview {
      position: relative;
      font-size: 11pt;

      .preview-action {
        text-align: center;
      }
    }

    .more {
      font-size: 1.2em;
      a {
        padding: 5px 0;
        display: inline-block;
      }
    }

    .campaign-link {
      display: block;
      padding: 8px 12px;
      background: rgba(0, 0, 0, 0.1);
      text-align: center;
      font-size: 1.1em;

      &:hover {
        color: white;
        background: $link-color;
        box-shadow: $box-shadow-hover;
      }
    }
  }
}
.cover-background {
    .campaign-link {
      background: rgba(0, 0, 0, 0.6) !important;

      &:hover {
        //background: rgba(0, 0, 0, 0.9) !important;
        background: $link-color !important;
      }
    }
}
.no-header {
  padding: 0;

  .content {
    margin-top: 0;
    background-color: #fff;
    border-radius: 2px;
    color: #333;
    border: 1px solid #d3e0e9;

    h1, .more, .preview {
      text-shadow: none;
    }

    h1 {
      a {
        color: #3c8dbc;
      }
    }

    ul.campaign-links {
      li {
        a {
          border: 1px solid #d3e0e9;
          background: rgba(255, 255, 255, 0.2);

          &:hover {
            background: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }
}

.panel {

  h1 {
    font-size: 20pt;
  }
  h2 {
    font-size: 18pt;
  }
  h3, h4, h5, h6 {
    font-size: 12pt;
  }

  .panel-heading-entity {
    transition: all 3s ease;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 10%;

    &:hover {
      background-position: 50% 50%;
    }

    h3 {
      transition: none;
      background-color: rgba(0, 0, 0, 0.2);

      a {
        padding: 30px 20px;
        display: inline-block;
        width: 100%;
        color: white !important;
        text-shadow: rgba(0, 0, 0, 0.9) 0px 1px 4px;
        font-size: 18px;
      }
    }
  }

  .panel-body {
    .pinned-entity {
      transition: all 0.5s ease;
    }

    .preview {
      max-height: 200px;
      position: relative;
      overflow: hidden;
      padding-top: 0;

      &:before {
        content: '';
        width: 100%;
        height: 30%;
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(transparent 0px, white);
      }
    }

    .full {
      max-height: unset;
    }

    .preview-switch {
      width: 100%;
      padding-left: auto;
      padding-right: auto;
      display: block;
      text-align: center;
    }
  }

  ul {
    padding-left: 25px;
    li {
    }
  }

  ul.list-unstyled {
    padding-left: 10px;
  }
}

.campaign-dashboard-widgets {
  .widget {
    border-radius: 3px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    height: 160px;
    overflow: hidden;

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
    }

    .widget-overlay {
      background-color: rgba(255, 255, 255, 0.7);
      padding: 40px 20px;
      height: 160px;

      .tags {
        span {
          font-size: 8pt;
        }
      }
    }

    .widget-type {
      display: block;
    }

    .widget-entity {
      margin-top: 8px;
    }
  }
  .add {
    border: 2px dashed #ccc;
  }
}

.widget-calendar {
  .current-date {
    text-align: center;
    font-size: 22px;

    i {
      font-size: 14px;
      cursor: pointer;

      &:hover {
      }
    }
  }
}

.widget-map {
  .panel-body {
    padding: 0;
  }
}

.widget-recent, .widget-unmentioned {
  .panel-body {
    padding: 5px;
  }
  .row {
    margin: 4px 0;
    border-bottom: 1px solid #ccc;
  }

  .entity-image {
     display: inline-block;
     margin-right: 8px;
     width: 35px;
     height: 35px;
     vertical-align: middle;
   }

  .elapsed {
    font-size: 11px;
    color: #888;
  }

  .entity {
    padding: 5px;


    .entity-image {
      display: inline-block;
      margin-right: 8px;
      width: 25px;
      height: 25px;
      vertical-align: middle;
    }
    .name {
      padding-top: 2px;
    }
  }
}

.widget-recent-list {
  overflow: auto;
  max-height: 400px;

  .flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 45px;
    padding: 3px;

    &:hover {
      background-color: rgba(50, 50, 50, 0.05);
    }

    .entity-image {
      min-width: 35px;
    }

    .blame {
      margin-left: auto;
      font-size: 10pt;
      text-align: right;
    }
  }
}

.widget-user-header {
  padding: 0 !important;
  height: auto !important;
  .widget-user-overlay {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    height: 120px;
  }

  .widget-user-username {
    i {
      font-size: 16px;
    }
  }
}

.widget-preview {
  .panel-title {
    vertical-align: middle;
    .entity-image {
      display: inline-block;
      vertical-align: middle;
      margin-right: 6px;
    }
  }

  table {
    max-width: 100% !important;
    word-break: break-all;
  }
  iframe, img {
    max-width: 100% !important;
  }

  div[data-toggle="preview"] {
    max-height: 200px;
  }
}

@media (max-width: 787px) {
  .content-header {
  }
  .campaign {
    padding: 10px;
    .content {
      padding: 10px;
      margin-top: 20px;


      .title {

        .img-circle {
          margin-left: 0;
          height: 30px;
          width: 30px;
        }
      }

      ul.campaign-links {
        margin-bottom: 0;
        li {
          display: inline-block !important;
          width: 49%;
          margin-right: 0;
          text-align: center;
          a {
            text-align: center;
            width: 100%;
          }

          &:nth-last-child(1) {
            display: none !important;
          }
        }
      }
    }
  }
}

.box {
  .box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
  }
}
