
// Variables
@import "variables";

:root {
  --dashboard-preview-gradient: white;
  --dashboard-widget-admin-border: #ccc;

  --dashboard-setup-widget-background: rgba(255, 255, 255, 0.7);
  --dashboard-setup-widget-hover: rgba(255, 255, 255, 0.8);
}

.campaign-dashboard {
  .content-header {
    min-height: 28px;
  }
}
.dashboard-actions {
  display: inline-block;
  float: right;

  .btn {
    padding: 4px 10px;
  }
}


.cover-background {
  .campaign-link {
    background: rgba(0, 0, 0, 0.6) !important;

    &:hover {
      //background: rgba(0, 0, 0, 0.9) !important;
      background: $link-color !important;
    }
  }
}

.panel {

  h1 {
    font-size: 20pt;
  }
  h2 {
    font-size: 18pt;
  }
  h3, h4, h5, h6 {
    font-size: 12pt;
  }

  .panel-heading-entity {
    transition: all 3s ease;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 10%;

    &:hover {
      background-position: 50% 50%;
    }

    h3 {
      transition: none;
      background-color: rgba(0, 0, 0, 0.2);

      a {
        padding: 30px 20px;
        display: inline-block;
        width: 100%;
        color: white !important;
        text-shadow: rgba(0, 0, 0, 0.9) 0 1px 4px;
        font-size: 18px;
      }
    }
  }

  .panel-body {
    .pinned-entity {
      transition: all 0.5s ease;
      img {
        max-width: 100%;
        height: auto;
      }
    }

    .preview {
      max-height: 200px;
      position: relative;
      overflow: hidden;
      padding-top: 0;

      &:before {
        content: '';
        width: 100%;
        height: 30%;
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(transparent 0px, var(--dashboard-preview-gradient));

      }
    }

    .full {
      max-height: unset;
    }

    .preview-switch {
      width: 100%;
      padding-left: auto;
      padding-right: auto;
      display: block;
      text-align: center;
    }
  }

  ul {
    padding-left: 25px;
    li {
    }
  }

  ul.list-unstyled {
    padding-left: 10px;
  }

  .list-group-item.list-group-item-repeat {
    padding-top: 0;
    border-top: unset;
  }
}

.campaign-dashboard-widgets {
  .widget {
    border-radius: 3px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    border: 1px solid var(--dashboard-widget-admin-border);
    margin-bottom: 20px;
    height: 160px;
    overflow: hidden;

    &:hover {
      background-color: var(--dashboard-setup-widget-hover);
    }

    .widget-overlay {
      background-color: var(--dashboard-setup-widget-background);
      padding: 40px 20px;
      height: 160px;

      .tags {
        span {
          font-size: 8pt;
        }
      }
    }

    .widget-type {
      display: block;
    }

    .widget-entity {
      margin-top: 8px;
    }

    .custom-name {
      font-size: 10pt;
    }
  }
  .add {
    border: 2px dashed #ccc;
  }

  .widget-header, .widget-campaign {
    height: auto;
    .widget-overlay {
      height: auto;
      padding: 10px 20px;

      h3, .widget-type {
        margin: 10px 0;
      }
    }
  }
}

.widget-calendar {
  .current-date {
    text-align: center;
    font-size: 22px;

    i {
      font-size: 14px;
      cursor: pointer;

      &:hover {
      }
    }
  }
}

.widget-map {
  .panel-body {
    padding: 0;
  }
}

.widget-recent, .widget-unmentioned {
  .panel-body {
    padding: 5px;
  }
  .row {
    margin: 4px 0;
    border-bottom: 1px solid #ccc;
  }

  .entity-image {
    display: inline-block;
    margin-right: 8px;
    width: 35px;
    height: 35px;
    vertical-align: middle;
  }

  .elapsed {
    font-size: 11px;
    color: #888;
  }

  .entity {
    padding: 5px;


    .entity-image {
      display: inline-block;
      margin-right: 8px;
      width: 25px;
      height: 25px;
      vertical-align: middle;
    }
    .name {
      padding-top: 2px;
    }
  }
}

.widget-recent-list {
  overflow: auto;
  max-height: 400px;

  .flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 45px;
    padding: 3px;

    &:hover {
      background-color: rgba(50, 50, 50, 0.05);
    }

    .entity-image {
      min-width: 35px;
    }

    .fa, .far, .fas, .fab, .ra {
      margin-left: 5px;
    }

    .blame {
      margin-left: auto;
      font-size: 10pt;
      text-align: right;
    }
  }
}

.widget-user-header {
  padding: 0 !important;
  height: auto !important;
  .widget-user-overlay {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    height: 120px;
  }

  .widget-user-username {
    i {
      font-size: 16px;
    }
  }
}

.widget-preview {
  .panel-title {
    vertical-align: middle;
    .entity-image {
      display: inline-block;
      vertical-align: middle;
      margin-right: 6px;
    }
  }
  .panel-body {
    overflow: hidden;
  }

  table {
    max-width: 100% !important;
    word-break: break-all;
  }
  iframe, img {
    max-width: 100% !important;
  }

  /* can we remove this?
  div[data-toggle="preview"] {
    max-height: 200px;
  }*/
}

.box {
  .box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
  }
}

.campaign-header {
  padding: 20px;
  margin-bottom: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .social-bar {
    text-align: right;
  }
  .action-bar {
    line-height: 1.8em;
    margin-left: auto;

    .btn {
      font-style: normal;
      font-size: 14px;
      line-height: 16px;
    }
    .dropdown-menu {

      i {
        text-align: center;
        width: 20px;
      }
    }
  }

  .campaign-content .campaign-head {
    display: flex;

    .campaign-link {
      margin: 0;
      flex: 1;
      margin-right: 30px;
    }
    .campaign-title {
      font-size: 24px;
      line-height: 32px;
      margin: 0;
      padding: 0;
    }
  }
}

.campaign-header.campaign-imaged-header {
  padding: 60px 40px;
  .campaign-header-content {
    margin-top: 5px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}

/** mobile **/

@media (max-width: 767px) {
  .campaign-header {
    padding: 10px;
    margin-bottom: 0;
  }
  .campaign-header .campaign-content > .campaign-head {
  }

  .campaign-header .campaign-content > .campaign-head a.campaign-link {
    margin-right: 0;
  }

  .campaign-header.campaign-imaged-header {
    padding: 20px 10px;
  }

  .campaign-header.campaign-imaged-header .campaign-header-content {
    padding: 10px;
  }

  .dashboard-actions {
    float: unset;
    display: block;
  }
  .campaign-header .social-bar {
    text-align: unset;
  }
}

.dashboard-releases {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 20px;
  .box {
    display: inline-block;
    vertical-align:top;
    width: calc(80% - 2px);
    margin-bottom: 0;

    .release-excerpt {
      .overflow-wrap {
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
        word-break: break-all;
        white-space: normal;
      }
    }

    &:only-child {
      width: calc(100% - 2px);
    }
  }
}
@media (min-width: 992px) {
  .dashboard-releases .box {
    width: calc(50% - 2px);
  }
}

/*.campaign-dashboard-widgets {
  .widget {
    .widget-overlay {
      background-color: rgba(0, 0, 0, 0.7);
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}*/
