
.entity-menu {
  li {
    display: flex;
    a {
      flex-grow: 1;
      max-height: 53px;
    }
    a.icon {
      margin-left: auto;
      flex-grow: unset;
      padding: 10px 12px;
    }
  }
  li.active {
    a.icon {
      border-left: none;
    }
  }
}

.entity-notes {
  img {
    max-width: 100%;
  }

  .entity-note-details {
    margin-bottom: 5px;

    .entity-note-detail-element:not(:last-child) {
      &:after {
        content: "|";
      }
    }
  }

  .entity-note-footer {
    font-size: 12px;
    //padding: 10px 0 10px 10px;

    .entity-note-updated {
      &:before {
        content: "|";
      }
    }
  }
}
.entity-note .box-header.with-border {
  display: flex;
}
.entity-note > .box-header > h3.box-title {
  flex-grow: 5;
}
.kanka-entity-timeline > .box-header > .box-tools {
  flex-basis: 73px;
  text-align: right;
  margin: 0 0 0 5px;
  a {
    &:hover {
      background: unset !important;
    }
  }
  i {
    font-size: 14px;
    margin-left: 5px;
  }
}
