/**
 * Contains styling for an entity's submenu and various elements related.
 * For styling regarding the general layout of entities, check boosted.scss.
 */
.entity-menu {
    li {
        display: flex;

        a {
            max-height: 53px;
        }

        a.icon {
            padding: 10px 12px;
            text-overflow: unset;
        }
    }

    li.active {
        a.icon {
            border-left: none;
        }
    }
}

.entity-posts, .entity-notes {
    img {
        max-width: 100%;
    }

    .post-details {
        .post-detail-element:not(:last-child) {
            &:after {
                content: "|";
            }
        }
    }

    .post-footer {
        .post-updated {
            &:before {
                content: "|";
            }
        }
    }
}

.post .box-header.with-border {
    display: flex;
}

.post > .box-header > h3.box-title {
    flex-grow: 5;
}


/** Collapsed / Expanded elements **/
.element-toggle {
    .icon-hide {
        display: none;
    }
}
.element-toggle.collapsed {
    .icon-hide {
        display: unset;
    }
    .icon-show {
        display: none;
    }
}
