.body {
  text-align: right;
}
.topbar-list {
  text-align: left;
}
footer, .table .text {
  text-align: right;
}
h1, h2, h3, h4, h5, p {
  text-align: right;
}
.card-body {
  text-align: right
}

.feature-item {
  h3 {
    text-align: center;
  }
}
