.map {
  width: 100%;
  min-height: calc(50vh);
}
.map-explore {
  min-height: calc(100vh - 50px) !important;
}
.map-dashboard {
   min-height: calc(30vh);
}

.map-form {
  margin-bottom: 15px;
}

.marker {
  color: white;
  background-color: unset;
  text-align: center;
}

.marker-pin {
  width: 40px;
  height: 40px;
  border-radius: 50% 50% 50% 0;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  box-shadow: 0 6px 6px rgba(50, 50, 93, 0.31), 0 1px 3px rgba(0, 0, 0, 0.08);;

  &:after {
    content: '';
    width: 36px;
    height: 36px;
    margin: 2px 0 0 -18px;
    position: absolute;
    border-radius: 50%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(45deg);
  }
}

.marker.custom {

}

.btn-map-explore {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #fff !important;
  z-index: 999;
}

.marker.size-1 {
  font-size: 0.5em;
  //line-height: 20px;
}
.marker.size-2 {
  font-size: 1em;
  //line-height: 40px;
}
.marker.size-3 {
  font-size: 2em;
  //line-height: 40px;
}
.marker.size-4 {
  font-size: 3em;
}
.marker.size-5 {
  font-size: 4em;
}
.marker {
  i {
    font-size: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}


.marker-popup-actions
{
  a {
    color: #fff;
  }
}



#map-body {
  #sidebar-content {
    padding: 8px;
    overflow: auto;
    max-height: calc(100vh - 60px);
  }
  .sidebar {
    li {
      height: unset;
    }
    a {
      color: #fff;
    }
  }
}
.skin-map.sidebar-collapse {
  /*.sidebar {
    display: none !important;
  }*/
}

.skin-map {
  .main-sidebar {
    //background-color: #dedede;
    color: #efefef;
    overflow: hidden;
    padding-top: 0;
    z-index: 1040;
  }
  .marker-details {
    .marker-name {
      margin-top: 0;
    }
  }

  .marker-actions {
    margin: 20px 0;
  }

  .entity-title {
    min-height: 40px;
    margin-bottom: 5px;

    a {
      display: flex;
      align-items: center;
    }

    .entity-image {
      display: inline-block;
      margin-right: 5px;
    }
    .entity-name {
      display: inline;
      font-size: 12pt;
    }
  }
}


.marker-close {
  &:hover {
    cursor: pointer;
  }
}

.leaflet-top, .leaflet-bottom {
  z-index: 800;
}
.leaflet-popup img, .marker-details img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  #map-body {
    .main-sidebar {
      width: 430px;
    }

    .content-wrapper, .main-footer {
      margin-left: 430px;
    }
  }
  #map-body.skin-black .main-header .navbar-static-top {
    margin-left: 430px;
  }
  #map-body.skin-black.sidebar-collapse .main-header .navbar-static-top {
    margin-left: 0;
  }
}

//@media (max-width: 767px) {
//  .main-sidebar {
//    transform: translate(-430px, 0);
//  }
//}

:root {
  --leaflet-popup-background: #fff;
  --leaflet-popup-text: inherit;
}

/** Theming of the leaflet stuff **/
.leaflet-popup-content-wrapper,
.leaflet-popup-tip,
.leaflet-control-layers-expanded,
.leaflet-control-layers,
.leaflet-bar a {
  background-color: var(--leaflet-popup-background) !important;
  color: var(--leaflet-popup-text) !important;
}
.leaflet-bar a {
  &:hover {
    background: var(--leaflet-popup-background);
  }
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: var(--leaflet-popup-background) !important;

  .leaflet-popup-content {
    color: var(--leaflet-popup-text);
  }
}
.leaflet-container {
  background: transparent !important;
}
