.map {
  width: 100%;
  position: relative;
  overflow: auto;

  .point {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    background-color: rgba(120, 120, 120, 0.3);
    display: block;
    border-radius: 25px;
    text-align: center;

    i {
      visibility: hidden;
      padding-top: 25%;
      color: white;
    }
  }

  .point:hover {
    background-color: rgba(40, 82, 117, 0.69);
    i {
      visibility: visible;
    }
  }

  .admin {
    background-color: rgba(120, 120, 120, 0.5);

  }

  .admin:hover {
    background-color: rgba(149, 43, 40, 0.8);
  }
}
.map-admin {
  margin-bottom: 15px;
}
.map-zoom {
  position: absolute;
  z-index: 1000;
  padding: 5px;
  display: inline-block;
  overflow: visible;

  button {
    display: block;
    width: 100%;
    margin-bottom: 3px;
  }
}