@media (max-width: 787px) {
  // Menu nav points to show next to one another on mobile
  .nav-stacked > li {
    display: block;
    width: auto;
  }

  footer.main-footer {
    .footer {
      background: transparent;
      padding: 3px;
      .email {
        margin: 10px 0;
      }
    }
  }

  .navbar-nav .campaign-menu .campaign-image {
    margin-right: 0px;
  }

  .navbar-nav {
    .menu {
      .campaign-image {
        margin-right: 4px;
      }
    }
    .campaign-menu {
      .dropdown-menu {
        width: 90%;
        box-shadow: $box-shadow;
      }
      a.campaign-selector {
        -webkit-filter: unset;
        filter: unset;
      }
    }
  }

  .main-sidebar {
     padding-top: 50px;
  }

  .content-header {
    padding-top: 5px;

    h1 {
      font-size: 22px;
      line-height: 28px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;


      .pull-right {
        margin: 0px;
      }
    }

    .breadcrumb {
      background: transparent;
      padding: 0 0 3px 0;
      margin-top: 0;

      li {
        display: inline-block;
        padding: 5px 0 1px;
        color: #8f98a3;

        &:before {
          padding: 0 2px;
        }
      }
    }

    .form-group {
      margin-bottom: 0;
    }
  }

  section.content {
    padding-top: 5px;
  }

  .profile-user-img {
    max-height: calc(30vh) !important;
  }

  .nav-tabs-custom {
    ul.nav-tabs {
      display: inline-flex;
      width: 100%;
      overflow-x: auto;
      -ms-overflow-style: none; /*// IE 10+*/
      overflow: -moz-scrollbars-none;/*// Firefox*/
    }
    .form-group {
      margin-bottom: 0;
    }
    .nav-tabs::-webkit-scrollbar {
      display: none; /*Safari and Chrome*/
    }
  }

}
