/**
 * SASS file for all that is print related.
 * This file contains all the stuff to hide when printing
 */

.entity-image.hidden-xs {
  display: none !important;
}
.entity-print-image {
  width: 100%;
}
.entity-header .entity-header-text .entity-header-line:nth-last-child(2) {
  display: block;
}

@media print
{
  body {
    -webkit-print-color-adjust: exact;
  }
  .main-footer {
    display: none !important;
  }

  // Hide all buttons
  .btn {
    display: none !important;
  }

  // All tabs should be visible
  .tab-pane {
    display: block !important;
    visibility: visible !important;
  }
  // Except permissions
  #permissions, #map {
    display: none !important;
  }

  a[href]:after {
    content: none !important;
  }

  .fa.fa-chevron-up, .fa.fa-chevron-down {
    display: none;
  }

  .entity-image {
    -webkit-print-color-adjust: exact;
  }


  .entity-header {
    .entity-header-image {
    }
  }

  .hidden-xs, .hidden-sm {
    display: inline-block !important;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  .dl-horizontal {
    dt {
      float: left;
      width: 160px;
    }
    dd {
      margin-left: 180px
    }
  }

  // Profile
    .col-sm-4 {
      width: 33.333333%;
    }

    .col-md-3 {
      width: 25%;
    }

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
}

body, #app.wrapper {
  background: unset;
  background-image: unset;
}

.content-wrapper {
  margin-left: 0;
  background-color: white;

  .content-header {
    padding-top: 0;
  }
  .content {
    padding-top: 0;
  }
}

.entity-grid {
  grid-template-columns: 16% minmax(auto, calc(100% - 32%)) 16%;

  .entity-submenu {
    display: none;
  }

  .entity-print-image {
    display: unset;
  }
  .entity-image {
    display: none;
  }


  .entity-story-block {
    grid-column: 1 / span 2;
    width: 100%;
  }
  .entity-sidebar-pins {
    display: none;
    .fa-question-circle {
      display: none;
    }
  }

  .btn {
    display: none;
  }
  .entity-modification-history, .entity-mentions-box {
    display: none;
  }
}

.entity-abilities-helper {
  display: none;
}

.entity-header {
  .entity-image-col {
    .entity-image {
      display: none;
    }
  }
  .fa-cog {
    display: none;
  }
}


.btn-primary, .btn-xs, .btn-secondary, .btn-warning {
  display: none;
}
.btn-print {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 2;
  display: unset;
}

.pagebreak { page-break-before: always; }
