.box-quest-element {
    .widget-user-header {
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .widget-user-username {
        font-weight: 300;
    }

    // Quest entity image
    .widget-user-image {
        .entity-image {
            height: 40px;
            width: 40px;
        }
    }
}
