:root {
  --relation-explorer-background: #fff;
  --relation-explorer-color: #636b6f;
}

#cy {
  min-height: calc(90vh);

  background-color: var(--relation-explorer-background);
  color: var(--relation-explorer-color);
}
.cy-panzoom {
  z-index: 800;
}

@import '~cytoscape-panzoom/cytoscape.js-panzoom.css';
