#cy {
  min-height: calc(90vh);

  background-color: #fff;
  color: #636b6f;


  .node-hover {
    border: 5px solid pink;
  }
}
.cy-panzoom {
  z-index: 800;
}
@import '~cytoscape-panzoom/cytoscape.js-panzoom.css';
