.element-live-reorder {
    .element {
        display: flex;
        flex-flow: row wrap;
        background-color: rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
        padding: 10px;
        cursor: grab;
        //flex-wrap: nowrap;
        align-items: center;
        justify-content: center;

        .dragger {
            padding-right: 10px;
            //align-self: flex-start;
        }
        .rounded-icon {
            i {
                border-radius: 50%;
                width: 30px;
                height: 30px;
                font-size: 15px;
                line-height: 30px;
                text-align: center;
                display: block;
            }
        }

        .name {
            overflow: hidden;
            flex-grow: 1;
            //align-self: flex-start;

            i {
                min-width: 20px;
            }
            i.ra {
                display: var(--fa-display,inline-block);
            }
        }

        .state {
            padding: 0 10px;
            align-self: flex-end;
        }

        .icons {
            align-self: flex-end;
        }

        select {
            height: 28px;
            padding: 3px 6px;
        }

        .children {
            flex: 0 0 100%;
            margin-top: 15px;
        }
    }
}
