.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-4 {
  padding: 1rem;
}
.p-5 {
  padding: 1.25rem;
}
.px-1 {
  padding: 0 0.25rem;
}
.px-2 {
  padding: 0 0.5rem;
}
.px-3 {
  padding: 0 0.75rem;
}
.px-4 {
  padding: 0 1rem;
}
.px-5 {
  padding: 0 1.25rem;
}
.py-1 {
  padding: 0.25rem 0;
}
.py-2 {
  padding: 0.5rem 0;
}
.py-3 {
  padding: 0.75rem 0;
}
.py-4 {
  padding: 1rem 0;
}
.py-5 {
  padding: 1.25rem 0;
}

.m-1 {
  margin: 0.25rem;
}
.m-2 {
  margin: 0.5rem;
}
.m-3 {
  margin: 0.75rem;
}
.m-4 {
  margin: 1rem;
}
.m-5 {
  margin: 1.25rem;
}
.mx-1 {
  margin: 0 0.25rem;
}
.mx-2 {
  margin: 0 0.5rem;
}
.mx-3 {
  margin: 0 0.75rem;
}
.mx-4 {
  margin: 0 1rem;
}
.mx-5 {
  margin: 0 1.25rem;
}
.my-1 {
  margin: 0.25rem 0;
}
.my-2 {
  margin: 0.5rem 0;
}
.my-3 {
  margin: 0.75rem 0;
}
.my-4 {
  margin: 1rem 0;
}
.my-5 {
  margin: 1.25rem 0;
}

.mr-1 {
  margin-right: 0.25rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.mt-1 {
  margin-top: 0.25rem;
}
.text-vertical {
  vertical-align: middle;
}
