

.px-1 {
  padding: 0.25rem;
}
.px-3 {
  padding: 1rem;
}
.mr-1 {
  margin-right: 0.25rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.mt-1 {
  margin-top: 0.25rem;
}
.text-vertical {
  vertical-align: middle;
}
