.entity-notes-reorder {
  .story {
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 10px;
    cursor: grab;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    .dragger {
      padding-right: 10px;
      //align-self: flex-start;
    }

    .name {
      overflow: hidden;
      //align-self: flex-start;
    }

    .icons {
      margin-left: auto;
    }
  }
}


.entity-image-focus {
  .focus-selector {
    overflow: auto;
    position: relative;
    max-height: calc(70vh);
    margin-bottom: 10px;

    .focus {
      position: absolute;
      color: white;
      text-shadow: rgba(0, 0, 0, 0.5) 0 1px 4px;
      cursor: pointer;

      &:hover {
        color: red;
      }
    }

    img {
      max-width: unset;
    }
  }
}
