:root {
  /** Bootstrap / AdminLTE **/
  /*--info-background: #00c0ef;
  --success-background: #00a65a;
  --danger-background: #dd4b39;
  --warning-background: #f39c12;
  --default-background: #f4f4f4;

  --well-background: #f5f5f5;
  --well-border: #e3e3e3;

  //--success-button-text: Æ’

  /** Buttons **/
  /*--button-danger-border: #aa4a24;
  --button-danger-text: #fff;
  --button-danger-hover-text: #fff;
  --button-danger-hover-background: #954120;

  --button-primary-hover-background: #2579a9;
  --button-primary-hover-text: #fff;

  --button-success-hover-background: #20895e;
  --button-success-hover-text: #fff;

  --button-default-border: #8c8c8c;
  --button-default-hover-background: #e6e6e6;
  --button-default-hover-text: #fff;
  --button-default-hover-border: #f;*/

  --body-background: #f5f8fa;
  --body-text: #636b6f;
  --header-text: inherit;



  --breadcrumb-text: #444;

  --input-border-color: #d2d6de;
  --input-background-color: #fff;
  --input-text-color: inherit;

  --content-wrapper-background: #ecf0f5;

  --hr-border-top: 1px solid #eee;

  --modal-background: #fff;
  --modal-inner-border: #f4f4f4;
  --modal-close-opacity: 0.2;
  --modal-body-text: #444;
  --modal-close-color: #000;

  --submenu-hover-background: #f7f7f7;
  --submenu-link: inherit;

  --tab-color: #444;
  --tab-background: #f5f8fa;
  --tab-hover-color: #999;
  --tab-hover-background: #f5f8fa;
  --tab-active-color: #444;
  --tab-active-background: #fff;
  --tab-content-background: var(--modal-background);
  --tab-active-border: #f4f4f4;
  --list-group-item-border: #d3e0e9;

  --label-default-background: #d2d6de;
  --label-default-text: #fff;
}

body {
  background-color: var(--body-background);
  color: var(--body-text);
}

/** links **/
:root {
  --link-text: #3c8dbc;
  --link-hover: #296282;
  --link-focus: #72afd2;
}
a {
  color: var(--link-text);
  &:hover {
    color: var(--link-hover);
  }
  &:focus {
    color: var(--link-focus);
  }
}

.content-header > .breadcrumb > li > a {
  color: var(--breadcrumb-text);
}

h1, h2, h3, h4, h5, h6, h1 > small, .panel-title {
  color: var(--header-text);
}

.content-wrapper {
  background-color: var(--content-wrapper-background);
}


input, textarea, .select2, select, .input-group .input-group-addon  {
  border-color: var(--input-border-color);
  //border-radius: 0 !important;
  background-color: var(--input-background-color);
  color: var(--input-text-color);
}
.select2 {
  border: none;
}
.select2-container--default .select2-selection--single, .select2-dropdown {
  border-color: var(--input-border-color);
  background-color: var(--input-background-color);
}

label {
  color: var(--input-text-color);
}
.label-default {
  background-color: var(--label-default-background);
  color: var(--label-default-text);
}

.form-control {
  border-color: var(--input-border-color);
  background-color: var(--input-background-color);
  color: var(--input-text-color);
}

hr {
  border-top: var(--hr-border-top);
}

.select2 {
  .select2-selection {
    .select2-selection__rendered {
      color: var(--input-text-color);
    }
  }
  // Tags
  .select2-container--default .select2-selection--single {
    background-color: var(--input-background-color) !important;
  }
}
.select2-dropdown {
  background-color: var(--input-background-color);
  .select2-results {
    color: var(--input-text-color);
  }
}
.select2-container--default .select2-selection--multiple {
  border-color: var(--input-border-color) !important;
  background-color: var(--input-background-color) !important;
}


/** Dropdown menus **/
:root {
  --dropdown-border: #eee;
  --dropdown-background: var(--modal-background);
  --dropdown-hover-background: #e1e3e9;
  --dropdown-hover-text: inherit;
  --dropdown-link: #777;
}
.dropdown-menu {
  background-color: var(--dropdown-background);
  border: 1px solid var(--dropdown-border);

  li.divider {
    background-color: var(--dropdown-border);
  }
  li > a:hover, li > a:focus {
    background-color: var(--dropdown-hover-background);
    color: var(--dropdown-hover-text);
  }
  li > a {
    color: var(--dropdown-link);
  }
}


// Callouts / Modals / Labels
/*.bg-info, .bg-primary, .callout.callout-info, .alert-info, .label-info {
   background-color: var(--info-background) !important;
}
.callout.callout-danger, .alert-danger, .alert-error, .label-danger{
  background-color: var(--danger-background) !important;
}

.callout.callout-success, .alert-success, .label-success {
  background-color: var(--success-background) !important;
}
.callout.callout-warning, .alert-warning, .label-warning {
  background-color: var(--warning-background) !important;
}*/

/** Gallery upload **/
.well {
  background-color: var(--well-background);
  border-color: var(--well-border);
}

.modal-content, .popover-content {
  background: var(--modal-background);
  .modal-header, .popover-header, .modal-footer, .popover-footer {
    border-color: var(--modal-inner-border);
  }
}
.modal .panel-body {
  color: var(--modal-body-text);
}
.close {
  color: var(--modal-close-color);
  opacity: var(--modal-close-opacity);
  &:hover, &:focus {
    color: var(--modal-close-color);
  }
}



.nav-tabs-custom, .nav-tabs, {
  background: none;
  .tab-content {
    background: var(--tab-content-background);
  }
}

// Text for submenu
.nav-stacked > li > a, .nav-stacked > li.active > a, .nav-stacked > li.active > a:hover {
  color: var(--submenu-link);
}
// Hover background for submenu
.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus {
  background-color: var(--submenu-hover-background);
  color: var(--submenu-link);
}
.box .nav-stacked > li {
  border-color: var(--box-with-border-bottom-border);
}

// All the tab stuff
.nav-tabs > li:hover > a, .nav-tabs > li.active:hover > a {
  color: var(--tab-hover-color) !important;
  background-color: var(--tab-hover-background) !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
  color: var(--tab-active-color) !important;
  background-color: var(--tab-active-background) !important;
}
.nav-tabs > li > a {
  color: var(--tab-color) !important;
  background-color: var(--tab-background) !important;
}

.list-group-item {
  border-color: var(--list-group-item-border);
  color: var(--header-text);
}
.nav-tabs-custom > .nav-tabs > li.active > a {
  border-color: var(--tab-active-border);
}


/** NAVBAR HELL **/
:root {

  /*--navbar-tab-text: #fff;
  --navbar-tab-background: #fff;

  --navbar-tab-active-background: #fff;
  --navbar-tab-active-text: #fff;

  --navbar-tab-hover-background: #fff;
  --navbar-tab-hover-text: #fff;*/

  --main-navbar-background: #fff;
  --main-navbar-text: #333;
  --main-navbar-user-footer: #f9f9f9;
  --main-navbar-hover-background: #fff;
  --main-navbar-user-background: #222;
}
.skin-black .main-header .navbar {
  background-color: var(--main-navbar-background);
}
.skin-black .main-header li.user-header {
  background-color: var(--main-navbar-user-background);
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
  background-color: var(--main-navbar-user-footer);
  .btn-default {
    color: var(--btn-default-hover-text);
  }
}


/** Hover & active on all the navbar buttons **/
.skin-black .main-header .navbar .nav > li > a, .skin-black .main-header .navbar .nav > .active > a, .skin-black .main-header .navbar .sidebar-toggle, .skin-black .main-header .navbar .nav .open > a {
  color: var(--main-navbar-text);
  &:hover, &:active, &:focus, {
    background-color: var(--main-navbar-hover-background);
  }
}
.skin-black .main-header .navbar .nav .open > a, .skin-black .main-header .navbar .nav > .active > a,
.skin-black .main-header .navbar .nav .open > a.active {
  background-color: var(--main-navbar-hover-background);
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a, .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:hover, .navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
  border-bottom-color: var(--btn-default-background);
  color: var(--main-navbar-text);
  &:hover {
    background-color: var(--main-navbar-hover-background);
  }
}

/**
.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
  background-color: var(--theme-detail);
}
.nav-tabs-custom > .nav-tabs > li:first-of-type.active > a,
.nav-tabs-custom > .nav-tabs > li.active > a {
  border-left-color: var(--theme-border);
  border-right-color: var(--theme-border);
  border-bottom-color: var(--theme-background);
}
.nav-tabs-custom > .nav-tabs > li:hover > a, .nav-tabs-custom > .nav-tabs > li.active > a, .nav-tabs-custom > .nav-tabs > li.active:hover > a  {
  background-color: var(--theme-background);
  color: var(--theme-main-text);
}

.skin-black .main-header .navbar .nav > li > a:hover, .skin-black .main-header .navbar .nav > li > a:active, .skin-black .main-header .navbar .nav > li > a:focus, .skin-black .main-header .navbar .nav .open > a, .skin-black .main-header .navbar .nav .open > a:hover, .skin-black .main-header .navbar .nav .open > a:focus, .skin-black .main-header .navbar .nav > .active > a {
  color: var(--theme-wrapper-text);
  background-color: var(--theme-navbar-li-hover-background);
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a:hover {
  color: var(--theme-navbar-notifications-text);
  background-color: var(--theme-navbar-notifications-background);
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
  border-bottom: 1px solid var(--theme-border);
}

.skin-black .main-header .navbar .sidebar-toggle:hover {
  color: var(--theme-wrapper-text);
  background-color: var(--theme-navbar-li-hover-background);
}
 */

.nav-tabs-custom > .nav-tabs > li.active:hover > a, .nav-tabs-custom > .nav-tabs > li.active > a {
  background-color: var(--navbar-tab-active-background);
  color: var(--navbar-tab-active-text);
}
.nav-tabs-custom > .nav-tabs > li:hover > a, .nav-tabs-custom > .nav-tabs > li.active > a, .nav-tabs-custom > .nav-tabs > li.active:hover > a {
  background-color: var(--navbar-tab-hover-background);
  color: var(--navbar-tab-hover-text);
}

/** Buttons **/
:root {
  --btn-default-background: #f4f4f4;
  --btn-default-text: #444;
  --btn-default-border: #ddd;
  --btn-default-hover-text: #636b6f;
  --btn-default-hover-background: #e7e7e7;
  --btn-default-hover-border: #adadad;

  --label-default-background: #d2d6de;
  --label-default-text: #fff;

}
.btn-default, .btn-app {
  background-color: var(--btn-default-background);
  color: var(--btn-default-text);
  border-color: var(--btn-default-border);

  &:hover, &:focus, &:active {
    background-color: var(--btn-default-hover-background);
    border-color: var(--btn-default-hover-border);
    color: var(--btn-default-hover-text);
  }
}
.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  background-color: var(--btn-default-hover-background);
  border-color: var(--btn-default-hover-border);
  color: var(--btn-default-hover-text);
}
.label-default {
  background-color: var(--label-default-background);
  color: var(--btn-default-text);
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus, .pagination > li > a {
  background-color: var(--label-default-background);
  color: var(--btn-default-text);
  border-color: var(--btn-default-border);
  &:hover {
    background-color: var(--label-default-hover-background);
    color: var(--label-default-hover-text);
  }
}

/** Boxes, Panels, Timelines **/
:root {
  --box-border: none;
  --box-background: #ffffff;

  --box-header-background: transparent;
  --box-header-text: var(--header-text);

  --box-with-border-background: none;
  --box-with-border-bottom-border: #f4f4f4;

  --box-footer-background: #fff;
  --box-footer-border-top: #f4f4f4;

  --popover-border: rgba(0, 0, 0, 0.2);
  --popover-header-background: #f7f7f7;
}


/**
 * All of the boxes follow a similar design in our themes
 */
.box, .panel, .timeline-item, .popover {
  border: var(--box-border);
  background-color: var(--box-background);

  .box-header, .panel-heading, .timeline-header {
    background-color: var(--box-header-background);
    color: var(--box-header-text);
  }
  .with-border {
    background: var(--box-with-border-background);
    border-bottom-color: var(--box-with-border-bottom-border);
  }

  .box-footer, .panel-footer {
    background: var(--box-footer-background);
    border-top-color: var(--box-footer-border-top);
  }
}

.panel-default > .panel-heading {
  border-color: var(--box-with-border-bottom-border);
}
.popover {
  border: 1px solid var(--popover-border);
  .popover-title {
    background-color: var(--popover-header-background);
    border-color: var(--box-with-border-bottom-border);
  }
}


/** Tables */
:root {
  --table-highlight: #f9f9f9;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: var(--table-highlight);
}
.table-hover {
  tbody {
    tr {
      &:hover {
        background-color: var(--table-highlight);
      }
    }
  }
}
.table :is(thead, tbody, tfoot) tr :is(td, th) {
  border-color: var(--input-border-color);
}
