.timeline > li > .ra, .timeline > li > .fab, .timeline > li > .far, .timeline > li > .fas {
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  position: absolute;
  color: #666;
  background: #d2d6de;
  border-radius: 50%;
  text-align: center;
  left: 18px;
  top: 0;
}
