:root {
  --timeline-item-background: #fff;
  --timeline-element-border: #ddd;
  --timeline-item-header-border: #f4f4f4;
}

.timeline > li > .ra, .timeline > li > .fab, .timeline > li > .far, .timeline > li > .fas, .timeline > li > .fa-solid, .timeline > li > .fa-brands, .timeline > li > .fa-light, .timeline > li > .fa-thin, .timeline > li > .fa-duotone {
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  position: absolute;
  color: #666;
  background: var(--timeline-element-border);
  border-radius: 50%;
  text-align: center;
  left: 18px;
  top: 0;
}



.timeline > li > .timeline-item {
  background: var(--timeline-item-background);
  color: var(--body-text);
  .timeline-header {
    border-bottom-color: var(--timeline-item-header-border);
  }
}
.timeline > li > .timeline-item > .timeline-header {
  color: var(--header-text);
}
.timeline:before {
  background: var(--timeline-element-border);
}

/*
 * Component: Timeline
 * -------------------
 */
.timeline {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 4px;
        background: #ddd;
        left: 31px;
        margin: 0;
        border-radius: 2px;
    }

    > li {
        position: relative;
        margin-right: 10px;
        margin-bottom: 15px;

        &:before, &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }

        .timeline-item {
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            margin-top: 0;
            background: #fff;
            color: #444;
            margin-left: 60px;
            margin-right: 15px;
            padding: 0;
            position: relative;

            .time {
                color: #999;
                float: right;
                padding: 10px;
                font-size: 12px;
            }
        }
        > .ra, > .fab, > .far,  > .fas, > .fa-solid, > .fa-brands, > .fa-light, > .fa-thin, > .fa-duotone {
            width: 30px;
            height: 30px;
            font-size: 15px;
            line-height: 30px;
            position: absolute;
            color: #666;
            background: var(--timeline-element-border);
            border-radius: 50%;
            text-align: center;
            left: 18px;
            top: 0;
        }
    }
}
