:root {
  --timeline-item-background: #fff;
  --timeline-element-border: #ddd;
  --timeline-item-header-border: #f4f4f4;
}

.timeline > li > .ra, .timeline > li > .fab, .timeline > li > .far, .timeline > li > .fas, .timeline > li > .fa-solid, .timeline > li > .fa-solid, .timeline > li > .fa-light, .timeline > li > .fa-thin, .timeline > li > .fa-duotone {
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  position: absolute;
  color: #666;
  background: var(--timeline-element-border);
  border-radius: 50%;
  text-align: center;
  left: 18px;
  top: 0;
}


.timeline > li > .timeline-item {
  background: var(--timeline-item-background);
  color: var(--body-text);
  .timeline-header {
    border-bottom-color: var(--timeline-item-header-border);
  }
}
.timeline > li > .timeline-item > .timeline-header {
  color: var(--header-text);
}
.timeline:before {
  background: var(--timeline-element-border);
}
