.tooltip-tags {
  span {
    margin: 2px;
    display: inline-block;
  }
}

.tooltip-ajax {
  min-width: 320px;
  text-align: left;

  .entity-tooltip-avatar {
    display: flex;
    align-items: center;
    align-content: stretch;
    min-height: unset;
    height: auto;
    margin: 5px 0;
    justify-content: flex-start;


    .entity-image {
      margin: 0 10px 0 2px;
      height: 60px;
      width: 60px;
    }
  }

  .tooltip-text {
    clear: both;
  }

  .entity-names {
    line-height: 24px;
  }

  .entity-name {
    max-height: none;
    font-size: 16pt;
    display: block;
  }

  .entity-subtitle {
    font-size: 12pt;
    display: block;
  }
}

/** Change positioning of various elements so tooltips can extend beyond overflow:hidden containers **/

/* Entity sidebar */
.entity-sidebar {
  position: relative;
}
.list-group-item {
  position: unset;
}

/* Dashboard widgets */
.panel .panel-body .preview {
  position: unset;
}
