.tooltip-tags {
  font-size: 1rem;
  line-height: 1.2;
  span {
    display: inline-block;
  }
}

.tooltip-ajax {
  min-width: 340px;
  text-align: left;

  .entity-tooltip-avatar {
    display: flex;
    align-items: center;
    align-content: stretch;
    min-height: unset;
    height: auto;
    margin: 5px 0;
    justify-content: flex-start;


    .entity-image {
      margin: 0 10px 0 2px;
      height: 60px;
      width: 60px;
    }
  }

  .tooltip-text {
    font-size: 0.8rem;

    h1, h2, h3 {
      font-size: 1.05rem;
      margin: 0.3rem 0;
    }
    h4, h5, h6 {
      font-size: 0.95rem;
      margin: 0.3rem 0;
    }
  }

  .entity-names {
    line-height: 24px;
  }

  .entity-name {
    max-height: none;
    font-size: 1.35rem;
    display: block;
  }

  .entity-subtitle {
    font-size: 1.05rem;
    display: block;
  }

  .tooltip-tags {
    margin-bottom: 0.3rem;
  }
}

/** Change positioning of various elements so tooltips can extend beyond overflow:hidden containers **/

/* Entity sidebar */
.entity-sidebar {
  position: relative;
}
.list-group-item {
  position: unset;
}

/* Dashboard widgets */
.panel .panel-body .preview {
  position: unset;
}

.keyboard-shortcut {
  padding: 0.2rem 0.4rem;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  margin-right: 5px;
}
.keyboard-shortcut.form-control-feedback {
  //padding: 0.1rem 0.2rem;
  line-height: 24px;
  height: 30px;
  width: 30px;
  margin-top: 3px;
}
