:root {
  --theme-main-text: #A4A4A4;
  --theme-hard-text: #E1E1E1;
  --theme-soft: #333;
  --theme-detail: #222;
  --theme-background: #1F1F1F;
  --theme-soft-text: #A4A4A4;
  --theme-border: #2E2E2E;
  --theme-link: #2d8ebd;
  --theme-link-hover: #345d7c;
  --theme-soft-background: #121212;
  --theme-input-text: #fff;


  --main-navbar-background: var(--theme-background);
  --main-navbar-user-footer: var(--theme-soft);
  --main-navbar-user-background: var(--theme-background);
  --main-navbar-hover-background: var(--theme-soft);
  --main-navbar-text: var(--theme-main-text);

  --table-highlight: var(--theme-soft);
  --table-border: var(--theme-border);

  --link-text: var(--theme-link);
  --link-focus: var(--theme-link);
  --link-hover: var(--theme-link-hover);
  --breadcrumb-text: var(--body-text);
  --submenu-link: #999;
  --submenu-hover-background: var(--theme-soft);

  --sidebar-background: var(--theme-background);

  --tab-color: var(--theme-main-text);
  --tab-background: var(--theme-background);
  --tab-hover-color: var(--theme-hard-text);
  --tab-hover-background: var(--theme-background);
  --tab-active-color: var(--theme-hard-text);
  --tab-active-background: var(--theme-background);
  --tab-active-border: transparent;

  --input-background-color: var(--theme-detail);
  --input-border-color: var(--theme-soft);
  --input-text-color: var(--theme-input-text);
  --input-background-disabled-color: var(--theme-background);


  --quick-creator-button-background: var(--theme-soft);
  --quick-creator-button-hover-background: var(--dashboard-widget-admin-border);
  --header-text: var(--theme-hard-text);
  --text-help: #a4aaae;
  --code-background: #c3c3c3;

  --modal-background: var(--theme-detail);
  --modal-inner-border: transparent;
  --modal-close-opacity: 0.6;
  --modal-body-text: var(--theme-main-text);
  --modal-close-color: var(--header-text);
  --calendar-today: var(--theme-link-hover);
  --calendar-week: var(--theme-soft);
  --calendar-weather: var(--theme-border);
  --calendar-season-text: var(--theme-main-text);
  --calendar-event-default: var(-theme-background);
  --dashboard-preview-gradient: var(--theme-detail);
  --dashboard-widget-admin-border: var(--theme-soft);
  --footer-background: var(--theme-soft-background);
  --footer-links-background: rgba(0, 0, 0, 0.2);
  --footer-logo-blue: none;
  --footer-logo-white: unset;
  --footer-text: var(--theme-main-text);

  --body-background: var(--theme-soft-background);
  --body-text: var(--theme-main-text);

  --gallery-text: var(--theme-hard-text);
  --gallery-background: var(--theme-background);
  --gallery-hover-text: var(--theme-main-text);

  --relation-explorer-background: var(--theme-detail);
  --relation-explorer-text: var(--theme-hard-text);

  --conversation-comment-background: var(--theme-soft);

  --default-background: var(--theme-background);

  --bg-default-link: var(--theme-input-text);
  --well-background: var(--theme-background);
  --well-border: var(--theme-background);

  --dashboard-setup-widget-background: rgba(0, 0, 0, 0.7);
  --dashboard-setup-widget-hover: rgba(0, 0, 0, 0.8);

  --content-wrapper-background: var(--theme-soft-background);

  --hr-border-top: 1px solid var(--theme-border);

  --leaflet-popup-background: var(--theme-background);
  --leaflet-popup-text: var(--theme-input-text);

  --spectrum-border: var(--theme-border);
  --spectrum-background: var(--theme-background);
  --spectrum-text: var(--theme-main-text);

  --search-background: var(--theme-background);
  --search-text: var(--theme-main-text);
  --search-cursor-background: var(--theme-soft);
  --search-border: var(--theme-border);

  --dropdown-background: var(--theme-background);
  --dropdown-border: var(--theme-border);
  --dropdown-hover-background: var(--search-cursor-background);
  --dropdown-link: var(--theme-main-text);

  --list-group-item-border: var(--theme-border);
  --list-group-item-background: var(--theme-background);
  --timeline-item-background: var(--theme-background);
  --timeline-element-border: var(--theme-border);
  --timeline-item-header-border: var(--theme-border);

  --btn-default-background: var(--theme-background);
  --btn-default-text: var(--theme-main-text);
  --btn-default-border: var(--theme-border);
  --btn-default-hover-background: var(--default-background);
  --btn-default-hover-text: var(--theme-input-text);
  --label-default-background: var(--theme-background);
  --label-default-text: var(--theme-main-text);

  --box-background: var(--theme-background);
  --box-with-border-bottom-border: var(--theme-border);

  --box-footer-background: var(--theme-background);
  --box-footer-border-top: var(--theme-border);
  --popover-header-background: var(--theme-background);
  --popover-border: var(--theme-border);

  --tinymce-background: var(--theme-background);
  --tinymce-border: transparent;
  --tinymce-filter: invert(90%) !important;
}
