$Hard: #424240;
$Soft: #333;
$Detail: #222;
$Unfocused: #999;
$White: #eee;

@import "_base";

:root {
  --theme-wrapper-text: #777;
  --theme-hard: #fff;
  --theme-soft: #333;
  --theme-detail: #222;
  --theme-unfocused: #999;
  --theme-background: #202121;
  --theme-main-text: #fff;
  --theme-soft-text: #999;
  --theme-border: #3D3C3B;

  --link-text: #999;
  --link-focus: #fff;
  --link-hover: #ccc;
  --submenu-link: #999;

  --theme-table-border: #777;
  --submenu-hover-background: #333;


  --theme-navbar-background: #262626;
  --sidebar-background: #333;

  --input-background-color: #222;
  --input-border-color: #3D3C3B;
  --input-text-color: #fff;

  --theme-navbar-li-hover-color: var(--theme-wrapper-text);
  --theme-navbar-li-hover-background: var(--theme-background);

  --theme-table-info-background: #1e2d35;
  --theme-table-info-hover: #293e4e;

  --theme-box-border: none;
  --theme-box-header-border: 1px solid var(--theme-border);
  --theme-box-background: var(--theme-background);

  // Stuff from the base design
  --quick-creator-button-background: var(--theme-soft);
  --quick-creator-button-hover-background: var(--dashboard-widget-admin-border);
  --header-text: var(--theme-main-text);

  --modal-background: #222;
  --modal-inner-border: transparent;
  --calendar-today: #333;
  --calendar-week: #333;
  --dashboard-preview-gradient: #222;
  --dashboard-widget-admin-border: #3D3C3B;
  --footer-background: #262626;
  --footer-links-background: rgba(0, 0, 0, 0.2);
  --footer-logo-blue: none;
  --footer-logo-white: unset;

  --body-background: #262626;
  --body-text: #888;

  --gallery-text: var(--theme-hard);
  --gallery-background: var(--theme-background);
  --gallery-hover-text: var(--theme-unfocused);

  --relation-explorer-background: var(--theme-detail);
  --relation-explorer-text: var(--theme-hard);

  --conversation-comment-background: var(--theme-soft);

  --info-background: #3BA0B6;
  --success-background: #007239;
  --danger-background: #814948;
  --warning-background: #a96f13;
  --primary-background:  #496e81;
  --default-background: var(--theme-background);

  --tab-background: none;
  --bg-default-link: #fff;
  --well-background: var(--theme-background);
  --well-border: var(--theme-background);

  --dashboard-setup-widget-background: rgba(0, 0, 0, 0.7);
  --dashboard-setup-widget-hover: rgba(0, 0, 0, 0.8);

  --content-wrapper-background: #262626;

  --hr-border-top: 1px solid var(--theme-border);
}

// Tinymce stuff for dark mode
.mce-edit-area, .mce-content-body {
  filter: invert(90%) !important;
}


// Buttons in the navbar
.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
  background-color:var(--theme-soft);
  color: var(--theme-link);
}

.btn-danger {
  background-color: var(--danger-background);
  border: 1px solid var(--danger-background);
  &:hover, &:focus, .focus {
    background-color: #a2413f;
  }
}

.btn-info {
  background-color: var(--info-background);
}
.btn-primary {
  background-color: var(--primary-background);
  border: 1px solid var(--primary-background);
  &:hover, &:focus, .focus {
    background-color: #2ba6c1;
  }
}
.btn-warning {
  background-color: var(--warning-background);
  border: 1px solid var(--warning-background);
  &:hover, &:focus, .focus {
    background-color: #c4841d;
  }
}
.btn-default {
  background-color: var(--default-background);
  border: 1px solid var(--theme-border);
  color: var(--theme-unfocused);
  &:hover, &:focus, .focus {
    background-color: var(--default-background);
    border: 1px solid var(--theme-link-hover);
    color: var(--theme-link-hover);
  }
}

// Icons in navbar
.skin-black .main-header .navbar .nav > li > a, .skin-black .main-header .navbar > .sidebar-toggle {
  color: white;
}
// Notifications
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
  color: #ccc;
}
