$Hard: #42FFFF;
$Soft: #0C1416;
$Detail: #0B1F20;
$Unfocused: #157778;
$White: #eee;

@import "_base";

body {
  background-color: $Soft;
  background: linear-gradient(to left, $Detail, $Soft) !important;
}

.box, .panel, .timeline-item {
  border: 1px solid $Hard !important;
}

.btn {
  background-color: $Unfocused !important;
  color: white !important;
  border: 1px solid $Unfocused !important;
  //border-radius: 2px !important;

  &:hover {
    color: $Detail !important;
    background-color: $Hard !important;
    border: none !important;
  }
}
.btn-danger {
  &:hover {
    background-color: #992329 !important;
    color: white !important;
  }
}
.input-group-btn {
  .new-entity-selector {
    height: 38px !important;
  }
}

.filters {
  margin: 0 !important;
  border-bottom: none; //1px solid $Unfocused;
  border-radius: 0 !important;
}

.table {
  tr {
    td, th {
      border: none !important;
      border-top: none !important;
      border-bottom: none !important;
      color: #eee;
    }
  }
}

a {
  color: $Unfocused !important;
  &:hover {
    color: $Hard !important;
  }
}

.select2 {
  .select2-selection {
    border: none;
    height: 36px;
  }
}

.nav-tabs-custom {
  background: none;

  .tab-content {
    border: 1px solid $Hard;
    background: none;
  }
}

.nav-tabs {
  border: none !important;

  li {
    border: none;
    &:hover {
      background: $Detail;
      border: none;
      border-bottom: none;
      a {
        background: none;
      }
    }
  }
  li.active {
    border: none !important;
    a {
      color: $Soft !important;
      background-color: $Hard !important;
      border: none !important;
    }
  }
}


.main-sidebar {
  background-color: $Soft !important;
  .sidebar-text {
    span, i {
      color: $Unfocused;
    }
  }
  section.sidebar-campaign {
    background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, $Soft 100%);
  }
  .sidebar {
    background-color: $Soft;
  }

  li.active a {
    color: $Hard !important;
    background: $Detail !important;
  }
}

.input-group .input-group-addon {
  color: $White;
  border: 1px solid $Unfocused;
}

/**
 * Calendar
 */
.calendar {
  td.today {
    background-color: #1C2828;
  }
  .weather {
    color: $White;
    background-color: $Unfocused !important;
  }
}

.panel-body {
  .preview {
    background: none;
    &:before {
      background: linear-gradient(transparent 0px, $Detail) !important;;
    }
  }
}

input[type="checkbox"]:checked ~ label:before {
  content: "\2605";
}
