@import "_base";


:root {
  --theme-main-text: #777;
  --theme-hard-text: #eee;
  --theme-soft: #333;
  --theme-detail: #0a121b;
  --theme-background: #0a121b;
  --theme-soft-text: #999;
  --theme-border: #333;


  --theme-navbar-background: var(--theme-detail);
  --theme-navbar-li-hover-background: var(--theme-background);

  --theme-table-highlight: #0f1c2b;

  --theme-box-border: none;
  --theme-box-header-border: 1px solid var(--theme-border);
  --theme-box-background: var(--theme-background);


  --submenu-link: var(--link-text);

  --submenu-hover-background: #293e4e;

  --link-text: #9CD7F7;
  --link-focus: #fff;
  --link-hover: #d4eff7;

  --input-background-color: #0a121b;
  --input-border-color: #333;
  --input-text-color: #fff;

  // Stuff from the base design
  --quick-creator-button-background: var(--theme-background);
  --quick-creator-button-hover-background: var(--dashboard-widget-admin-border);
  --header-text: var(--theme-hard-text);

  --calendar-today: #0d3c5a;
  --calendar-week: #061f2f;
  --dashboard-preview-gradient: #0a121b;
  --dashboard-widget-admin-border: #3D3C3B;
  --footer-background: unset;
  --footer-links-background: rgba(0, 0, 0, 0.2);
  --footer-logo-blue: none;
  --footer-logo-white: unset;

  --body-background: #061f2f;
  --body-text: #d3d4d4;

  --gallery-text: var(--theme-hard-text);
  --gallery-background: var(--theme-background);
  --gallery-hover-text: var(--theme-soft-text);

  --relation-explorer-background: var(--theme-detail);
  --relation-explorer-text: var(--theme-hard-text);

  --conversation-comment-background: none;

  --tab-background: transparent;
  --tab-text: #fff;
  --bg-default-link: #fff;
  --well-background: var(--theme-background);
  --well-border: var(--theme-background);

  --dashboard-setup-widget-background: rgba(0, 0, 0, 0.7);
  --dashboard-setup-widget-hover: rgba(0, 0, 0, 0.8);

  --content-wrapper-background: none;

  --hr-border-top: 1px solid var(--theme-border);

  --sidebar-background: #0a121b;
  --sidebar-link: #9CD7F7;
  --breadcrumb-text: var(--sidebar-link);
  --campaign-switcher-background: #0a121b;

  --modal-background: #0a121b;
  --modal-inner-border: transparent;
  --navbar-li-text: #eee;

  --leaflet-popup-background: #0a121b;
  --leaflet-popup-text: #fff;

  --spectrum-border: #333;
  --spectrum-background: var(--theme-background);
  --spectrum-text: var(--theme-main-text);

  --search-background: var(--theme-background);
  --search-text: var(--theme-main-text);

  --search-cursor-background: #0e324a;
  --search-border: var(--theme-border);

  --dropdown-background: var(--theme-background);
  --dropdown-border: #333;
  --dropdown-hover-background: var(--search-cursor-background);
  --dropdown-hover-text: var(--theme-main-text);
}


// Icons in navbar
.skin-black .main-header .navbar .nav > li > a, .skin-black .main-header .navbar > .sidebar-toggle {
  color: white;
}
// Notifications
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
  color: #ccc;
}

.table > thead > tr > th {
  border-bottom: 1px;
}


@media (max-width: 991px) {
  .content-header > .breadcrumb {
    background: none !important;
  }

  .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    background-color: #0a121b;
  }
}
