@import "../variables";

$Hard: #fff;
$Soft: #333;
$Detail: #0a121b;
$Unfocused: #999;
$White: #eee;

// Links

@import "_base";


:root {
  --theme-wrapper-text: #777;
  --theme-hard: #fff;
  --theme-soft: #333;
  --theme-detail: #0a121b;
  --theme-unfocused: #999;
  --theme-background: #0a121b;
  --theme-main-text: #fff;
  --theme-soft-text: #999;
  --theme-border: transparent;

  --link-text: #9CD7F7;
  --link-focus: #fff;
  --link-hover: #d4eff7;
  --submenu-link: var(--link-text);

  --theme-table-border: #061f2f;
  --submenu-hover-background: #444;


  --theme-navbar-background: #0a121b;

  --input-background-color: #0a121b;
  --input-border-color: #333;
  --input-text-color: #fff;

  --theme-navbar-li-hover-color: var(--theme-wrapper-text);
  --theme-navbar-li-hover-background: var(--theme-background);

  --theme-table-info-background: #1e2d35;
  --theme-table-info-hover: #293e4e;

  --theme-box-border: none;
  --theme-box-header-border: 1px solid var(--theme-border);
  --theme-box-background: var(--theme-background);

  // Stuff from the base design
  --quick-creator-button-background: var(--theme-soft);
  --quick-creator-button-hover-background: var(--dashboard-widget-admin-border);
  --header-text: var(--theme-main-text);

  --calendar-today: #0d3c5a;
  --calendar-week: #061f2f;
  --dashboard-preview-gradient: #0a121b;
  --dashboard-widget-admin-border: #3D3C3B;
  --footer-background: unset;
  --footer-links-background: rgba(0, 0, 0, 0.2);
  --footer-logo-blue: none;
  --footer-logo-white: unset;

  --body-background: #061f2f;
  --body-text: #d3d4d4;

  --gallery-text: var(--theme-hard);
  --gallery-background: var(--theme-background);
  --gallery-hover-text: var(--theme-unfocused);

  --relation-explorer-background: var(--theme-detail);
  --relation-explorer-text: var(--theme-hard);

  --conversation-comment-background: none;

  /*--info-background: #3BA0B6;
  --success-background: #007239;
  --danger-background: #814948;
  --warning-background: #a96f13;
  --primary-background:  #496e81;
  --default-background: var(--theme-background);*/

  --tab-background: transparent;
  --tab-text: #fff;
  --bg-default-link: #fff;
  --well-background: var(--theme-background);
  --well-border: var(--theme-background);

  --dashboard-setup-widget-background: rgba(0, 0, 0, 0.7);
  --dashboard-setup-widget-hover: rgba(0, 0, 0, 0.8);

  --content-wrapper-background: none;

  --hr-border-top: 1px solid var(--theme-border);

  --sidebar-background: #0a121b;
  --sidebar-link: #9CD7F7;
  --campaign-switcher-background: #0a121b;

  --modal-background: #0a121b;
  --modal-inner-border: transparent;
  --navbar-li-text: #eee;
}


// Icons in navbar
.skin-black .main-header .navbar .nav > li > a, .skin-black .main-header .navbar > .sidebar-toggle {
  color: white;
}
// Notifications
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
  color: #ccc;
}


@media (max-width: 991px) {
  .content-header > .breadcrumb {
    background: none !important;
  }

  .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    background-color: $Detail;
  }
}
