@layer theme {
    html {
        color-scheme: dark;
        accent-color: hsl(var(--a)/1);
    }
    :root {
        // Background color
        --content-wrapper-background: hsl(var(--b3)/1);

        // Make the legacy editor work with dark mode
        --tinymce-filter: invert(90%) !important;

        --pf: 198 93% 53%;
        --sf: 234 89% 67%;
        --af: 175 70% 34%;
        --b1: 212 46% 7%;
        --b2: 222 47% 7%;
        --b3: 228 45% 5%;
        --bc: 229 7% 80%;
        --pc: 202 34% 14%;
        --sc: 239 22% 15%;
        --a: 175 70% 41%;
        --ac: 0 0% 100%;
        --nc: 221 7% 82%;
        --inc: 208 79% 92%;
        --suc: 169 31% 13%;
        --wac: 39 36% 14%;
        --erc: 354 28% 15%;
        --p: 198 93% 60%;
        --s: 234 89% 74%;
        --n: 217 33% 17%;
        --nf: 217 30% 22%;
        --in: 198 90% 28%;
        --su: 172 66% 50%;
        --wa: 41 88% 64%;
        --er: 351 95% 71%;

        --si: var(--b2);
        --sif: var(--pf);
    }
}

