:root {

    --theme-main-text: #c7c7c7;
    --theme-hard-text: #E1E1E1;
    --theme-soft: #182c41;
    --theme-detail: #061f2f;
    --theme-background: #0a121b;
    --theme-border: #333;
    --theme-link: #9cd7f7;

    --box-background: hsl(var(--b1)/1);

    --sidebar-background: var(--theme-background);

    --calendar-week: var(--theme-soft);
    --calendar-weather: var(--theme-border);
    --calendar-season-text: var(--theme-main-text);
    --calendar-event-default: var(-theme-background);

    --footer-logo-blue: none;
    --footer-logo-white: inline;

    --body-background: var(--theme-detail);
    --body-text: var(--theme-main-text);

    --content-wrapper-background: hsl(var(--b3)/1);

    --spectrum-border: var(--theme-border);
    --spectrum-background: var(--theme-background);
    --spectrum-text: var(--theme-main-text);

    --popover-header-background: var(--theme-background);
    --popover-border: var(--theme-border);

    --tinymce-background: var(--theme-background);
    --tinymce-border: transparent;
    --tinymce-filter: invert(90%) !important;
    --tinymce-input-background: var(--theme-background);
    --tinymce-input-border: var(--theme-border);
    --tinymce-input-text: var(--theme-main-text);


    --pf: 198 93% 53%;
    --sf: 234 89% 67%;
    --af: 175 70% 34%;
    --b2: 222 47% 4%;
    --b3: 0 0% 0%;
    --bc: 229 7% 80%;
    --pc: 202 34% 14%;
    --sc: 239 22% 15%;
    --a: 175 70% 41%;
    --ac: 0 0% 100%;
    --nc: 221 7% 82%;
    --inc: 208 79% 92%;
    --suc: 169 31% 13%;
    --wac: 39 36% 14%;
    --erc: 354 28% 15%;
    --p: 198 93% 60%;
    --s: 234 89% 74%;
    --n: 217 33% 17%;
    --nf: 217 30% 22%;
    --b1: 212 46% 7%;
    --in: 198 90% 48%;
    --su: 172 66% 50%;
    --wa: 41 88% 64%;
    --er: 351 95% 71%;
}

.hover\:shadow-md:hover {
    --tw-shadow-color: hsl(var(--p)/1);
    --tw-shadow: var(--tw-shadow-colored);
}

.family-tree {
    //--family-tree-founder: var(--theme-link-hover);
}

#cy {
    --relation-explorer-background: hsl(var(--b1)/1);
    --relation-explorer-text: hsl(var(--bc)/1);
}
